﻿@model MandirDarsan.Areas.Admin.Models.Culture

@{
    ViewBag.Title = "Create";
}

@*<h2>Create</h2>*@



													@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
   
    <div class="col-md-9">
       <div class="form-horizontal col-md-10">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                					@Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
								

                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                					@Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
								

                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Active)
                    @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create New Culture" class="btn btn-success" />
               <a href="/admin/Cultures/index"> <input type="button" value="Back To List" class="btn btn-danger" /></a>
            </div>
        </div>
    </div>
	 </div>
}

<div>
  @*  @Html.ActionLink("Back to List", "Index") *@
</div>


	  

        @section Scripts {
            @{
				await Html.RenderPartialAsync("_CreateEdit");
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
        }