﻿@*@model IEnumerable<MandirDarsan.Areas.Admin.Models.Culture>*@
@model PagedList.IPagedList<MandirDarsan.Areas.Admin.Models.Culture>
@using PagedList.Mvc

@{
    ViewBag.Title = "Delete";
}


<div class="col-md-9">
 
 <div class="clearfix alert alert-grey">
            <div class="pull-right">
                <a href="~/Admin/Cultures/Create/" class="btn btn-primary btn-sm">Create New</a>
				<a href="~/Admin/Cultures/Index/" class="btn btn-primary btn-sm">Index</a><br/>
            </div>
 </div>
 <div class="table-responsive clearfix">
 @if (Model.Any())
        {
        <table class="table table-striped table-common">
			<thead>    
				<tr>
        
        <th>
            @Html.DisplayNameFor(model => model.First().Title)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.First().Code)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.First().Active)
        </th>
        <th></th>
    </tr>
 </thead>
   <tbody>
@foreach (var item in Model) {
    <tr>
	       
		<td>
		   				@Html.DisplayFor(modelItem => item.Title)
		           </td>
	 
	       
		<td>
		   				@Html.DisplayFor(modelItem => item.Code)
		           </td>
	 
	       
		<td>
		   				@Html.DisplayFor(modelItem => item.Active)
		           </td>
	 
        <td>
							 <table>
                                <tr>
                                    <td>
                                        <form method="post" class="form-horizontal" role="form" action="/Admin/Cultures/RecoverTrash?id=@item.Id" asp-anti-forgery="true">
                                            @Html.AntiForgeryToken()
                                            <input type="submit" value="Undelete" class="btn btn-primary" />
                                        </form>	
                                    </td>
                                    <td>
                                        <form id="deleteForm" method="post" class="form-horizontal" role="form" action="/Admin/Cultures/DeleteTrashItem?id=@item.Id" asp-anti-forgery="true">
                                            @Html.AntiForgeryToken()
                                            <input type="submit" value="Permanent Delete" class="btn btn-danger delete-btn"/>
                                        </form>
                                    </td>
                                </tr>
                            </table>
        </td>
    </tr>
}
  </tbody>
        </table>
		<text>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</text>
		}		
		else
		{<BR/><BR/><BR/>
    <div class="text-center">
                <p> Nothing Found In Trash ! If you want to contribute</p>
            <a href="~/Admin//Cultures/Create/" class="btn btn-primary btn-sm">Create New /Culture</a>
            </div>
	}
	</div>
</div>

@section Scripts {
    @{
        <script src="~/js/bootbox.min.js" type="text/javascript"></script>
        <script>
            $('#deleteForm').on('click', '.delete-btn', function (e) {
                e.preventDefault();
                bootbox.dialog({
                    title: 'Confirm',
                    message: 'Are you sure delete this post',
                    className: 'my-class',
                    buttons: {
                        cancel: {
                            className: 'btn btn-default',
                            label: 'Close'
                        },
                        success: {
                            className: 'btn btn-success',
                            label: 'Delete',
                            callback: function () { 
                                $('#deleteForm').submit();
                            }
                        }
                    }
                });
            });
            $('#EmptyTrash').on('click', '.btn-emptyTrash', function (e) {
                e.preventDefault();
                bootbox.dialog({
                    title: 'Confirm',
                    message: 'Are you sure Empty Trash?',
                    className: 'my-class',
                    buttons: {
                        cancel: {
                            className: 'btn btn-default',
                            label: 'Close'
                        },
                        success: {
                            className: 'btn btn-success',
                            label: 'Empty Trash',
                            callback: function () {
                                $('#EmptyTrash').submit();
                            }
                        }
                    }
                });
            });
        </script>
    }
}

@*@Html.PagedListPager(Model,pageNo => Url.Action("Index",new { pageNo,sortOrder = ViewBag.CurrentSort,currentFiler=ViewBag.CurrentFilter,filtervalue=ViewBag.FilterValue}))*@
