﻿@model MandirDarsan.Areas.Admin.Models.Culture

@{
    ViewBag.Title = "Edit";
}

@*<h2>Edit</h2>*@


													@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
                <input type="hidden" name="CreatedBy" value="@Model.CreatedBy"/>
                <input type="hidden" name="CreatedDate" value="@Model.CreatedDate"/>
                <input type="hidden" name="CreatedDate" value="@Model.DelFlg" />

<div class="col-md-9">
    <div class="form-horizontal col-md-10">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
						  
					@Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
				                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>
	
        <div class="form-group">
            @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
						  
					@Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
				                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
            </div>
        </div>
	
        <div class="form-group">
            @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Active)
                    @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
	
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save Culture" class="btn btn-success" />
				<a href="/admin/Cultures/index"> <input type="button" value="Back To List" class="btn btn-danger" /></a>
                @*<input type="button" value="Back To List" class="btn btn-danger" />*@
            </div>
        </div>
    </div>
	</div>



}
	   


@section Scripts {
    @{
		await Html.RenderPartialAsync("_CreateEdit");
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}