﻿@{
    ViewData["Title"] = "Confirm Email";
}

<h2>@ViewData["Title"].</h2>
<div>
    <p translate>
        Thank you for confirming your email. Please <a asp-controller="Account" asp-action="Login" translate>Click here to Log in</a>.
    </p>
</div>
