﻿@model IEnumerable<MandirDarsan.Areas.Admin.Models.ActivityLog>
@*@Html.Partial("_Breadcrumb")*@
@*<section class="block block-light">
    <div class="container">
        <div class="row">


*@ 

<div class="col-md-9">
    <div class="profile-info-name text-center add-margin-30">
        <img alt="profile-image" class="thumb-lg img-circle img-thumbnail" src="../images/avatar-1.jpg">
        <h4 class="m-b-5"><b></b></h4>
        <p class="text-muted"><i class="fa fa-map-marker"></i> New york, United States</p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card-box">
                <h4 class="header-title"><b>Personal Information</b></h4>
                <div class="p-20">
                    <div class="about-info-p">
                        <strong>Full Name</strong>
                        <br>
                        <p class="text-muted">Johnathan Deo</p>
                    </div>
                    <div class="about-info-p">
                        <strong>Mobile</strong>
                        <br>
                        <p class="text-muted">(123) 123 1234</p>
                    </div>
                    <div class="about-info-p">
                        <strong>Email</strong>
                        <br>
                        <p class="text-muted">johnathan@ubold.com</p>
                    </div>
                    <div class="about-info-p m-b-0">
                        <strong>Location</strong>
                        <br>
                        <p class="text-muted">USA</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card-box">
                <h4 class=" header-title"><b>Biography</b></h4>

                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>

                <p><strong>But also the leap into electronic typesetting, remaining essentially unchanged.</strong></p>

            </div>
        </div>
    </div>
    <div class="card-box">
        <h4 class="header-title"><b>Activity</b></h4>
        <div class="timeline-2">
@for(int i=0;i<10;i++) {
    <div class="time-item">
        <div class="item-info">
            <div class="text-muted">5 minutes ago</div>
            <p>
                <strong><a class="text-info" href="#">test</a></strong> Uploaded a photo <strong>"DSC000586.jpg"</strong>
            </p>
        </div>
    </div>
}
        </div>
    </div>
</div>

@*</div>
        </div>
    </section>*@