﻿@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="text-danger" translate>Locked out.</h1>
    <p class="text-danger" translate>This account has been locked out, please try again later.</p>
</header>
