﻿@using System.Collections.Generic
@using System.Threading.Tasks
@using MandirDarsan.Models
@using MandirDarsan.ViewModels.Account
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Authentication
@using Microsoft.AspNet.Identity
@model MandirDarsan.ViewModels.Account.LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Log in";
}
@Html.Partial("_Breadcrumb")
<section class="block block-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post"  role="form">
                    <h2 class="text-center" translate>Login</h2>
                    <p class="text-center add-margin-30" translate>
                        Login to get most out of MandirDarsan
                    </p>
                    <p class="text-center add-margin-30">
                        <button type="submit" name="provider" value="Facebook" title="Log in using your Facebook account"><img alt="" src="/images/signup-Facebook.png"></button>
                        @*<button type="submit" name="provider" value="Facebook" title="Log in using your Facebook account"><img alt="" src="/images/signup-google.png"></button>*@
                    </p>
                    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
                    @*<div class="form-group">*@
                        @*<label asp-for="Email" class="col-md-2 control-label"></label>*@
                        <div class="form-group">
                            <input asp-for="Email" class="form-control"  translate translate-attr-translate translate-attr-placeholder="Enter Your Username"/>
                            <span asp-validation-for="Email" class="text-danger"></span>
                            <input asp-for="Password" class="form-control" translate translate-attr-placeholder="Enter Your Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                            <p>
                                <input asp-for="RememberMe"/>
                                <label asp-for="RememberMe" translate></label>

                            </p>
                            <button type="submit" class="btn btn-primary" translate>Log in</button>
                            <a asp-action="Register" class="forget-link" translate>Register as a new user?</a>
                            <a asp-action="ForgotPassword" class="forget-link" translate>Forgot Your Password?</a>
                        </div>
                   
                </form>
                @*<h4>Use Social Media to log in.</h4>
                <hr />
                @{
                    var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
                    if (loginProviders.Count == 0)
                    {

                    }
                    else
                    {
                        <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                            <div>
                                <p>
                                    @foreach (var provider in loginProviders)
                                    {
                                        <button type="submit" class="btn btn-default" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account">@provider.AuthenticationScheme</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }*@

            </div>
            
        </div>
    </div>
</section>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
