﻿@Html.Partial("_Breadcrumb")
<section class="block block-light">
    <div class="container">
        <div class="row">
           
            @Html.Partial("_UserMenu")
            <div class="col-md-9">
                <div class="table-responsive ">
                    <table class="table table-striped table-common">
                        <thead>
                            <tr>
                                <th translate>Code</th>
                                <th translate>Item</th>
                                <th translate>Price</th>
                                <th translate>Quantity</th>
                                <th translate>Purchase Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>212</td>
                                <td><a href="#">Rudrakshya</a></td>
                                <td>$300</td>
                                <td> 20</td>
                                <td>1 Aug 2014</td>
                            </tr>
                            <tr>
                                <td>212</td>
                                <td><a href="#">Rudrakshya</a></td>
                                <td>$300</td>
                                <td> 20</td>
                                <td>1 Aug 2014</td>
                            </tr>
                            <tr>
                                <td>212</td>
                                <td><a href="#">Rudrakshya</a></td>
                                <td>$300</td>
                                <td> 20</td>
                                <td>1 Aug 2014</td>
                            </tr>
                            <tr>
                                <td>212</td>
                                <td><a href="#">Rudrakshya</a></td>
                                <td>$300</td>
                                <td>20</td>
                                <td>1 Aug 2014</td>
                            </tr>
                            <tr>
                                <td>212</td>
                                <td><a href="#">Rudrakshya</a></td>
                                <td>$300</td>
                                <td>20</td>
                                <td>1 Aug 2014</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>