﻿@using System.Threading.Tasks
@using MandirDarsan.ViewModels.Account
@model MandirDarsan.ViewModels.Account.RegisterViewModel
@using hbehr.recaptcha
@{
    ViewData["Title"] = "Register";
}
@Html.Partial("_Breadcrumb")
    <section class="block block-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <form id="Account" action="~/English/Account/Register" method="post" class="form-horizontal" role="form">
                        @Html.AntiForgeryToken()
                        <h4 translate>Create A New Account</h4>
                        <hr/>
                        <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Fname" class="col-md-2 control-label" translate></label>
                            <div class="col-md-10">
                                <input asp-for="Fname" class="form-control" translate/>
                                <span asp-validation-for="Fname" class="text-danger" translate></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Lname" class="col-md-2 control-label" translate></label>
                            <div class="col-md-10">
                                <input asp-for="Lname" class="form-control" translate/>
                                <span asp-validation-for="Lname" class="text-danger" translate></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Username" class="col-md-2 control-label" translate></label>
                            <div class="col-md-10">
                                <input asp-for="Username" class="form-control" translate/>
                                <span asp-validation-for="Username" class="text-danger" translate></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="col-md-2 control-label" translate></label>
                            <div class="col-md-10">
                                <input asp-for="Email" class="form-control" translate/>
                                <span asp-validation-for="Email" class="text-danger" translate></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Password" class="form-control"/>
                                <span asp-validation-for="Password" class="text-danger" translate></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="ConfirmPassword" class="form-control"/>
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Captcha</label>
                            <div class="col-md-offset-2 col-md-10">
                                @Html.Raw(ReCaptcha.GetCaptcha(ReCaptchaLanguage.EnglishUs))
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-default" translate>Register</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </section>
            @section Scripts {
                @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
            }