﻿@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p translate>
    Your password has been reset. Please <a asp-controller="Account" asp-action="Login" translate>Click here to log in</a>.
</p>
