﻿@using System.Threading.Tasks
@using MandirDarsan.ViewModels.Account
@model MandirDarsan.ViewModels.Account.SendCodeViewModel
@{
    ViewData["Title"] = "Send Verification Code";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Account" asp-action="SendCode" asp-route-returnurl="@Model.ReturnUrl" method="post" class="form-horizontal" role="form">
    <input asp-for="RememberMe" type="hidden" />
    <div class="row">
        <div class="col-md-8">
            Select Two-Factor Authentication Provider:
            <select asp-for="SelectedProvider" asp-items="Model.Providers"></select>
            <button type="submit" class="btn btn-default" translate>Submit</button>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
