﻿@model IEnumerable<MandirDarsan.Areas.Admin.Models.Bhajan>
@{
    ViewBag.Title = "Bhajans";
}
@*<link href="~/lib/fancybox/source/jquery.fancybox.css" rel="stylesheet" />
<script src="~/lib/fancybox/source/jquery.fancybox.js"></script>
<script>
    $(document).ready(function () {
        $('.fancybox').fancybox();
    });
</script>*@
<section class="block block-light main-content">
    <div class="container">
        <div class="row">
            @foreach (var items in Model)
            {
                <div class="col-md-4">
                    <figure class="feature-thumb">
                        <div class="gallery-holder">
                            <a href="@items.YouTubeId" class="fancybox" rel="gallery"><object data="@items.YouTubeId" id="@items.Id" name="@items.Id"></object>
                            </a>
                        </div>
                  </figure>
                </div>
            }
        </div>
    </div>
</section>
