﻿@using System.Threading.Tasks
@using MandirDarsan
@model MandirDarsan.Areas.Admin.Models.Product
@{
    ViewBag.Title = @Model.Title;
}
@using Microsoft.AspNet.Http.Extensions
@*@model Album

@{
    ViewBag.Title = "Album - " + Model.Title;
}

<h2>@Model.Title</h2>

<p>
    <img alt="@Model.Title" src="@Url.Content(@Model.AlbumArtUrl)" />
</p>

<div id="album-details">
    <p>
        <em>Genre:</em>
        @Model.Genre.Name
    </p>
    <p>
        <em>Artist:</em>
        @Model.Artist.Name
    </p>
    <p>
        <em>Price:</em>
        <label>@Model.Price</label>
    </p>
    <p class="button">
        <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@Model.AlbumId">Add to cart</a>
    </p>
</div>*@

@section Tags {
    <meta name="description" content="@Model.Description" />
    <meta name="keywords" content="@Model.Title" />
    <meta name="author" content="@Model" />
    <meta name="copyright" content="mandirdarsan.com" />
    <meta name="application-name" content="mandirdarsan" />
    <meta property="og:title" content="mandirdarsan.com" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="@Model.ImageUrl" />
    <meta property="og:url" content="@this.Context.Request.GetDisplayUrl()" />
    <meta property="og:description" content="@Model.Summary" />
    <meta name="twitter:card" content="@Model.Summary" />
    <meta name="twitter:title" content="Virtual Tour of @Model.Title" />
    <meta name="twitter:description" content="@Model.Description" />
    <meta name="twitter:image" content="@Model.ImageUrl" />
}
@Html.Partial("_BreadCrumb")
<section class="block block-light">
    <div class="container">
        <div class="content-product-description">
            <div class="row">
                @if (Model.Verified == false)
                {
                    @Html.Partial("_VerificationMessage")
                }
                @if ((Model.Verified == true || User.IsInRole("Admin")) || (User.Identity.Name == Model.CreatedBy || User.Identity.Name == Model.ModifiedBy))
                {
                    <div class="col-md-5 ">
                        <div class="productgallery-holder">
                            <ul id="product-gallery" class="clearfix">
                                <li class="item active">
                                    <img src="@Model.ImageUrl" alt="@Model.Title">
                                </li>
                            </ul>
                            @*<div id="product-gallery-pager" class="clearfix">
                                <a data-slide-index="0" href=""><img src="~/images/Eight-Mukhi-Rudraksha.jpg" alt="" /></a>
                                <a data-slide-index="1" href=""><img src="~/images/Eight-Mukhi-Rudraksha.jpg" alt="" /></a>
                                <a data-slide-index="2" href=""><img src="~/images/Eight-Mukhi-Rudraksha.jpg" alt="" /></a>
                                <a data-slide-index="2" href=""><img src="~/images/Eight-Mukhi-Rudraksha.jpg" alt="" /></a>
                            @Html.Partial("_Sharer")  </div>*@
                        </div>
                        @Html.Partial("_Sharer")
                    </div>
                    <div class="col-md-7">
                        <div class="entry add-margin-30">
                            <h3>@Model.Title</h3>
                            <p>@Model.Summary</p>
                            <div class="price-data">
                                <span Class="price">@RockmanduBase.Priceformat(Model.Price.ToString())</span>
                            </div>
                            <div class="variations_button">
                                @*<div class="quantity buttons_added">
                                <form>
                                    <input type="button" class="minus" value="-" field='quantity'>
                                    <input type="number" class="input-text qty text" title="Qty" value="1" name="qty" step="1" min="1" id="qty">
                                    <input type="button" class="plus" value="+" field='quantity'>
                                </form>
                            </div>*@
                                <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@Model.Id" class="btn btn-primary" translate><span class="fa fa-shopping-cart"></span>Add to cart</a>
                            </div>
                        </div>
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" translate>
                                            Despcription <span class="fa fa-chevron-down"></span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        @Html.Raw(Model.Description)
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" translate>
                                            Speciality <span class="fa fa-chevron-down"></span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        @Model.Speciality
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
@Html.Partial("_BlockProducts")
