﻿@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
@using System.Threading.Tasks
@using MandirDarsan
@using MandirDarsan.Areas.Admin.Models
@using MandirDarsan.Models;
<script src="~/lib/money.js/money.js"></script>
<script type="text/javascript">
    // Load exchange rates data via the cross-domain/AJAX proxy:
    $.getJSON(
        'https://openexchangerates.org/api/latest.json?app_id=25579dc1e4474f848a3b2e65e7afe70f',
        function(data) {
            // Check money.js has finished loading:
            if (typeof fx !== "undefined" && fx.rates) {
                fx.rates = data.rates;
                fx.base = data.base;
            } else {
                // If not, apply to fxSetup global:
                var fxSetup = {
                    rates: data.rates,
                    base: data.base
                }
            }
        }
    );
</script>

@*<H1>

        <script>fx(16288).convert({ from: "HKD", to: "GBP" })</script>
    </H1>*@
@Html.Partial("_BreadCrumb")
@if ((ViewData["category"] != null) || (ViewData["products"] != null))
{
    <section class="block block-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar">
                    @if (ViewData["category"] != null)
                    {
                        <div class="widget">
                            <h5 class="widget-title" translate>Category</h5>
                            <div class="box-widget">
                                <ul class="nav-lists">
                                    @foreach (var item in ViewData["category"] as List<Categories>)
                                    {
                                        if (User.IsInRole("Admin"))
                                        {
                                            <li><a asp-controller="Store" asp-action="Index" asp-route-id="@item.Id" asp-route-culture="@ViewContext.RouteData.Values["culture"].ToString()" asp-route-title="@item.Title">@Html.Raw(@item.Title.Replace("<Translation Needed Here>", "<a href=\"/Admin/Categories/Edit/" + @item.Id + "?lang=" + @ViewContext.RouteData.Values["culture"].ToString() + "\">*</a>"))</a></li>
                                        }
                                        else
                                        {
                                            <li><a asp-controller="Store" asp-action="Index" asp-route-id="@item.Id" asp-route-culture="@ViewContext.RouteData.Values["culture"].ToString()" asp-route-title="@item.Title">@item.Title.Replace("<Translation Needed Here>","")</a></li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    }
                </div>
            </div>
            @if (ViewData["products"] != null)
            {
                <div class="col-md-9">
                    <div class="content-product  ">
                        @foreach (var item in ViewData["products"] as List<Product>)
                        {
                            <div class="col-sm-4">
                                <div class="product-item">
                                    <figure class="img-holder">
                                        <img src="@item.ImageUrl.Replace(".jpg","_productthumb.jpg")" alt="" style="height: 166px; width: 250px;" />
                                    </figure>
                                    <div class="product-entry">
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Store/Details/@item.Title.Replace(" ", "_")/@item.Id"><h5 class="product-name">@Html.Raw(@item.Title.Replace("<Translation Needed Here>", "<a href=\"/Admin/Products/Edit/" + @item.Id + "?lang=" + @ViewContext.RouteData.Values["culture"].ToString() + "\">*</a>"))</h5></a>
                                        }
                                        else
                                        {
                                            <a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Store/Details/@item.Title.Replace(" ", "_")/@item.Id"><h5 class="product-name">@item.Title</h5></a>
                                        }

                                        @if (User.IsInRole("Admin"))
                                        {
                                            <p>@Html.Raw(@item.Summary.Replace("<Translation Needed Here>", "<a href=\"/Admin/Products/Edit/" + @item.Id + "?lang=" + @ViewContext.RouteData.Values["culture"].ToString() + "\">*</a>"))</p>
                                        }
                                        else
                                        {
                                            <p>@Html.Raw(item.Summary)</p>
                                        }
                                        <span class="price">@RockmanduBase.Priceformat(item.Price.ToString())</span>
                                        <div class="btn-group">
                                            <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@item.Id" asp-route-qty="1" class="btn btn-primary" translate>Add to cart</a>
                                            @*<a asp-controller="Store" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary" translate>View Detail</a>*@
                                            <a class="btn btn-primary ng-scope" translate="" href="~/@ViewContext.RouteData.Values["culture"].ToString()/Store/Details/@item.Title.Replace(" ", "_")/@item.Id">View Detail</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</section>
}
else
{
    <section>
        There are no items in store
    </section>

}
