﻿@model IEnumerable<MandirDarsan.Areas.Admin.Models.Categories>
@*@using MandirDarsan
@{
    Layout = null;
}
<style type="text/css">
    ins {
        background-color: #cfc;
        text-decoration: inherit;

    }

    del {
        color: #999;
        background-color: #FEC8C8;
    }

    ins.mod {
        background-color: #FFE1AC;
    }
</style>
Previous Text<Br />
@Html.Raw(ViewBag.First)
<Br/>
Edited Text<Br />
@Html.Raw(ViewBag.Second)
<Br/>

Final Combination<BR/>
@Html.Raw(ViewBag.Message)

@{

}*@

@*assads*@