﻿@model MandirDarsan.Areas.Admin.Models.Contact
@{
    ViewBag.Message = "Contact Us";
}
@Html.Partial("_BreadCrumb")
<section class="block block-light main-content">
    <div class="container">
        <div class="row">
            <div class="contact-details clearfix">
                <div class="col-md-4 contact-info">
                    <h3 translate>Address:</h3>
                    <i class="fa fa-home"></i>
                    <div class="entry">
                        Mandir Darshan<br>
                        Purano Baneshwor, <br> Kathmandu, Nepal
                    </div>
                </div>
                <div class="col-md-4 contact-info">
                    <h3 translate>Phones:</h3>
                    <div class="entry">
                        <i class="fa fa-fax" translate></i> +977 9851050678<br>
                        <i class="fa fa-phone" translate></i> +977 9841062442<br>
                    </div>
                </div>
                <div class="col-md-4 contact-info">
                    <h3 translate>E-Mail:</h3>
                    <i class="fa fa-envelope"></i>
                    <div class="entry">
                        <a href="mailto:info@teamrockmandu.com">info@mandirdarsan.com</a>
                    </div>
                </div>
            </div>
            <form asp-controller="Home" asp-action="Contact" asp-antiforgery="true" method="post" role="form">
                <div class="contact-form">
                    <div class="col-md-12">
                        <h3 translate>Your Contact Information:</h3>
                        <p translate>Please contact us for any kind of Relegious Services. </p>
                        @*<form asp-controller="Home" asp-action="Contact" method="post" role="form">*@
                            @*<form role="form" asp-antiforgery="true">
                                    @Html.AntiForgeryToken()*@
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label translate>Name</label>
                                        @*<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter Full Name">*@
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Your Name" } })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label translate>Email Address</label>
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Your Email" } })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label translate>Phone/ Mobile No.</label>
                                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", placeholder = "Your Phone No." } })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label translate>Inquiry/ Comments</label>
                                @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control", placeholder = "Your Message here!" } })
                            </div>
                            <button type="submit" class="btn btn-primary pull-right" translate>Send Message</button>
                        @*</form>*@
                    </div>
                </div>
               </form>
        </div>
    </div>
</section>
<section id="locaton-map">
    <div style="width: 100%;" id="map-canvas"></div>
</section>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}