﻿@model IEnumerable<MandirDarsan.Areas.Admin.Models.Gallery>
@{
    ViewBag.Title = "Gallery";
}
<link href="~/lib/fancybox/source/jquery.fancybox.css" rel="stylesheet" />
<script src="~/lib/fancybox/source/jquery.fancybox.js"></script>
<script>
    $(document).ready(function () {
        $('.fancybox').fancybox();
    });
</script>
<section class="block block-light main-content">
    <div class="container">
        <div class="row">
            @foreach (var items in Model)
            {
                <div class="col-md-2">

                    <figure class="feature-thumb">
                        <div class="gallery-holder">
                            <a href="@items.ImageUrl" class="fancybox" rel="gallery"><img src="@items.ImageUrl.Replace(".jpg", "_carousel.jpg")" alt="" /></a>
                        </div>
                    </figure>
                </div>
            }
        </div>
    </div>
</section>