﻿@using System.Threading.Tasks
@using MandirDarsan.Areas.Admin.Models
@using MandirDarsan.Models;
@{
    ViewData["Title"] = "Home Page";
}
@*@Html.Partial("_Banner")*@
@if (ViewData["Banners"] != null)
{
    <section id="billboard">
        <ul id="banner-slider" class="clearfix">
            @foreach (var items in ViewData["Banners"] as List<Gallery>)
            {
                if (items.ImageUrl.Any())
                {
                    <li>
                        @try
                        {
                            <div class="item" style="background: url('http://mandirdarsan.com/@items.ImageUrl.Replace("~/", "")') center top; background-size: cover;">
                                @*@if (items.Description.Length > 0)
                            {
                                    <div class="carousel-caption">
                                        @try
                                        {
                                            @Html.Raw(items.Description.Substring(0, 167))
                                        }
                                        catch (Exception)
                                        {
                                            @Html.Raw(items.Description)
                                        }
                                    </div>
                                }*@
                            </div>
                        }
                        catch (Exception)
                        {
                                

                        }
                    </li>
                }
            }
        </ul>
    </section>
}
<section class="block clearfix ">
    <div class="container">
        <div class="col-md-7 welcome add-margin-phone">
            @*<h1 translate>welcome to <strong>Mandir Darsan</strong>
            </h1>*@
            <h1 translate>Welcome To Mandir Darsan</h1>
            <p translate>
                Mandirdarsan.com aims to give viewers the closest experience to actually being in their places of faith. The Hindu people are spread all over the globe but their emotional and spiritual contact still remains in their homeland.
            </p>
            <p>
                Through mandirdarsan.com we aim to give viewers a feel of actually being at their desired religious place at the tips of their finger. We aim to cover all of the religious places around Nepal, India and wherever possible.
            </p>
        </div>
        <div class="col-md-5 ">
            @if (ViewData["Carousel"] != null)
            {
                <div class="gallery-holder">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            @{
                                int count = 0;
                            }
                            @foreach (var item in ViewData["Carousel"] as List<Gallery>)
                            {
                                <div class="item @((count == 0) ? "active" : "")">
                                    <img src="@item.ImageUrl.Replace(".jpg", "_Carousel.jpg")" alt="Chania">
                                    @*<div class="carousel-caption">
                                        <h3>@item.Title</h3>
                                        <p>@Html.Raw(item.Description)</p>
                                    </div>*@
                                </div>
                                count ++;
                            }
                        </div>
                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only" translate>Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only" translate>Next</span>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
@if (ViewData["Temple"] != null) 
{
<section class="block clearfix block-dark">
    <div class="container">
        <div class="row">
            <h2 class="text-center sec-title" translate>Popular Temples</h2>
            @foreach (var item in ViewData["Temple"] as List<Temple>)
            {
                <div class="col-md-6 ">
                    <div class="post-list">
                        <article class="post ">
                            <div class="post-content">
                                <figure class="poast-thumb img-align-left">
                                    @try
                                    {
                                        <img alt="" src="@item.ImageUrl.Replace(".jpg", "_bigthumb.jpg")" style="height: 291px">
                                    }
                                    catch (Exception)
                                    {
                                        <img alt="" src="@item.ImageUrl" style="height: 291px">
                                    }
                                    @*<img alt="" src="@item.ImageUrl.Replace(".jpg", "_bigthumb.jpg")" style="height: 291px">*@
                                </figure>
                                <div class="entry">
                                    <h4>
                                        <a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Temples/Details/@item.Title.Replace(" ", "_")/@item.Id">
                                            @try
                                            {
                                                @item.Title.Substring(0,18)
                                            }
                                            catch (Exception)
                                            {
                                                @item.Title
                                            }
                                        </a>
                                    </h4>
                                    @try
                                    {
                                        <p>@item.Summary</p>
                                    }
                                    catch (Exception)
                                    {
                                    }
                                    <a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Temples/Details/@item.Title.Replace(" ","_")/@item.Id" class="readmore"><span translate>Read more</span></a>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
}
@if (ViewData["Gallery1"] != null && ViewData["Gallery2"] != null)
{
    <section class="gallery">
        <ul class="image-gallery">
            @foreach (var items in ViewData["Gallery1"] as List<Gallery>)
            {
                try
                {
                    <li class="image-gallery-item"><a href="@items.ImageUrl" rel="group" class="gallery-popup"><img src="@items.ImageUrl.Replace(".jpg","_carousel.jpg")" alt="@items.Title" /></a></li>
                }
                catch (Exception)
                {

                    <li class="image-gallery-item"><a href="@items.ImageUrl" rel="group" class="gallery-popup"><img src="@items.ImageUrl" alt="@items.Title" /></a></li>
                }

            }
        </ul>
        <ul class="image-gallery1">
            @foreach (var items in ViewData["Gallery2"] as List<Gallery>)
            {
                try
                {
                    <li class="image-gallery-item"><a href="@items.ImageUrl" rel="group" class="gallery-popup"><img src="@items.ImageUrl.Replace(".jpg","_carousel.jpg")" alt="@items.Title" /></a></li>
                }
                catch (Exception)
                {
                    <li class="image-gallery-item"><a href="@items.ImageUrl" rel="group" class="gallery-popup"><img src="@items.ImageUrl" alt="@items.Title" /></a></li>


                }

            }
        </ul>
    </section>
}
<section class="block">
    <div class="container">
        @if (ViewData["Temple"] != null)
        {
            <cache expires-after="@TimeSpan.FromMinutes(5)" vary-by-route="culture">
                <div class="col-md-4">
                    <h3 translate>Most Visited Sites</h3>
                    @foreach (var items in ViewData["MostVisitedSites"] as List<Temple>)
                    {
                        <div class="article-list clearfix">
                            @try
                    {
                                <figure class="image-holder align-left"><img src="@items.ImageUrl.Replace(".jpg", "_smallthumb.jpg")" alt="" /></figure>
                            }
                            catch (Exception)
                            {
                                <figure class="image-holder align-left"><img src="@items.ImageUrl" alt="" /></figure>
                            }
                            <div class="entry">
                                <h6>
                                    <a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Temples/Details/@items.Title.Replace(" ", "_")/@items.Id" translate>
                                        @items.Title
                                    </a>
                                </h6>
                                <p>
                                    @try
                                    {
                                        @items.Summary.Substring(0, 90)
                                    }
                                    catch (Exception)
                                    {
                                        @items.Summary
                                    }
                                    <a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Temples/Details/@items.Title.Replace(" ", "_")/@items.Id" translate>Read More</a>
                                </p>
                            </div>
                        </div>
                    }
                </div>
            </cache>
        }
        @*@if (ViewData["Packages"] != null)
        {
            <div class="col-md-4">
                <h3 translate>Popular Packages</h3>
                @foreach (var items in ViewData["Packages"] as List<Package>)
                {
                    <div class="article-list clearfix">
                        @try
                        {
                            <figure class="image-holder align-left"><img src="@items.ImageUrl.Replace(".jpg", "_smallthumb.jpg")" alt="" /></figure>
                        }
                        catch (Exception)
                        {
                            <figure class="image-holder align-left"><img src="@items.ImageUrl" alt="" /></figure>
                        }
                        <div class="entry">
                            <h6>@items.Title</h6>
                            <p>
                                @try
                                {
                                    @Html.Raw(items.Summary.Substring(0, 90))
                                }
                                catch (Exception)
                                {

                                    @Html.Raw(items.Summary)
                                }
                               
                                <a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Services/Details/Packages/@items.Title.Replace(" ","_")/@items.Id" translate>Read More</a>
                            </p>
                        </div>
                    </div>
                }
            </div>
        }*@
        @if (ViewData["Articles"] != null)
        {
            <div class="col-md-4">
                <h3 translate>Popular Articles</h3>
                @foreach (var items in ViewData["Articles"] as List<Library>)
                {
                    <div class="article-list clearfix">
                        @try
                        {
                            <figure class="image-holder align-left"><img src="@items.ImageUrl.Replace(".jpg", "_smallthumb.jpg")" alt="" /></figure>
                        }
                        catch (Exception)
                        {
                            <figure class="image-holder align-left"><img src="@items.ImageUrl" alt="" /></figure>
                        }
                        <div class="entry">
                            <h6>
                                <a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Library/Details/Article/@items.Title.Replace(" ", "_")/@items.Id">@items.Title</a>
</h6>
                            <p>
                                @try
                                {
                                    @Html.Raw(items.Summary.Substring(0, 90))
                                }
                                catch (Exception)
                                {

                                    @Html.Raw(items.Summary)
                                }

                                <a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Library/Details/Article/@items.Title.Replace(" ","_")/@items.Id" translate>Read More</a>
                            </p>
                        </div>
                    </div>
                }
            </div>
        }
        @if (ViewData["Products"] != null)
        {
            <div class="col-md-4">
                <h3 translate>Today's Special</h3>
                @foreach (var items in ViewData["Products"] as List<Product>)
                {
                    <div class="article-list clearfix">
                        <figure class="image-holder align-left">
                            @try
                            {
                                <img src="@items.ImageUrl.Replace(".jpg", "_smallthumb.jpg")" alt="" />
                            }
                            catch (Exception)
                            {
                                <img src="@items.ImageUrl" alt="" />
                            }
                        </figure>
                        <div class="entry">
                            <h6><a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Store/Details/@items.Title.Replace(" ", "_")/@items.Id" translate>@items.Title.Replace("<Translation Needed Here>", "")</a></h6>
                            <p>
                                @try
                                {
                                    @Html.Raw(items.Summary.Substring(0, 90))
                                }
                                catch (Exception)
                                {
                                    @Html.Raw(items.Summary)
                                }
                                <a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Store/Details/@items.Title.Replace(" ", "_")/@items.Id" translate>Read More</a>
                            </p>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</section>

<section id="locaton-map">
    <div style="width:100%" id="map-canvas"></div>
</section>