﻿@model MandirDarsan.ViewModels.Mandir.SearchViewModeltest
@using MandirDarsan.Models;
@Html.Partial("_BreadCrumb")
<section class="block block-light">
    <div class="container">
        @if (Model.Results != null)
        {
            foreach (var item in Model.Results)
            {
                <article class="article-post">
                    <div class="post-content clearfix row">
                        <div class="col-sm-4">
                            <figure class="post-thumb ">
                                @*<a href="#">*@
                                    <img alt="" src="@item.Image.Replace(".jpg","_carousel.jpg")">
                                @*</a>*@
                            </figure>
                        </div>
                        <div class="col-sm-8">
                            <div class="entry">
                                <h3>
                                    <a href="@item.Url">@item.Title</a>
                                </h3>
                                <p>
                                    @item.Description
                                </p>
                                <a href="@item.Url" class="btn btn-primary"><span>View Details</span></a>
                            </div>
                        </div>
                    </div>
                </article>
            }
        }
        else
        {
            <text> No Result found for your search ! </text>
        }
    </div>
</section>