﻿@Html.Partial("_BreadCrumb")
            <section class="block block-light main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p>Thank you so much for your feedBack , we will contact you as soon as possible</p>
            </div>
            @*<div class="col-md-4">
                <div class="sidebar">
                    <div class="widget">
                        <h3 translate>Popular Packages</h3>
                        @for (int i = 0; i < 3; i++)
                        {
                            <div class="article-list clearfix">
                                <figure class="image-holder align-left"><img src="~/images/img6.jpg" alt=""/></figure>
                                <div class="entry">
                                    <h6>Pashupatinath Temple</h6>
                                    <p>
                                        Pashupatinath Temple is one of the most significant Hindu temples of Shiva in the world, loca....
                                        <a href="#">Read More</a>
                                    </p>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="widget">
                        <h3 translate>Today's Special</h3>
                        @for (int i = 0; i < 3; i++)
                        {
                            <div class="article-list clearfix">
                                <figure class="image-holder align-left"><img src="~/images/img6.jpg" alt="" /></figure>
                                <div class="entry">
                                    <h6>Pashupatinath Temple</h6>
                                    <p>
                                        Pashupatinath Temple is one of the most significant Hindu temples of Shiva in the world, loca....
                                        <a href="#">Read More</a>
                                    </p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</section>
         