﻿@model MandirDarsan.Areas.Admin.Models.Puja

@{
    ViewBag.Title = "Create";
}
<div @Html.Partial("_CultureHelper")>
<form action="/Admin/Pujas/Create/" enctype="multipart/form-data" method="post" >
    @Html.AntiForgeryToken()
    <div class="col-md-9">
@Html.Partial("_CreateEditCulture")
			<br />
            <div id="my-tab-content" class="tab-content">
                <div ng-repeat="culturecode in subCulture" class="tab-pane" id="s{{culturecode}}">
	   
	   <div class="form-horizontal col-md-10">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2", @translate=""})
            <div class="col-md-10">
                                 <input class="form-control text-box single-line required" id="Title{{culturecode}}" name="Title{{culturecode}}" type="text" value="" >
								

            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.TempleId, htmlAttributes: new { @class = "control-label col-md-2", @translate=""})
            <div class="col-md-10">
                                 <input class="form-control text-box single-line required" id="TempleId{{culturecode}}" name="TempleId{{culturecode}}" type="text" value="" >
								

            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2", @translate=""})
            <div class="col-md-10">
                										<textarea class="form-control" id="Description{{culturecode}}" name="Description{{culturecode}}"></textarea>

								

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Summary, htmlAttributes: new { @class = "control-label col-md-2", @translate=""})
            <div class="col-md-10">
                                 <input class="form-control text-box single-line required" id="Summary{{culturecode}}" name="Summary{{culturecode}}"  maxlength="304" minlength="300" type="text"  value="" >
								

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImageUrl, htmlAttributes: new { @class = "control-label col-md-2", @translate=""})
            <div class="col-md-10">
                					<input name="ImageUrl" id="ImageUrl" class="form-control" type="file" />
								

            </div>
        </div>

			</div>
		</div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create New Puja" class="btn btn-success" translate/>
               <a href="/admin/Pujas/index"> <input type="button" value="Back To List" class="btn btn-danger" translate /></a>
            </div>
        </div>
    </div>
	 </div>

</form>
</div>
        @section Scripts {
            @{
				await Html.RenderPartialAsync("_CreateEdit");
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
        }