﻿<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Changes</h4>
            </div>
            <div class="modal-body">
                <div id="audit"></div>
            </div>
            <div class="modal-footer">

                @*<form method="POST" id="AuditIdForm" class="form-horizontal" role="form" asp-anti-forgery="true">*@
                <button type="button" class="btn btn-primary" onclick="showauditmodal()">Show Detailed Changes</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                @*  </form>*@
            </div>
        </div>
    </div>
</div>
<div id="AuditModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Changes</h4>
            </div>
            <div class="modal-body">
                <div id="AuditModalChange"></div>
            </div>
            <div class="modal-footer">
                <form method="POST" id="AuditIdForm" class="form-horizontal" role="form" asp-anti-forgery="true">
                    <button type="button" class="btn btn-primary">Verfiy And Changes</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function GetAuditHistory(recordID) {
        $("#audit").html("");
        var AuditDisplay = '<table class="table table-condensed" cellpadding="5">';
        var auditChangeDisplay = '<table class="table table-condensed" cellpadding="5">';
        $.getJSON("/Admin/Library/Audit/" + recordID, function (AuditTrail) {
            for (var i = 0; i < AuditTrail.length; i++) {
                AuditDisplay = AuditDisplay + '<tr class="active"><td colspan="2">Change date: ' + AuditTrail[i].DateTimeStamp + '</td>';
                auditChangeDisplay = auditChangeDisplay + '<tr class="active"><td colspan="2">Change date: ' + AuditTrail[i].DateTimeStamp + '</td>';

                AuditDisplay = AuditDisplay + '<td></td></tr>';
                //AuditDisplay = AuditDisplay + '<td>Action type: ' + AuditTrail[i].AuditActionTypeName + '</td></tr>';
                AuditDisplay = AuditDisplay + '<tr class="text-warning"><td>Changed Field</td><td>Before change</td><td colspan="2">After change</td></tr>';
                auditChangeDisplay = auditChangeDisplay + '<tr class="text-warning"><td><strong>Change Field</strong></td><td><strong>Changes</strong></td></tr>';


                for (var j = 0; j < AuditTrail[i].Changes.length; j++) {
                    AuditDisplay = AuditDisplay + '<tr>';
                    auditChangeDisplay = auditChangeDisplay + '<tr>';
                    if (AuditTrail[i].Changes[j].FieldName !== 'CreatedDate' && AuditTrail[i].Changes[j].FieldName !== 'ModifiedDate') {
                        if(AuditTrail[i].Changes[j].FieldName !== 'MultiLingual'){
                            AuditDisplay = AuditDisplay + '<td><strong>' + AuditTrail[i].Changes[j].FieldName + '</strong></td>';
                        }
                        auditChangeDisplay = auditChangeDisplay + '<td><strong>' + AuditTrail[i].Changes[j].FieldName + '</strong></td>';
}
                    if (AuditTrail[i].Changes[j].FieldName === 'ImageUrl') {
                        AuditDisplay += '<td><a href=' + AuditTrail[i].Changes[j].ValueBefore.replace("~", "") + ' class="gallery-popup"><img src=' + AuditTrail[i].Changes[j].ValueBefore.replace('~', '').replace('.jpg', '_thumb.jpg') + '></td>';
                        AuditDisplay = AuditDisplay + '<td colspan="2"><a href=' + AuditTrail[i].Changes[j].ValueAfter.replace("~", "") + ' class="gallery-popup"><img src=' + AuditTrail[i].Changes[j].ValueAfter.replace('~', '').replace('.jpg', '_thumb.jpg') + '></td>';
                        auditChangeDisplay = auditChangeDisplay + '<td><a href=' + AuditTrail[i].Changes[j].ValueAfter.replace("~", "") + ' class="gallery-popup"><img src=' + AuditTrail[i].Changes[j].ValueAfter.replace('~', '').replace('.jpg', '_thumb.jpg') + '></td>';
                    } else
                    {
                        if (AuditTrail[i].Changes[j].FieldName !== 'CreatedDate' && AuditTrail[i].Changes[j].FieldName !== 'ModifiedDate') {
                            if(AuditTrail[i].Changes[j].FieldName !== 'MultiLingual'){
                                AuditDisplay = AuditDisplay + '<td>' + AuditTrail[i].Changes[j].ValueBefore + '</td>';
                                AuditDisplay = AuditDisplay + '<td>' + AuditTrail[i].Changes[j].ValueAfter + '</td>';
                            }
                       // AuditDisplay = AuditDisplay + '<td>' + AuditTrail[i].Changes[j].Difference + '</td>';
                        auditChangeDisplay = auditChangeDisplay + '<td>' + AuditTrail[i].Changes[j].Difference + '</td>';
                    }
                    }
                    AuditDisplay = AuditDisplay + '</tr>';
                    auditChangeDisplay = auditChangeDisplay + '</tr>';
                }
            }
            AuditDisplay = AuditDisplay + '</table>';
            auditChangeDisplay = auditChangeDisplay + '</table>';
            $("#audit").html(AuditDisplay);
            $("#AuditIdForm").attr("action", "/Admin/Library/Change?id=subin");
            $("#myModal").modal('show');
            $("#AuditModalChange").html(auditChangeDisplay);
            //$("#AuditModal").modal('show');
        });
    }
    function DeleteRecord(recordID) {
        $.get("/home/delete/" + recordID);
        $('#' + recordID).remove();
    }
    function showauditmodal() {
        $("#AuditModal").modal('show');
    }
    function ShowDeleted() {
        window.location.assign('/?ShowDeleted=True');
    }
</script>