﻿@using System.Threading.Tasks
@using MandirDarsan
@using MandirDarsan.Areas.Admin.Models;
<section class="block">
    <div class="container">
        <h2 class="text-center sec-title" translate>Related Products</h2>
        <div class="content-product row ">
            @foreach (var items in ViewData["similarproducts"] as List<Product>)
            {
                <div class="col-sm-3">
                    <div class="product-item">
                        <figure class="img-holder">
                            <img src="@items.ImageUrl.Replace(".jpg","_carousel.jpg")" alt="" />
                        </figure>
                        <div class="product-entry">
                            @if (User.IsInRole("Admin") || User.IsInRole(ViewContext.RouteData.Values["culture"].ToString() + "Contributer"))
                            {
                                <a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Store/Details/@items.Title.Replace(" ", "_")/@items.Id">
                                    <h5 class="product-name">@Html.Raw(items.Title.Replace("<Translation Needed Here>", "<a href=\"/Admin/Products/Edit/" + @items.Id + "?lang=" + @ViewContext.RouteData.Values["culture"].ToString() + "\">*</a>"))</h5>
                                </a>
                            }
                            else
                            {
                                <a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Store/Details/@items.Title.Replace(" ", "_")/@items.Id">
                                    <h4>
                                        @try
                                        {
                                            <a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Products/Details/@items.Title.Replace(" ", "_")/@items.Id">@items.Title.Substring(0, 18)...</a>
                                        }
                                        catch (Exception)
                                        {
                                            <a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Products/Details/@items.Title.Replace(" ", "_")/@items.Id">@items.Title</a>
                                        }
                                    </h4>
                                    @*<h5 class="product-name">@Html.Raw(items.Title)</h5>*@
                                </a>
                            }

                            @if (User.IsInRole("Admin") || User.IsInRole(ViewContext.RouteData.Values["culture"].ToString() + "Contributer"))
                            {
                                <p>
                                    @try
                                    {
                                        @Html.Raw(items.Summary.Replace("<Translation Needed Here>", "<a href=\"/Admin/Products/Edit/" + @items.Id + "?lang=" + @ViewContext.RouteData.Values["culture"].ToString() + "\">*</a>").Substring(0, 120))
                                    }
                                    catch (Exception)
                                    {
                                        @Html.Raw(items.Summary.Replace("<Translation Needed Here>", "<a href=\"/Admin/Products/Edit/" + @items.Id + "?lang=" + @ViewContext.RouteData.Values["culture"].ToString() + "\">*</a>"))
                                    }
                                </p>
                            }
                            else
                            {
                                <p>
                                    @Html.Raw(items.Summary.Substring(0, 100))
                                </p>
                            }
                            <span class="price">@RockmanduBase.Priceformat(items.Price.ToString())</span>
                            <div class="btn-group">
                                @*<button class="btn btn-primary" translate>Add To Cart</button>*@
                                <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@Model.Id" class="btn btn-primary" translate><span class="fa fa-shopping-cart"></span>Add to cart</a>
                                <a class="btn btn-primary" translate href="~/@ViewContext.RouteData.Values["culture"].ToString()/Store/Details/@items.Title.Replace(" ", "_")/@items.Id">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>