﻿@model IEnumerable<MandirDarsan.Areas.Admin.Models.Library>
<section class="block">
    <div class="container">
        <h2 class="text-center sec-title">Related Articles</h2>
        <div class="row">
            @foreach (var items in Model)
            {
                <div class="col-md-3 col-sm-6">
                    <div class="post-list">
                        <article class="post ">
                            <div class="post-content">
                                <figure class="post-thumb">
                                    <a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Library/Details/@items.Segment/@items.Title.Replace(" ","_")/@items.Id">
                                        <img src="@items.ImageUrl.Replace(".jpg","_carousel.jpg")" height="200px">
                                    </a>
                                </figure>
                                <div class="entry">
                                    <h4>
                                        @try
                                        {
                                            <a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Library/Details/@items.Segment/@items.Title.Replace(" ", "_")/@items.Id">@items.Title.Substring(0, 18)...</a>
                                        }
                                        catch (Exception)
                                        {
                                            <a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Library/Details/@items.Segment/@items.Title.Replace(" ", "_")/@items.Id">@items.Title</a>
                                        }
                                    </h4>
                                    <p>{{'@items.Summary.ToLower()' | limitTo:190}}</p>
                                    <center> <a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Library/Details/@items.Segment/@items.Title.Replace(" ","_")/@items.Id" class="btn btn-primary"><span translate>Read More</span></a></center>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            }
        </div>
    </div>
</section>