﻿@using System.Threading.Tasks
@using MandirDarsan.Areas.Admin.Models
@if (ViewData["Gods"] != null)
{
    <section class="block">
        <div class="container">
            <h2 class="text-center sec-title">Gods</h2>
            <div class="row">
                @foreach (var item in ViewData["Gods"] as List<God>)
                {
                    <div class="col-md-3 col-sm-6">
                        <div class="post-list">
                            <article class="post ">
                                <div class="post-content">
                                    <figure class="post-thumb">
                                        <img src="@item.ImageUrl.Replace(".jpg","_carousel.jpg")" alt="" />
                                    </figure>
                                    <div class="entry">
                                        <h4>
                                            @try
                                            {
                                                <a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Gods/Details/@item.Title.Replace(" ", "_")/@item.Id">@item.Title.Substring(0, 18)...</a>
                                            }
                                            catch (Exception)
                                            {
                                                <a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Gods/Details/@item.Title.Replace(" ", "_")/@item.Id">@item.Title</a>
                                            }
                                        </h4>
                                        <p>@item.Summary</p>
                                        <a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Gods/Details/@item.Title.Replace(" ", "_")/@item.Id" class="btn btn-primary"><span>Know More</span></a>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
}