﻿@using System.Threading.Tasks
@using Microsoft.AspNet.Http
@{
    string Title;
    if (ViewBag.BreadCrumbHeader == null)
    {
        Title = this.ViewContext.RouteData.Values["action"].ToString();
    }
    else
    {
        Title = ViewBag.BreadCrumbHeader;
    }
}
<section class="block title-sec">
    <div class="container">
        <h1 class="page-toitle" translate>@Title</h1>
        <ul class="breadcrumb">
            @try
            {
                <li><a href="~/@ViewContext.RouteData.Values["culture"].ToString()/@this.ViewContext.RouteData.Values["controller"].ToString()" translate>@this.ViewContext.RouteData.Values["controller"].ToString()</a></li>
            }
            catch (Exception)
            {
                <li><a href="~/@this.ViewContext.RouteData.Values["controller"].ToString()" translate>@this.ViewContext.RouteData.Values["controller"].ToString()</a></li>
            }
            @try
            {
                <li>@this.ViewContext.RouteData.Values["action"].ToString()</li>
            }
            catch (Exception)
            {
                <li>@this.ViewContext.RouteData.Values["action"].ToString()</li>
            }
            <li translate>@ViewBag.BreadCrumbFinalText</li>
        </ul>
    </div>
</section>