﻿<link rel="stylesheet" href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" />
@{
    <script src="http://cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>
            setTimeout(function() {
                    var divs = document.querySelectorAll("[id]");
                    for (var i = 0, len = divs.length; i < len; i++) {
                        var div = divs[i];
                        if (div.id.indexOf("Date") > -1) {
                            $('#' + div.id).datetimepicker();
                        }
                        if (div.id.indexOf("Description") > -1) {
                            $("#" + div.id).addClass("mceEditor");
                            tinyMCE.init({
                                mode: "specific_textareas",
                                editor_selector: "mceEditor"
                            });
                        }
                    }
                },
                1000)
    </script>
//await Html.RenderPartialAsync("_ValidationScriptsPartial");
}