﻿<script src="~/js/bootbox.min.js" type="text/javascript"></script>
<script>
            $('#deleteForm').on('click', '.delete-btn', function (e) {
                e.preventDefault();
                bootbox.dialog({
                    title: 'Confirm',
                    message: 'Are you sure delete this post',
                    className: 'my-class',
                    buttons: {
                        cancel: {
                            className: 'btn btn-default',
                            label: 'Close'
                        },
                        success: {
                            className: 'btn btn-success',
                            label: 'Delete',
                            callback: function () {
                                $('#deleteForm').submit();
                            }
                        }
                    }
                });
            });
            $('#EmptyTrash').on('click', '.btn-emptyTrash', function (e) {
                e.preventDefault();
                bootbox.dialog({
                    title: 'Confirm',
                    message: 'Are you sure Empty Trash?',
                    className: 'my-class',
                    buttons: {
                        cancel: {
                            className: 'btn btn-default',
                            label: 'Close'
                        },
                        success: {
                            className: 'btn btn-success',
                            label: 'Empty Trash',
                            callback: function () {
                                $('#EmptyTrash').submit();
                            }
                        }
                    }
                });
            });
</script>