﻿<script>
    //alert("asdasd");
    setTimeout(function() {
            var divs = document.querySelectorAll("[id]");
            for (var i = 0, len = divs.length; i < len; i++) {
                var div = divs[i];
                if (div.id.indexOf("Nepali") > -1) {
                    if (div.id.indexOf("Description") > -1) {
                        div.value = "<p>br<p>";
                    } else {
                        div.value = "";
                    }

                }
                if (div.id.indexOf("Hindi") > -1) {
                    if (div.id.indexOf("Description") > -1) {
                        div.value = "<p>br<p>";
                    } else {
                        div.value = "";
                    }
                }
                if (div.id.indexOf("Sanskrit") > -1) {
                    if (div.id.indexOf("Description") > -1) {
                        div.value = "<p>br<p>";
                    } else {
                        div.value = "";
                    }
                }
                if (div.id.indexOf("Chinese") > -1) {
                    if (div.id.indexOf("Description") > -1) {
                        div.value = "<p>br<p>";
                    } else {
                        div.value = "";
                    }
                }
                if (div.id.indexOf("Newari") > -1) {
                    if (div.id.indexOf("Description") > -1) {
                        div.value = "<p>br<p>";
                    } else {
                        div.value = "";
                    }
                }

            }
            @*var aa = JSON.parse((@Html.Raw(@Model.MultiLingual)));
        aa.forEach(function(entry) {
            alert(entry);
        });*@
            var kk = @Html.Raw(@Model.MultiLingual);
            var obj = eval(kk);
            for (i = 0; i < obj.Tranlations.length; i++) {
                //alert(document.getElementById(obj.Tranlations[i].key).value);
                document.getElementById(obj.Tranlations[i].key).value = obj.Tranlations[i].value;
            }
        },
        1000);
</script>