﻿@using MandirDarsan.Areas.Admin.Models
@using MandirDarsan.Models;
<div class="col-md-3 add-margin-phone">
    <h3 translate>Recent Posts</h3>
    <ul class="links">
        @if (ViewData["Article"] != null)
        {
            foreach (var items in ViewData["Article"] as List<Library>)
             {
                 <li><a href="~/Articles/Index/@items.Segment/@items.Id">@items.Title</a></li>
             }
        }
        else
        {
            <li translate>No Links Found</li>
        }
    </ul>
</div>