﻿<form class="navbar-form navbar-left" role="search" action="/Admin/@ViewContext.RouteData.Values["controller"].ToString()/index">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." name="searchTerm" id="searchTerm">
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit" translate>Go!</button>
        </span>
    </div>
</form>