﻿@using System.Security.Claims
<html ng-app="MandirDarsan" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,900italic,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/animate.css"/>
    <link rel="stylesheet" type="text/css" href="~/css/jquery.bxslider.css"/>
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css"/>
    <style>
        #popupwindow {
            display: none;
            background: rgba(0,0,0,0.6); /*Set Window Background Color*/
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 99999;
        }

        #backgroundsetting {
            width: 342px;
            height: 255px;
            position: relative;
            background: #ffffff; /*Set Popup box Background Color*/
            top: 20%;
            left: 2%;
            margin: 0px auto;
        }

        #imagepopup {
            cursor: pointer;
            background: url(popupclose.png) repeat; /*Close Icon Url*/
            height: 40px;
            width: 40px;
            margin-top: 0px;
            margin-left: 0px;
            position: absolute;
        }
    </style>

    <link rel="stylesheet" type="text/css" href="~/css/jquery.fancybox.css"/>
    <link rel="stylesheet" type="text/css" href="~/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="~/css/socialshare.css"/>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="~/lib/timeago/jquery.timeago.js"></script>
    <title>@ViewBag.Title - Mandir Darsan</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-animate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-cookies.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-sanitize.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.7.2/angular-translate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-interpolation-messageformat/2.7.2/angular-translate-interpolation-messageformat.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-storage-cookie/2.7.2/angular-translate-storage-cookie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-storage-local/2.7.2/angular-translate-storage-local.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-loader-url/2.7.2/angular-translate-loader-url.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-loader-static-files/2.7.2/angular-translate-loader-static-files.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-handler-log/2.7.2/angular-translate-handler-log.js"></script>
    @RenderSection("Tags", required: false)
</head>
<body ng-controller="LangController">
    <div class="menu-overlay">
        <header id="header">
            <div class="top-header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <ul class="social">
                                @*<li class="twitter"><a title="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="google-plus"><a title="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>*@
                                <li class="facebook"><a title="facebook" href="http://facebook.com/mandirdarsan"><i class="fa fa-facebook"></i></a></li>
                                @*<li class="pinterest"><a title="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li class="linkedin"><a title="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li class="rss"><a title="rss" href="#"><i class="fa fa-rss"></i></a></li>*@
                            </ul>
                        </div>
                        <div class="col-md-7">
                            <div class="header-info">
                                <div class="phone" translate>
                                    <span translate>24/7 Support:+977 9841 062 442</span>
                                </div>
                                <div class="mail">
                                    <i class="fa fa-envelope-o"></i><a href="mailto:mail@demolink.org">info@mandirdarsan.com</a>
                                </div>
                                <div class="search-form hidden-phone clearfix">
                                    <a href="#"><i class="fa fa-search"></i></a>
                                    @Html.Partial("_Search")
                                </div>
                                @await Component.InvokeAsync("Culture")
                                @await Component.InvokeAsync("CartSummary")

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("_Navigation")
        </header>
        <!--end of header-->
        @RenderBody()
        <!--end of billboard-->
        <footer id="footer">
            <div class="footer-top block">
                <div class="container">
                    <div class="col-md-3 add-margin-phone">
                        <h3 translate>About Us</h3>
                        <p translate>Mandirdarsan.com aims to give viewers the closest experience to actually being in their places of faith. The Hindu people are spread all over the globe but their emotional and spiritual contact still remains in their homeland.</p>
                    </div>
                    <div class="col-md-2 add-margin-phone">
                        <h3 translate>Useful Links</h3>
                        <ul class="links">
                            @try
                            {
                                <li><a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Home/" translate>Home</a></li>
                                @*<li><a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Home/About/" translate>About Us</a></li>*@
                                @*<li><a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Services/" translate>Our Services</a></li>*@
                                <li><a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Home/Contact" translate>Contact Us</a></li>
                                <li><a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Library/Content/News" translate>News</a></li>
                                <li><a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Library/Content/Article" translate>Articles</a></li>
                                <li><a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Library/Content/Press" translate>Press</a></li>
                                @*<li><a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Site/PrivacyPolicy.html" translate>Privacy Policy</a></li>*@
                            }
                            catch (Exception)
                            {
                                <li><a href="~/English/Home/" translate>Home</a></li>
                                @*<li><a href="~/English/Home/About/" translate>About Us</a></li>*@
                                @*<li><a href="~/English/Services/" translate>Our Services</a></li>*@
                                <li><a href="~/English/Home/Contact" translate>Contact Us</a></li>
                                <li><a href="~/Library/Content/News" translate>News</a></li>
                                <li><a href="~/Library/Content/Article" translate>Articles</a></li>
                                <li><a href="~/Library/Content/Press" translate>Press</a></li>

                            }@*<li><a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Home/About/" translate>About Us</a></li>
                                <li><a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Services/" translate>Our services</a></li>
                                <li><a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Home/Contact" translate>Contact Us</a></li>
                                <li><a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Site/PrivacyPolicy.html" translate>Privacy Policy</a></li>*@
                        </ul>
                    </div>
                    @await Component.InvokeAsync("RecentPost")
                    @Html.Partial("_LayoutLogin")
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="col-md-6 copyright" translate>
                        Copyright @DateTime.Now.Year | All Right Reserved- Mandir Darsan
                    </div>
                    <div class="col-md-6 site-author">
                        <a href="http://teamrockmandu.com" translate>Concept: Rockmandu Developer</a>
                    </div>
                </div>
            </div>
        </footer>

    </div>
    <script type="text/javascript" src="~/js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/js/superfish.js"></script>
    <script type="text/javascript" src="~/js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="~/js/appstore.js"></script>
    <script src="~/Scripts/MandirDarsan.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-27034841-5', 'auto');
        ga('send', 'pageview');

    </script>
    @*<script type="text/javascript">var switchTo5x=true;</script>*@

    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1448838608684709";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script type='text/javascript'>
        jQuery.cookie = function (key, value, options) {
            if (arguments.length > 1 && String(value) !== "[object Object]") {
                options = jQuery.extend({}, options);
                if (value === null || value === undefined) {
                    options.expires = -1;
                }
                if (typeof options.expires === 'number') {
                    var days = options.expires, t = options.expires = new Date();
                    t.setDate(t.getDate() + days);
                }
                value = String(value);
                return (document.cookie = [
                encodeURIComponent(key), '=',
                options.raw ? value : encodeURIComponent(value),
                options.expires ? '; expires=' + options.expires.toUTCString() : '',
                options.path ? '; path=' + options.path : '',
                options.domain ? '; domain=' + options.domain : '',
                options.secure ? '; secure' : ''
                ].join(''));
            }
            options = value || {};
            var result, decode = options.raw ? function (s) { return s; } : decodeURIComponent;
            return (result = new RegExp('(?:^|; )' + encodeURIComponent(key) + '=([^;]*)').exec(document.cookie)) ? decode(result[1]) : null;
        };
    </script>
    <script type='text/javascript'>
        jQuery(document).ready(function ($) {
            if ($.cookie('popup_user_login') != 'yes') {
                $('#popupwindow').delay(40000).fadeIn('medium');
                $('#imagepopup, #fan-exit').click(function () {
                    $('#popupwindow').stop().fadeOut('medium');
                });
            }
            $.cookie('popup_user_login', 'yes', { path: '/', expires: 7 });
        });
    </script>
    <div id='popupwindow'>
        <div id='backgroundsetting'>
            <div id='imagepopup'>
                <span class="fa fancybox-close"><i></i></span>
            </div>
            <!-- Only Replace Your Facebook Page Name and Facebook Page ID on Red Mark-->
            <div class="fb-page" data-href="https://www.facebook.com/MandirDarsan" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true">
                <div class="fb-xfbml-parse-ignore">
                    <blockquote cite="https://www.facebook.com/MandirDarsan"><a href="https://www.facebook.com/MandirDarsan">Mandir Darsan</a></blockquote>
                </div>
            </div>
            <br />
            <div align="center">
                <span style="font-family: Times New Roman; font-size: 16px; color: #005387;">
                    <strong>Like MandirDarsan Facebook Page to Support Us</strong><BR />
                    <strong>Sharing Words About MandirDarsan Will Encourage Us !!</strong>
                </span>
            </div>
        </div>
    </div>
</body>
</html>
