﻿@using System.Security.Claims
@using System.Collections.Generic
@using System.Threading.Tasks
@using MandirDarsan.Models
@using MandirDarsan.ViewModels.Account
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Authentication
@using Microsoft.AspNet.Identity
@*@model MandirDarsan.ViewModels.Account.LoginViewModel*@
@inject SignInManager<ApplicationUser> SignInManager
@if (!User.IsSignedIn()) {
    <div class="col-md-4 widget-register add-margin-phone">
        <h3 translate>Login Register</h3>
        <div class="third-party-login clearfix">
            <form method="post" class="form-horizontal" role="form" action="/Account/ExternalLogin" id="SocialLogin" asp-anti-forgery="true">
                @{
                    @Html.AntiForgeryToken()
                    var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
                    if (loginProviders.Count == 0)
                    {
                    }
                    else
                    {

                        foreach (var provider in loginProviders)
                        {
                            <button type="submit" Name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account"><img alt="" src="~/images/signup-@string.Concat(provider.AuthenticationScheme, ".png")"></button>
                        }
                    }
                }
                @*<a href="#"><img alt="" src="~/images/signup-google-plus.png"></a>*@
            </form>
        </div>
        <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="user-login" role="form">
            <div class="form-group">
                <input name="Email" class="form-control" translate translate-attr-placeholder="Enter Your Username" />
                <input name="Password" class="form-control" translate translate-attr-placeholder="Enter Your Password" type="password" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-login" translate>Log in</button>
                <a asp-action="Register" asp-controller="Account" class="btn btn-primary btn-login" translate>Register</a>
                @try
                {
                    <a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Account/ForgotPassword" class="forget-link" translate>Forgot Your Password?</a>
                }
                catch (Exception)
                {

                    <a href="~/Account/ForgotPassword" class="forget-link" translate>Forgot Your Password?</a>
                }
    

            </div>
        </form>
    </div>
                    }
                    else
                    {
                        <div class="col-md-2 add-margin-phone">
                            <h3 translate>Misc</h3>
                            <ul class="links">
                            <li><a href="~/Admin/Library/Create/Article/" translate>Contribute Article</a></li>
                                <li><a href="~/Admin/Library/Create/News/" translate>Contribute News</a></li>
                                @try
                                {
                                    <li><a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Store/Index/" translate>Visit Store</a></li>
                                    <li><a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Home/Contact/" translate>Contact Us</a></li>
                                }
                                catch (Exception)
                                {
                                }
                            </ul>
                        </div>
                        @*<div class="col-md-4 widget-register add-margin-phone">
                            <h3 translate>Contribute</h3>
                            <div class="third-party-login clearfix">
                            </div>
                                <div class="form-group">
                                    <input name="Email" class="form-control" translate translate-attr-placeholder="Enter Your Username" />
                                    <input name="Password" class="form-control" translate translate-attr-placeholder="Enter Your Password" type="password" />
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-login" translate>Log in</button>
                                    <a asp-action="Register" asp-controller="Account" class="btn btn-primary btn-login" translate>Register</a>
                                    <a href="#" class="forget-link" translate>Forgot Your Password?</a>
                                </div>
                        </div>*@
}
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
