﻿@using System.Security.Claims
<div class="header-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                @try
                {
                    if (ViewContext.RouteData.Values["culture"].ToString().ToLower() == "Admin")
                    {
                        <a href="~/English/Home/Index" class="logo"><img src="~/images/logo.png" alt="" /></a>
                    }
                    else {
                        <a href="~/English/Home/Index" class="logo"><img src="~/images/logo.png" alt=""/></a>
                    }
                }
                catch (Exception)
                {
                    <a href="~/English/Home/Index" class="logo"><img src="~/images/logo.png" alt="" /></a>
                }
            </div>
            <div class="col-md-9">
                <span class="c-mobile-menu"></span>
                <div class="responsive-nav">
                    <span class="c-mobile-menu"></span>
                    <nav class="primary-nav">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav text-center sf-menu">
                                @try
                                {
                                    <li><a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Home" class="active" translate>Home</a></li>
                                    <li><a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Temples/" translate>Mandirdarsan</a></li>
                                    <li><a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Gods/" translate>Gods</a></li>
                                    @*<li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" translate>Our Services</a>
                                        <ul class="dropdown-menu">
                                            @*<li><a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Services/Index/Puja"><strong translate>Puja</strong></a></li>
                                                <li><a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Services/Index/Package" translate>Packages</a></li>*@
                                            @*<li><a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Store/" translate>Store</a></li>
                                        </ul>
                                    </li>*@
                                    <li><a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Home/Contact" class="active" translate>Contact Us</a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" translate>More</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Library/Content/News"><strong translate>News</strong></a></li>
                                            <li><a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Library/Content/Article" translate>Articles</a></li>
                                            <li><a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Library/Content/Press/" translate>Press</a></li>
                                            <li><a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Bhajan/" translate>Bhajan</a></li>
                                            <li><a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Home/Gallery" translate>Gallery</a></li>
                                        </ul>
                                    </li>
                                    if (User.IsSignedIn())
                                    {
                                        <li class="dropdown">
                                            <span translate>My Account</span>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    @*<a asp-controller="Account" asp-action="Index" title="Manage"></a>*@
                                                    <a href="~/Admin/Home/" translate>Profile</a>
                                                </li>
                                                <li>
                                                    <form asp-controller="Account" asp-action="LogOff" method="post">
                                                        <button type="submit" translate>Log off</button>
                                                    </form>
                                                </li>
                                            </ul>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a asp-controller="Account" asp-action="Login" title="Manage" translate>Login</a>
                                        </li>
                                    }
                                }
                                catch (Exception)
                                {
                                }
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>