﻿@using MandirDarsan.Areas.Admin.Models;
<section class="block">
    <div class="container">
        <h2 class="text-center sec-title" translate>Related Products</h2>
        <div class="content-product row ">
           @foreach(var items in ViewData["similarproducts"] as List<Product>)
            {
                <div class="col-sm-3">
                    <div class="product-item">
                        <figure class="img-holder">
                            <img src="@items.ImageUrl" alt="" />
                        </figure>
                        <div class="product-entry">
                            <h5 class="product-name">@items.Title</h5>
                            <p>@Html.Raw(items.Summary)</p>
                            <span class="price">@items.Price</span>
                            <div class="btn-group">
                                <button class="btn btn-primary" translate>Add To Cart</button>
                                <a class="btn btn-primary" translate href="~/@ViewContext.RouteData.Values["culture"].ToString()/Store/Details/@items.Title.Replace(" ","_")/@items.Id">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>