﻿<form asp-controller="Home" asp-action="Search" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="navbar-form pull-right" role="form" id="search-header">
    <input name="SearchData" id="search-form_it" class="search-form_it" translate translate-attr-placeholder="Search" />
    <input type="submit" class="search-form_is btn btn-primary" id="search-form_is" translate translate-attr-value="Go!">
</form>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
