﻿@using Microsoft.AspNet.Http.Extensions
@*<div class="social-bar clearfix">
        <a target="_blank" class="btn btn-facebook" href="https://www.facebook.com/sharer/sharer.php?u=@this.Context.Request.GetDisplayUrl()"><i class="fa fa-facebook"></i></a>
        <a target="_blank" class="share-icon fa fa-twitter-square" href="https://twitter.com/home?status=@this.Context.Request.GetDisplayUrl()"></a>
        <a target="_blank" class="share-icon fa fa-google-plus-square " href="https://plus.google.com/share?url=@this.Context.Request.GetDisplayUrl()"></a>
</div>*@
<div style="margin-bottom:20px;">
    <a target="_blank" class="btn btn-facebook" href="https://www.facebook.com/sharer/sharer.php?u=@this.Context.Request.GetDisplayUrl()"><i class="fa fa-facebook"></i>&nbsp;&nbsp;&nbsp;&nbsp;Share this content</a>
    <a target="_blank" class="btn btn-twitter" href="https://twitter.com/home?status=@this.Context.Request.GetDisplayUrl()"><i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp;&nbsp;Tweet this content</a>
    <a target="_blank" class="btn btn-google-plus " href="https://plus.google.com/share?url=@this.Context.Request.GetDisplayUrl()"><i class="fa fa-google-plus"></i>&nbsp;&nbsp;&nbsp;&nbsp;Share content</a>
</div>