﻿<link href="~/AdminDesign/master/assets/plugins/summernote/summernote.min.css" rel="stylesheet">
<script src="~/AdminDesign/master/assets/plugins/summernote/summernote.min.js"></script>
<script>
$(document).ready(function() {  
    $('.summernote-sm').summernote({
        height: 200
    });
});
</script>