﻿@using Microsoft.CodeAnalysis.CSharp.Syntax
<div class="col-md-3">
    <div class="sidebar">
        <div class="widget">
            <h5 class="widget-title" translate>Dashboard</h5>
            <div class="box-widget">
                <ul class="nav-lists">
                    <li>
                        <a class="@((ViewBag.DashboardSegment == "Profile") ? "active" : "")" translate><strong>Profile</strong></a>
                        <ul class="@((ViewBag.DashboardSegment == "Profile") ? "acc-show" : "")">
                            @*<ul class="acc-show">*@
                            <li>
                                <a href="~/Admin/" class="@((ViewBag.DashboardSubSegment == "profile") ? "active" : "" )" translate>Profile</a>
                            </li>
                            @*<li>
                                <a href="~/User/Home/LanguageSelection" class="@((ViewBag.DashboardSubSegment == "Langaugeselection") ? "active" : "")" translate>Language Selection</a>
                            </li>*@
                            <li>
                                <a href="~/Account/Manage/ChangePassword" class="@((ViewBag.DashboardSubSegment == "changepassword") ? "active" : "")" translate>Change Password</a>
                            </li>
                            <li>
                                <a href="~/Account/Manage/AddPhoneNumber" class="@((ViewBag.DashboardSubSegment == "addphonenumber") ? "active" : "")" translate>Add Phone Number</a>
                            </li>
                            <li>
                                <a href="~/Account/Manage/ManageLogins" class="@((ViewBag.DashboardSubSegment == "managelogins") ? "active" : "")" translate>Merge Logins</a>
                            </li>
                            @*<li>
                                <a href="~/Shopping/Account/PurchaseHistory" class="@((ViewBag.DashboardSubSegment == "purchasehistory") ? "active" : "")" translate>Purchase History</a>
                            </li>*@
                        </ul>

                    </li>
                    <li>
                        <a class="@((ViewBag.DashboardSegment == "contributed") ? "active" : "")" translate>
                            <strong>Contribute To Mandir Darsan</strong>
                        </a>
                        @*<ul class="acc-show">*@
                            <ul class="@((ViewBag.DashboardSegment == "contributed") ? "acc-show" : "")">
                            @Html.Partial("_UserMenuGlobalization")
                            <li>
                                <a href="~/Admin/Library/Index/Article" class="@((ViewBag.DashboardSubSegment == "contributedarticle") ? "active" : "")" translate>Articles</a>
                            </li>
                            <li>
                                <a href="~/Admin/Library/Index/News" class="@((ViewBag.DashboardSubSegment == "contributednews") ? "active" : "" )" translate>News</a>
                            </li>
                            <li>
                                <a href="~/Admin/Temples/Index" class="@((ViewBag.DashboardSubSegment == "contributedtemples") ? "active" : "")" translate>Temples</a>
                            </li>
                            <li>
                                <a href="~/Admin/Gods/Index" class="@((ViewBag.DashboardSubSegment == "contributedgods") ? "active" : "")" translate>Gods</a>
                            </li>
                            <li>
                                <a href="~/Admin/Bhajans/Index" class="@((ViewBag.DashboardSubSegment == "contributedbhajans") ? "active" : "")" translate>Bhajan</a>
                            </li>
                        </ul>
                    </li>

                    @if (User.IsInRole("Admin"))
                    {
                        <li>
                            <a class="@((ViewBag.DashboardSegment == "admin") ? "active" : "")"  translate>
                                <strong>Admin</strong>
                            </a>
                            <ul class="@((ViewBag.DashboardSegment == "admin") ? "acc-show" : "")">
                                @*<ul class="acc-show">*@
                                <li>
                                    <a href="~/Admin/Role/" class="@((ViewBag.DashboardSubSegment == "roles") ? "active" : "")" translate>Manage Roles</a>
                                </li>
                                <li>
                                    <a href="~/Admin/Cultures/" class="@((ViewBag.DashboardSubSegment == "cultures") ? "active" : "")" translate>Add Cultures</a>
                                </li>
                                <li>
                                    <a href="~/Admin/Languagetitles/" class="@((ViewBag.DashboardSubSegment == "languagetitles") ? "active" : "")" translate>Add Language Titles</a>
                                </li>
                                <li>
                                    <a href="~/Admin/Galleries/Index/Banners/Main" class="@((ViewBag.DashboardSubSegment == "bannerimage") ? "active" : "")" translate>Banner Images</a>
                                </li>
                                <li>
                                    <a href="~/Admin/Galleries/Index/Carousel/Main" class="@((ViewBag.DashboardSubSegment == "carouselimage") ? "active" : "")" translate>Carousel Images</a>
                                </li>
                                <li>
                                    <a href="~/Admin/Galleries/Index/Gallery/Main" class="@((ViewBag.DashboardSubSegment == "galleryimage") ? "active" : "")" translate>Gallery Images</a>
                                </li>
                                <li>
                                    <a href="~/Admin/Categories/" class="@((ViewBag.DashboardSubSegment == "categories") ? "active" : "")" translate>Product Categories</a>
                                </li>
                                <li>
                                    <a href="~/Admin/Products/" class="@((ViewBag.DashboardSubSegment == "products") ? "active" : "")" translate>Products</a>
                                </li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>