﻿@if (User.IsInRole("NepaliContributer") || User.IsInRole("Admin"))
{
    <li>
        <a href="~/Admin/Globalizations/Index/Nepali/" class="@((ViewBag.DashboardSubSegment == "globalization_nepali") ? "active" : "")" translate>Add Nepali Globalization</a>
    </li>
}
@if (User.IsInRole("NewariContributer") || User.IsInRole("Admin"))
{
    <li>
        <a href="~/Admin/Globalizations/Index/Newari/" class="@((ViewBag.DashboardSubSegment == "globalization_newari") ? "active" : "")" translate>Add Newari Globalization</a>
    </li>
}
@if (User.IsInRole("HindiContributer") || User.IsInRole("Admin"))
{
    <li>
        <a href="~/Admin/Globalizations/Index/Hindi/" class="@((ViewBag.DashboardSubSegment == "globalization_hindi") ? "active" : "")" translate>Add Hindi Globalization</a>
    </li>
}
@if (User.IsInRole("ChineseContributer") || User.IsInRole("Admin"))
{
    <li>
        <a href="~/Admin/Globalizations/Index/Chinese/" class="@((ViewBag.DashboardSubSegment == "globalization_chinese") ? "active" : "")" translate>Add Chinese Globalization</a>
    </li>
}
@if (User.IsInRole("SanskritContributer") || User.IsInRole("Admin"))
{
    <li>
        <a href="~/Admin/Globalizations/Index/Sanskrit/" class="@((ViewBag.DashboardSubSegment == "globalization_sanskrit") ? "active" : "")" translate>Add Sanskrit Globalization</a>
    </li>
}