﻿<div class="alert alert-danger fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
    <strong>Hi! @User.Identity.Name</strong> This Portion is not verified yet.
</div>
