﻿@using System.Threading.Tasks
@using MandirDarsan.Areas.Admin.Models
<div class="widget">
    <h3>Related Temples</h3>
    @foreach (var item in ViewData["Temple"] as List<Temple>)
    {
        <div class="article-list clearfix">
            <figure class="image-holder align-left"><img src="@item.ImageUrl.Replace(".jpg","_productthumb.jpg")" alt="@item.Title" /></figure>
            <div class="entry">
                <h6><a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Temples/Details/@item.Title.Replace(" ", "_")/@item.Id">@item.Title</a></h6>
                <p>
                   @item.Summary.Substring(0, 92)
                    <a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Temples/Details/@item.Title.Replace(" ", "_")/@item.Id">Read More</a>
                </p>
            </div>
        </div>
    }
</div>