﻿@using System.Threading.Tasks
@using MandirDarsan.Areas.Admin.Models
@if (ViewData["Gods"] != null) {
    <div class="widget">
        <h3>Related Gods</h3>
        @foreach (var item in ViewData["Gods"] as List<Product>)
        {
            <div class="article-list clearfix">
                <figure class="image-holder align-left"><img src="@item.ImageUrl.Replace(".jpg","_productthumb.jpg")" alt="" /></figure>
                <div class="entry">
                    <h6>@item.Title</h6>
                    <p>
                        @item.Summary.Substring(0, 92)
                        <a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Gods/Details/@item.Title.Replace(" ", "_")/@item.Id">Read More</a>
                    </p>
                </div>
            </div>
        }
    </div>
}