﻿@using System.Threading.Tasks
@using MandirDarsan.Areas.Admin.Models
<div class="widget">
    <h3>Related Products</h3>
    @foreach (var item in ViewData["Products"] as List<Product>)
    {
        <div class="article-list clearfix">

            <figure class="image-holder align-left"><img src="@item.ImageUrl.Replace(".jpg", "_productthumb.jpg")" alt=""/></figure>

            <div class="entry">
                <a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Store/Details/@item.Title.Replace(" ", "_")/@item.Id">
                    <h6>@item.Title</h6>
                </a>
                <p>
                    @item.Summary.Substring(0, 92)
                    <a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Store/Details/@item.Title.Replace(" ", "_")/@item.Id">Read More</a>
                </p>
            </div>
        </div>
    }
</div>