﻿@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger" translate>Error</h1>
<h2 class="text-danger" translate>An error occurred while processing your request.</h2>
<h2 class="text-danger" translate>Administrators are now alerted !</h2>
