﻿@using MandirDarsan.Areas.Admin.Models
@using MandirDarsan.Models;
@model List<Library>
<div class="col-md-3 add-margin-phone">
    <h3 translate>Recent Posts</h3>
    <ul class="links">
            @foreach (var items in Model)
            {
                <li><a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Library/Details/@items.Segment/@items.Title.Replace(" ","_")/@items.Id">@items.Title</a></li>
            }
       
    </ul>
</div>