﻿@model MandirDarsan.Areas.Admin.Models.God
@using Microsoft.AspNet.Http.Extensions
@using MandirDarsan.Areas.Admin.Models
@Html.Partial("_Breadcrumb")
@{
    try
    {
        ViewBag.Title = Model.Title;
    }
    catch (Exception)
    {
    }
}
@section Tags {
    <meta name="description" content="@Model.Description"/>
    @*<meta name="author" content="@Model" />*@
    <meta name="copyright" content="mandirdarsan.com"/>
    <meta name="application-name" content="mandirdarsan"/>
    <meta property="og:title" content="@Model.Title"/>
    <meta property="og:type" content="article"/>
    <meta property="og:image" content="@Model.ImageUrl"/>
    <meta property="og:url" content="@this.Context.Request.GetDisplayUrl()"/>
    <meta property="og:description" content="@Model.Summary"/>
    <meta name="twitter:card" content="@Model.Summary"/>
    <meta name="twitter:title" content="Virtual Tour of @Model.Title"/>
    <meta name="twitter:description" content="@Model.Description"/>
    <meta name="twitter:image" content="@Model.ImageUrl"/>
}
<section class="block block-light">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                @if (Model.Verified == false)
                {
                    @Html.Partial("_VerificationMessage")
                }
@if ((Model.Verified == true || User.IsInRole("Admin")) || (User.Identity.Name == Model.CreatedBy || User.Identity.Name == Model.ModifiedBy))
{
    <div class="add-margin-30">
        <ul class="service-slider clearfix">
            @foreach (var items in ViewData["Images"] as List<Gallery>)
            {
                <li>
                    <img src="@items.ImageUrl" alt=""/>
                </li>
            }
        </ul>
    </div>
    @Html.Partial("_Sharer")
    <h4>@Model.Title</h4>
    <div class="package-info">
        @Html.Raw(Model.Description)
    </div>
}
            </div>
            <div class="col-md-4">
                <div class="sidebar">
                   @Html.Partial("_WidgetTemple")
                    @Html.Partial("_WidgetProduct")
                </div>
            </div>
        </div>
    </div>
</section>
@Html.Partial("_BlockGod")
