﻿@model IEnumerable<MandirDarsan.Areas.Admin.Models.God>
@Html.Partial("_Breadcrumb")

<section class="block block-light">
    <div class="container">
        <div class="row">
            @if (Model.Any() && Model != null)
            {
                foreach (var item in Model)
                {
                    <div class="col-md-3 col-sm-6">
                        <div class="post-list">
                            <article class="post ">
                                <div class="post-content">
                                    <figure class="post-thumb">
                                        <a href="/@ViewContext.RouteData.Values["culture"].ToString()/Gods/Details/@item.Title.Replace(" ", "")/@item.Id">
                                            <img alt="" src="@item.ImageUrl.Replace(".jpg","_carousel.jpg")" style="height: 205px; width:100%">
                                        </a>
                                    </figure>
                                    <div class="entry">
                                        <h4>
                                            @try
                                            {
                                                <a href="/@ViewContext.RouteData.Values["culture"].ToString()/Gods/Details/@item.Title.Replace(" ", "_")/@item.Id">@item.Title.Substring(0, 14)</a>
                                            }
                                            catch (Exception)
                                            {
                                                <a href="/@ViewContext.RouteData.Values["culture"].ToString()/Gods/Details/@item.Title.Replace(" ", "_")/@item.Id">@item.Title</a>
                                            }
                                        </h4>
                                        <p>@item.Summary</p>
                                        <a href="/@ViewContext.RouteData.Values["culture"].ToString()/Gods/Details/@item.Title.Replace(" ", "_")/@item.Id"><span>Know More</span></a>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                }
            }
            else
            {
                <TEXT>No Data</TEXT>
}
        </div>
    </div>
</section>
