﻿@using System.Threading.Tasks
@using MandirDarsan.Areas.Admin.Models
@model MandirDarsan.ViewModels.Mandir.ServiceViewModel
@{
    try
    {
        ViewBag.Title = Model.Puja.Title;
    }
    catch (Exception)
    {
        try
        {
            ViewBag.Title = Model.Package.Title;
        }
        catch (Exception)
        {

        }
    }
}
@Html.Partial("_BreadCrumb")
        <section class="block block-light">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                @*@if (Model.Verified == false)
                {
                    @Html.Partial("_VerificationMessage")
                }*@
                <div class="add-margin-30">
                    <ul class="service-slider clearfix">
                        @foreach (var items in ViewData["Images"] as List<Gallery>)
                        {
                            <li>
                                <img src="@items.ImageUrl" alt="@items.Title"/>
                            </li>
                        }
                    </ul>
                </div>
                <div class="package-info">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#overview-tab" aria-controls="overview-tab" role="tab" data-toggle="tab">Overview</a></li>
                        @if (Model.Puja == null)
                        {
                            <li role="presentation"><a href="#itineary-tab" aria-controls="itineary-tab" role="tab" data-toggle="tab">Itineary</a></li>
                                @*<li role="presentation"><a href="#locationmap-tab" aria-controls="locationmap-tab" role="tab" data-toggle="tab">Location Map</a></li>*@
                        }
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="overview-tab">
                            <div class="content">
                                    @try
                                    {
                                        @Html.Raw(Model.Puja.Description);
                                    }
                                    catch (Exception)
                                    {
                                        @try
                                        {
                                            @Html.Raw(Model.Package.Description);
                                        }
                                        catch (Exception)
                                        {

                                        }
                                    }
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="itineary-tab">
                            <div class="content">
                                <ul class="links">
                                    @if (Model.Package != null)
                                    {
                                        @Html.Raw(Model.Package.itinerary);
                                    }
                                </ul>
                            </div>
                        </div>
                        @*<div role="tabpanel" class="tab-pane" id="locationmap-tab">
                            <div class="content">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d56516.31397712412!2d85.3261328!3d27.708960349999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2snp!4v1451633447274"></iframe>
                                </div>

                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
                    <div class="col-md-4">
                        <div class="sidebar">
                            <div class="widget">
                                <div class="box-widget">
                                    <div class="top">
                                        <h5>@ViewContext.RouteData.Values["segment"].ToString() Information</h5>
                                        <span class="item-price">
                                            Price <br>
                                            @try
                                            {
                                                <strong itemprop="price">@Model.Puja.Price</strong>
                                            }
                                            catch (Exception)
                                            {
                                                <strong itemprop="price">@Model.Package.Price</strong>
                                            }
                                        </span>
                                        <p><a href="#" class="btn btn-primary">Book This @ViewContext.RouteData.Values["segment"].ToString()</a></p>
                                    </div>
                                    @*<div class="more-info">
                                        <ul class="info-lists">
                                            <li><span>Trip Duration</span><strong>:18 days</strong></li>
                                            <li><span>Trekking Days</span><strong>:14 days</strong></li>
                                            <li><span>Best Season</span><strong>: September to June </strong></li>
                                            <li><span>Grade</span><strong>: Moderate Hard</strong></li>
                                            <li><span>Maximum Altitude</span><strong>:5550 metre </strong></li>
                                            <li><span>Commences at</span><strong>: Lukla</strong></li>
                                            <li><span>Ends at:</span><strong>: Lukla</strong></li>
                                            <li><span>Code</span><strong>:1690 pp</strong></li>
                                        </ul>
                                    </div>*@

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

       @Html.Partial("_BlockPackage",Model.Packages)
       @Html.Partial("_BlockPuja", Model.Pujas)
        
    