﻿@model MandirDarsan.ViewModels.Mandir.ServiceViewModel
<!--end of header-->
@{
    ViewBag.Title = "Services We Offer...";
}
@*@Html.Partial("_BreadCrumb")*@
 <section class="block block-light">
    <div class="container">
        <div class="button-group filter-button-group">
            @if (Model.Pujas != null || Model.Packages != null) {
                <button class="btn" data-filter="*" id="allbtn" translate>All Services</button>
            }
            @if (Model.Pujas != null)
            {
                <button class="btn" data-filter=".puja" id="Pujabtn" translate>Puja</button>
            }
            @if (Model.Packages != null)
            {
                <button class="btn" data-filter=".package" id="Packagebtn" translate>Packages</button>
            }
        </div>
        <div class="row">
            <div class="filter-group">
                @if (Model.Pujas != null)
                {
                    foreach (var pujas in Model.Pujas)
                    {
                        <div class="col-md-6 service-item puja">
                            <div class="post-list">
                                <article class="post">
                                    <div class="post-content">
                                        <figure class="poast-thumb img-align-left">
                                           
                                                @try
                                                {
                                                    <img alt="" src="@pujas.ImageUrl.Replace(".jpg","_carousel.jpg")" style="height: 200px;">
                                                }
                                                catch (Exception)
                                                {
                                                    <img alt="" src="@pujas.ImageUrl" style="height: 200px;">
                                                }
                                           
                                        </figure>
                                        <div class="entry">
                                            <h4>
                                                @try
                                                {
                                                    <a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Services/Details/Puja/@pujas.Title.Replace(" ","_")/@pujas.Id">@pujas.Title.Substring(0,18)...</a>
                                                }
                                                catch (Exception)
                                                {
                                                    <a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Services/Details/Puja/@pujas.Title.Replace(" ","_")/@pujas.Id">@pujas.Title</a>
                                                }

                                            </h4>
                                            <p>@pujas.Summary</p>
                                        <a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Services/Details/Puja/@pujas.Title.Replace(" ","_")/@pujas.Id" class="btn btn-primary"><span translate>View Details</span></a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    }
                }
               @if (Model.Packages != null)
                {
                    foreach (var packages in Model.Packages)
                    {
                        <div class="col-md-6 service-item package">
                            <div class="post-list">
                                <article class="post">
                                    <div class="post-content">
                                        <figure class="poast-thumb img-align-left">
                                            @try
                                            {
                                                <img alt="" src="@packages.ImageUrl.Replace(".jpg","_carousel.jpg")" style="height: 200px;">
                                            }
                                            catch (Exception)
                                            {
                                                <img alt="" src="@packages.ImageUrl" style="height: 200px;">
                                            }
                                        </figure>
                                        <div class="entry">
                                            <h4>
                                                @try
                                                {
                                                    <a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Services/Details/Package/@packages.Title.Replace(" ","_")/@packages.Id">@packages.Title.Substring(0, 18)...</a>
                                                }
                                                catch (Exception)
                                                {
                                                    <a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Services/Details/Package/@packages.Title.Replace(" ","_")/@packages.Id">@packages.Title</a>
                                                }

                                            </h4>
                                            <p>@packages.Summary</p>
                                            <a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Services/Details/Package/@packages.Title.Replace(" ","_")/@packages.Id" class="btn btn-primary"><span translate>View Details</span></a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script>
        $('.filter-group').isotope({ filter: '.@ViewBag.IsotopeID' });
        $('#@ViewBag.IsotopeID' + 'btn').addClass('btn-primary').siblings().removeClass('btn-primary');
    </script>
}