﻿@model MandirDarsan.Areas.Admin.Models.Bhajan

@{
    ViewBag.Title = "Edit";
}

@*<h2>Edit</h2>*@

<form action="/Admin/Bhajans/Edit/" enctype="multipart/form-data" method="post">
    
    @Html.AntiForgeryToken()
    <input type="hidden" name="OldDescription" value="@Model.Description" />
    <input type="hidden" name="CreatedBy" value="@Model.CreatedBy" />
    <input type="hidden" name="CreatedDate" value="@Model.CreatedDate" />


    <div class="col-md-9">
        <div class="form-horizontal col-md-10">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">

                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Summary, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input class="form-control text-box single-line required" id="Summary" name="Summary" maxlength="304" minlength="304" type="text" value="@Model.Summary">
                    @Html.ValidationMessageFor(model => model.Summary, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Description, new { @class = "summernote-sm" })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Tags, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">

                    @Html.EditorFor(model => model.Tags, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Tags, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.YouTubeId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">

                    @Html.EditorFor(model => model.YouTubeId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.YouTubeId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ImageUrl, htmlAttributes: new { @class = "control-label col-md-2", @translate = "" })
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.ImageUrl, new { htmlAttributes = new { @class = "form-control" } })
                    <input name="IImageUrl" id="ImageUrlKo" class="form-control" type="file" value="@Model.ImageUrl" />
                    @Html.ValidationMessageFor(model => model.ImageUrl, "", new { @class = "text-danger" })
                </div>
            </div>
            @*<div class="form-group">
                    @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Active)
                            @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>*@
            @Html.HiddenFor(model => model.Active)
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save Bhajan" class="btn btn-success" />
                    <a href="/admin/Bhajans/index"> <input type="button" value="Back To List" class="btn btn-danger" /></a>
                    @*<input type="button" value="Back To List" class="btn btn-danger" />*@
                </div>
            </div>
        </div>
    </div>
</form>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_CreateEdit");
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
