﻿@*@model IEnumerable<MandirDarsan.Areas.Admin.Models.Bhajan>*@
@model PagedList.IPagedList<MandirDarsan.Areas.Admin.Models.Bhajan>
@using MandirDarsan;
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}
<div class="col-md-9">
 
 <div class="clearfix alert alert-grey">
     @if (Model.Any())
     {
         @Html.Partial("_IndexSearch")
     }
            <div class="pull-right">
                <a href="~/Admin/Bhajans/Create/" class="btn btn-primary btn-sm">Create New</a>
                <a href="~/Admin/Bhajans/Trash/" class="btn btn-primary btn-sm">Trash</a><br/>
            </div>
 </div>
<div class="table-responsive clearfix">
 @if (Model.Any())
        {
        <table class="table table-striped table-common">
			<thead>    
				<tr>
        @if (User.IsInRole("Admin"))
        {
            <th>
                @Html.DisplayNameFor(model => model.First().CreatedBy)
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.First().Title)
        </th>
        
        @*<th>
            @Html.DisplayNameFor(model => model.First().Summary)
        </th>*@
         
        <th>
            @Html.DisplayNameFor(model => model.First().YouTubeId)
        </th>
        
                    <th>
                        Status
                    </th>
                  
                    <th>Options</th>

    </tr>
 </thead>
   <tbody>
@foreach (var item in Model) {
    <tr>
        @if (User.IsInRole("Admin"))
        {
            <td>
                @Html.DisplayFor(model => model.First().CreatedBy)
            </td>
        }
            <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Summary)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.YouTubeId)
        </td>
        <td>
            @RockmanduBase.VerificationStatus(item.Verified.ToString())
        </td>
        <td>
            <form method="post" class="form-horizontal" role="form" action="/Admin/Bhajans/Delete?id=@item.Id" asp-anti-forgery="true">
                @Html.ActionLink("", "Edit", new {id = item.Id}, new {@class = "fa fa-edit btn btn-success", @title = "Edit", @style = "text-decoration:none;"})
                <a href="/Admin/Bhajans/Details?id=@item.Id" class="fa fa-copy btn btn-primary" title="Details"></a>
                @Html.AntiForgeryToken()
                <input type="submit" value="Delete" id="delete" name="delete" class="btn btn-danger fa fa-trash"/>
                <a href="~/Admin/Galleries/Index/Bhajans/@item.Id">Add Images</a>
            </form>
        </td>
    </tr>
}
  </tbody>
        </table>
		<text>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</text>
		}		
		else
		{<BR/><BR/><BR/>
    <div class="text-center">
                <p> No @ViewBag.Segment Found! If you want to contribute</p>
                <a href="~/Admin/Bhajans/Create/" class="btn btn-primary btn-sm">Create New Bhajan</a>
                <a href="~/Admin/Bhajans/Trash/@ViewBag.Segment" class="btn btn-primary btn-sm">Check Your Trash</a>
            </div>
	}
	</div>
</div>



@*@Html.PagedListPager(Model,pageNo => Url.Action("Index",new { pageNo,sortOrder = ViewBag.CurrentSort,currentFiler=ViewBag.CurrentFilter,filtervalue=ViewBag.FilterValue}))*@
