﻿@model MandirDarsan.Areas.Admin.Models.SiteSection

@{
    ViewBag.Title = "Create";
}

@*<h2>Create</h2>*@



															<div @Html.Partial("_CultureHelper")>
        <form action="/Admin/SiteSections/Create/" method="post">
	

    @Html.AntiForgeryToken()
   
    <div class="col-md-9">
	   <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                <li ng-repeat="culturecode in culture">
                    <a href="#s{{culturecode}}" data-toggle="tab" ng-click="setLanguage(culturecode)" ng-if="culturecode != 'English'" translate>{{culturecode}}</a>
                    <a href="#s" data-toggle="tab" ng-click="setLanguage('English')" ng-if="culturecode == 'English'" translate>{{culturecode}}</a>
                </li>
            </ul>
			<br />
            <div id="my-tab-content" class="tab-content">
                <div ng-repeat="culturecode in subCulture" class="tab-pane" id="s{{culturecode}}">
	   
	   <div class="form-horizontal col-md-10">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.MultiLingual, htmlAttributes: new { @class = "control-label col-md-2", @translate=""})
            <div class="col-md-10">
                                 <input class="form-control text-box single-line required" id="MultiLingual{{culturecode}}" name="MultiLingual{{culturecode}}" type="text" value="" >
								

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MultiLingualFiles, htmlAttributes: new { @class = "control-label col-md-2", @translate=""})
            <div class="col-md-10">
                                 <input class="form-control text-box single-line required" id="MultiLingualFiles{{culturecode}}" name="MultiLingualFiles{{culturecode}}" type="text" value="" >
								

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ModifiedBy, htmlAttributes: new { @class = "control-label col-md-2", @translate=""})
            <div class="col-md-10">
                                 <input class="form-control text-box single-line required" id="ModifiedBy{{culturecode}}" name="ModifiedBy{{culturecode}}" type="text" value="" >
								

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedBy, htmlAttributes: new { @class = "control-label col-md-2", @translate=""})
            <div class="col-md-10">
                                 <input class="form-control text-box single-line required" id="CreatedBy{{culturecode}}" name="CreatedBy{{culturecode}}" type="text" value="" >
								

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VerifiedBy, htmlAttributes: new { @class = "control-label col-md-2", @translate=""})
            <div class="col-md-10">
                                 <input class="form-control text-box single-line required" id="VerifiedBy{{culturecode}}" name="VerifiedBy{{culturecode}}" type="text" value="" >
								

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedDate, htmlAttributes: new { @class = "control-label col-md-2", @translate=""})
            <div class="col-md-10">
                                 <input class="form-control text-box single-line required" id="CreatedDate{{culturecode}}" name="CreatedDate{{culturecode}}" type="text" value="" >
								

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ModifiedDate, htmlAttributes: new { @class = "control-label col-md-2", @translate=""})
            <div class="col-md-10">
                                 <input class="form-control text-box single-line required" id="ModifiedDate{{culturecode}}" name="ModifiedDate{{culturecode}}" type="text" value="" >
								

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VerifiedDate, htmlAttributes: new { @class = "control-label col-md-2", @translate=""})
            <div class="col-md-10">
                                 <input class="form-control text-box single-line required" id="VerifiedDate{{culturecode}}" name="VerifiedDate{{culturecode}}" type="text" value="" >
								

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Verified, htmlAttributes: new { @class = "control-label col-md-2", @translate=""})
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Verified)
    
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DelFlg, htmlAttributes: new { @class = "control-label col-md-2", @translate=""})
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.DelFlg)
    
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label col-md-2", @translate=""})
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Active)
    
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2", @translate=""})
            <div class="col-md-10">
                                 <input class="form-control text-box single-line required" id="Id{{culturecode}}" name="Id{{culturecode}}" type="text" value="" >
								

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2", @translate=""})
            <div class="col-md-10">
                                 <input class="form-control text-box single-line required" id="Title{{culturecode}}" name="Title{{culturecode}}" type="text" value="" >
								

            </div>
        </div>

			</div>
		</div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create New SiteSection" class="btn btn-success" translate/>
               <a href="/admin/SiteSections/index"> <input type="button" value="Back To List" class="btn btn-danger" translate /></a>
            </div>
        </div>
    </div>
	 </div>

</form>
</div>


	  

        @section Scripts {
            @{
				await Html.RenderPartialAsync("_CreateEdit");
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
        }