﻿@*@model IEnumerable<MandirDarsan.Areas.Admin.Models.SiteSection>*@
@model PagedList.IPagedList<MandirDarsan.Areas.Admin.Models.SiteSection>
@using PagedList.Mvc

@{
    ViewBag.Title = "Delete";
}


<div class="col-md-9">
 
 <div class="clearfix alert alert-grey">
            <div class="pull-right">
                <a href="~/Admin/SiteSections/Create/" class="btn btn-primary btn-sm">Create New</a>
				<a href="~/Admin/SiteSections/Index/" class="btn btn-primary btn-sm">Index</a><br/>
            </div>
 </div>
 <div class="table-responsive clearfix">
 @if (Model.Any())
        {
        <table class="table table-striped table-common">
			<thead>    
				<tr>
        
        <th>
            @Html.DisplayNameFor(model => model.First().MultiLingual)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.First().MultiLingualFiles)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.First().ModifiedBy)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.First().CreatedBy)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.First().VerifiedBy)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.First().CreatedDate)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.First().ModifiedDate)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.First().VerifiedDate)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.First().Verified)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.First().DelFlg)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.First().Active)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.First().Id)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.First().Title)
        </th>
        <th></th>
    </tr>
 </thead>
   <tbody>
@foreach (var item in Model) {
    <tr>
	       
		<td>
		   				@Html.DisplayFor(modelItem => item.MultiLingual)
		           </td>
	 
	       
		<td>
		   				@Html.DisplayFor(modelItem => item.MultiLingualFiles)
		           </td>
	 
	       
		<td>
		   				@Html.DisplayFor(modelItem => item.ModifiedBy)
		           </td>
	 
	       
		<td>
		   				@Html.DisplayFor(modelItem => item.CreatedBy)
		           </td>
	 
	       
		<td>
		   				@Html.DisplayFor(modelItem => item.VerifiedBy)
		           </td>
	 
	       
		<td>
		   				@Html.DisplayFor(modelItem => item.CreatedDate)
		           </td>
	 
	       
		<td>
		   				@Html.DisplayFor(modelItem => item.ModifiedDate)
		           </td>
	 
	       
		<td>
		   				@Html.DisplayFor(modelItem => item.VerifiedDate)
		           </td>
	 
	       
		<td>
		   				@Html.DisplayFor(modelItem => item.Verified)
		           </td>
	 
	       
		<td>
		   				@Html.DisplayFor(modelItem => item.DelFlg)
		           </td>
	 
	       
		<td>
		   				@Html.DisplayFor(modelItem => item.Active)
		           </td>
	 
	       
		<td>
		   				@Html.DisplayFor(modelItem => item.Id)
		           </td>
	 
	       
		<td>
		   				@Html.DisplayFor(modelItem => item.Title)
		           </td>
	 
        <td>
							 <table>
                                <tr>
                                    <td>
                                        <form method="post" class="form-horizontal" role="form" action="/Admin/SiteSections/RecoverTrash?id=@item.Id" asp-anti-forgery="true">
                                            @Html.AntiForgeryToken()
                                            <input type="submit" value="Undelete" class="btn btn-primary" translate />
                                        </form>	
                                    </td>
                                    <td>
                                        <form id="deleteForm" method="post" class="form-horizontal" role="form" action="/Admin/SiteSections/DeleteTrashItem?id=@item.Id" asp-anti-forgery="true">
                                            @Html.AntiForgeryToken()
                                            <input type="submit" value="Permanent Delete" class="btn btn-danger delete-btn" translate/>
                                        </form>
                                    </td>
                                </tr>
                            </table>
        </td>
    </tr>
}
  </tbody>
        </table>
		<text>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</text>
		}		
		else
		{<BR/><BR/><BR/>
    <div class="text-center">
                <p> Nothing Found In Trash ! If you want to contribute</p>
            <a href="~/Admin//SiteSections/Create/" class="btn btn-primary btn-sm" translate>Create New /SiteSection</a>
            </div>
	}
	@if (Model.Count() >= 2)
        {
            <form method="post" class="form-horizontal" role="form" action="/Admin/Library/DeleteTrash?segment=@ViewBag.Segment" id="EmptyTrash" asp-anti-forgery="true">
                @Html.AntiForgeryToken()
                <input type="submit" value="Delete All At Once !" class="btn btn-danger btn-emptyTrash" translate/>
            </form>
        }
	</div>
</div>

@section Scripts {
    @{
      @Html.Partial("_Deletejs")
    }
}

@*@Html.PagedListPager(Model,pageNo => Url.Action("Index",new { pageNo,sortOrder = ViewBag.CurrentSort,currentFiler=ViewBag.CurrentFilter,filtervalue=ViewBag.FilterValue}))*@
