﻿@model MandirDarsan.Areas.Admin.Models.SiteSection

@{
    ViewBag.Title = "Edit";
}

@*<h2>Edit</h2>*@


														<div @Html.Partial("_CultureHelper")>
	 <form action="/Admin/SiteSections/Edit/" method="post">
{
    @Html.AntiForgeryToken()
	   @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.CreatedBy)
            @Html.HiddenFor(model => model.CreatedDate)

            @Html.HiddenFor(model => model.ModifiedBy)
            @Html.HiddenFor(model => model.ModifiedDate)
            
            @Html.HiddenFor(model => model.VerifiedDate)
            @Html.HiddenFor(model => model.VerifiedBy)
            @Html.HiddenFor(model => model.Verified)
        @Html.HiddenFor(model => model.DelFlg)


               
	 
<div class="col-md-9">
<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                <li ng-repeat="culturecode in culture">
                    <a href="#s{{culturecode}}" data-toggle="tab" ng-click="setLanguage(culturecode)" ng-if="culturecode != 'English'" translate>{{culturecode}}</a>
                    <a href="#s" data-toggle="tab" ng-click="setLanguage('English')" ng-if="culturecode == 'English'" translate>{{culturecode}}</a>
                </li>
            </ul>
			<br />
            <div id="my-tab-content" class="tab-content">
                <div ng-repeat="culturecode in subCulture" class="tab-pane" id="s{{culturecode}}">
    <div class="form-horizontal col-md-10">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
     @*   @Html.HiddenFor(model => model.LanguageId)*@

        <div class="form-group">
            @Html.LabelFor(model => model.MultiLingual, htmlAttributes: new { @class = "control-label col-md-2", @translate="" })
            <div class="col-md-10">
						  
					                 <input class="form-control text-box single-line required" id="MultiLingual{{culturecode}}" name="MultiLingual{{culturecode}}" type="text" value="@Model.MultiLingual" >
				                @Html.ValidationMessageFor(model => model.MultiLingual, "", new { @class = "text-danger" })
            </div>
        </div>
	
        <div class="form-group">
            @Html.LabelFor(model => model.MultiLingualFiles, htmlAttributes: new { @class = "control-label col-md-2", @translate="" })
            <div class="col-md-10">
						  
					                 <input class="form-control text-box single-line required" id="MultiLingualFiles{{culturecode}}" name="MultiLingualFiles{{culturecode}}" type="text" value="@Model.MultiLingualFiles" >
				                @Html.ValidationMessageFor(model => model.MultiLingualFiles, "", new { @class = "text-danger" })
            </div>
        </div>
	
        <div class="form-group">
            @Html.LabelFor(model => model.ModifiedBy, htmlAttributes: new { @class = "control-label col-md-2", @translate="" })
            <div class="col-md-10">
						  
					                 <input class="form-control text-box single-line required" id="ModifiedBy{{culturecode}}" name="ModifiedBy{{culturecode}}" type="text" value="@Model.ModifiedBy" >
				                @Html.ValidationMessageFor(model => model.ModifiedBy, "", new { @class = "text-danger" })
            </div>
        </div>
	
        <div class="form-group">
            @Html.LabelFor(model => model.CreatedBy, htmlAttributes: new { @class = "control-label col-md-2", @translate="" })
            <div class="col-md-10">
						  
					                 <input class="form-control text-box single-line required" id="CreatedBy{{culturecode}}" name="CreatedBy{{culturecode}}" type="text" value="@Model.CreatedBy" >
				                @Html.ValidationMessageFor(model => model.CreatedBy, "", new { @class = "text-danger" })
            </div>
        </div>
	
        <div class="form-group">
            @Html.LabelFor(model => model.VerifiedBy, htmlAttributes: new { @class = "control-label col-md-2", @translate="" })
            <div class="col-md-10">
						  
					                 <input class="form-control text-box single-line required" id="VerifiedBy{{culturecode}}" name="VerifiedBy{{culturecode}}" type="text" value="@Model.VerifiedBy" >
				                @Html.ValidationMessageFor(model => model.VerifiedBy, "", new { @class = "text-danger" })
            </div>
        </div>
	
        <div class="form-group">
            @Html.LabelFor(model => model.CreatedDate, htmlAttributes: new { @class = "control-label col-md-2", @translate="" })
            <div class="col-md-10">
						  
					                 <input class="form-control text-box single-line required" id="CreatedDate{{culturecode}}" name="CreatedDate{{culturecode}}" type="text" value="@Model.CreatedDate" >
				                @Html.ValidationMessageFor(model => model.CreatedDate, "", new { @class = "text-danger" })
            </div>
        </div>
	
        <div class="form-group">
            @Html.LabelFor(model => model.ModifiedDate, htmlAttributes: new { @class = "control-label col-md-2", @translate="" })
            <div class="col-md-10">
						  
					                 <input class="form-control text-box single-line required" id="ModifiedDate{{culturecode}}" name="ModifiedDate{{culturecode}}" type="text" value="@Model.ModifiedDate" >
				                @Html.ValidationMessageFor(model => model.ModifiedDate, "", new { @class = "text-danger" })
            </div>
        </div>
	
        <div class="form-group">
            @Html.LabelFor(model => model.VerifiedDate, htmlAttributes: new { @class = "control-label col-md-2", @translate="" })
            <div class="col-md-10">
						  
					                 <input class="form-control text-box single-line required" id="VerifiedDate{{culturecode}}" name="VerifiedDate{{culturecode}}" type="text" value="@Model.VerifiedDate" >
				                @Html.ValidationMessageFor(model => model.VerifiedDate, "", new { @class = "text-danger" })
            </div>
        </div>
	
        <div class="form-group">
            @Html.LabelFor(model => model.Verified, htmlAttributes: new { @class = "control-label col-md-2", @translate="" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Verified)
                    @Html.ValidationMessageFor(model => model.Verified, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
	
        <div class="form-group">
            @Html.LabelFor(model => model.DelFlg, htmlAttributes: new { @class = "control-label col-md-2", @translate="" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.DelFlg)
                    @Html.ValidationMessageFor(model => model.DelFlg, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
	
        <div class="form-group">
            @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label col-md-2", @translate="" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Active)
                    @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
	
        <div class="form-group">
            @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2", @translate="" })
            <div class="col-md-10">
						  
					                 <input class="form-control text-box single-line required" id="Id{{culturecode}}" name="Id{{culturecode}}" type="text" value="@Model.Id" >
				                @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
            </div>
        </div>
	
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2", @translate="" })
            <div class="col-md-10">
						  
					                 <input class="form-control text-box single-line required" id="Title{{culturecode}}" name="Title{{culturecode}}" type="text" value="@Model.Title" >
				                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>
	
</div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save SiteSection" class="btn btn-success" translate/>
				<a href="/admin/SiteSections/index"> <input type="button" value="Back To List" class="btn btn-danger" translate/></a>
                @*<input type="button" value="Back To List" class="btn btn-danger" />*@
            </div>
        </div>
    </div>
	</div>
	</div>
	</form>
	</div>


}
	   


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_Edit");
        await Html.RenderPartialAsync("_CreateEdit");
    }
}