﻿@*@model IEnumerable<MandirDarsan.Areas.Admin.Models.SiteSection>*@
@model PagedList.IPagedList<MandirDarsan.Areas.Admin.Models.SiteSection>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}


<div class="col-md-9">
 
 <div class="clearfix alert alert-grey">
     @if (Model.Any())
     {
         @Html.Partial("_IndexSearch")
     }
            <div class="pull-right">
                <a href="~/Admin/SiteSections/Create/" class="btn btn-primary btn-sm">Create New</a>
                <a href="~/Admin/SiteSections/Trash/" class="btn btn-primary btn-sm">Trash</a><br/>
            </div>
 </div>

<div class="table-responsive clearfix">
 @if (Model.Any())
        {
        <table class="table table-striped table-common">
			<thead>    
				<tr>
        
        <th>
            @Html.DisplayNameFor(model => model.First().MultiLingual)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.First().MultiLingualFiles)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.First().ModifiedBy)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.First().CreatedBy)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.First().VerifiedBy)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.First().CreatedDate)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.First().ModifiedDate)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.First().VerifiedDate)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.First().Verified)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.First().DelFlg)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.First().Active)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.First().Id)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.First().Title)
        </th>
        <th></th>
    </tr>
 </thead>
   <tbody>
@foreach (var item in Model) {
    <tr>
	       
		<td>
		   				@Html.DisplayFor(modelItem => item.MultiLingual)
		           </td>
	 
	       
		<td>
		   				@Html.DisplayFor(modelItem => item.MultiLingualFiles)
		           </td>
	 
	       
		<td>
		   				@Html.DisplayFor(modelItem => item.ModifiedBy)
		           </td>
	 
	       
		<td>
		   				@Html.DisplayFor(modelItem => item.CreatedBy)
		           </td>
	 
	       
		<td>
		   				@Html.DisplayFor(modelItem => item.VerifiedBy)
		           </td>
	 
	       
		<td>
		   				@Html.DisplayFor(modelItem => item.CreatedDate)
		           </td>
	 
	       
		<td>
		   				@Html.DisplayFor(modelItem => item.ModifiedDate)
		           </td>
	 
	       
		<td>
		   				@Html.DisplayFor(modelItem => item.VerifiedDate)
		           </td>
	 
	       
		<td>
		   				@Html.DisplayFor(modelItem => item.Verified)
		           </td>
	 
	       
		<td>
		   				@Html.DisplayFor(modelItem => item.DelFlg)
		           </td>
	 
	       
		<td>
		   				@Html.DisplayFor(modelItem => item.Active)
		           </td>
	 
	       
		<td>
		   				@Html.DisplayFor(modelItem => item.Id)
		           </td>
	 
	       
		<td>
		   				@Html.DisplayFor(modelItem => item.Title)
		           </td>
	 
        <td>
							<form method="post" class="form-horizontal" role="form" action="/Admin/SiteSections/Delete?id=@item.LanguageId" asp-anti-forgery="true">
                                @Html.ActionLink("", "Edit", new {id = item.LanguageId}, new {@class = "fa fa-edit btn btn-success", @title = "Edit", @style = "text-decoration:none;"})
                                <a href="/Admin/SiteSections/Details?id=@item.LanguageId" class="fa fa-copy btn btn-primary" title="Details"></a>
                                @Html.AntiForgeryToken()
                                <input type="submit" value="Delete" id="delete" name="delete" class="btn btn-danger fa fa-trash"/>
							    <a href="#" onclick="GetAuditHistory('@item.Id')()">Changes</a>
                                <a href="~/Admin/Galleries/Index/Bhajans/@item.Id">Add Images</a>
								                            </form>            
        </td>
    </tr>
}
  </tbody>
        </table>
		<text>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</text>
		}		
		else
		{<BR/><BR/><BR/>
    <div class="text-center">
                <p> No @ViewBag.Segment Found! If you want to contribute</p>
                <a href="~/Admin/SiteSections/Create/" class="btn btn-primary btn-sm">Create New SiteSection</a>
                <a href="~/Admin/SiteSections/Trash/@ViewBag.Segment" class="btn btn-primary btn-sm">Check Your Trash</a>
            </div>
	}
	</div>
</div>



@*@Html.PagedListPager(Model,pageNo => Url.Action("Index",new { pageNo,sortOrder = ViewBag.CurrentSort,currentFiler=ViewBag.CurrentFilter,filtervalue=ViewBag.FilterValue}))*@
@section Scripts {
@Html.Partial("_AuditJs")
}