﻿@using System.Threading.Tasks
@using MandirDarsan.Models
@using MandirDarsan.ViewModels.Account
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@model MandirDarsan.ViewModels.Account.UserEditViewModel
@{
    Layout = "~/Areas/Admin/views/shared/_LayoutUser";
}
<form action="/User/EditUserDetails" enctype="multipart/form-data" method="post">
    @Html.AntiForgeryToken()
    <div class="col-md-9">
        <div class="form-horizontal col-md-10">
            <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="Fname" class="col-md-2 control-label" translate>Profile Image</label>
                <div class="col-md-10">
                    <input type="file" name="Fname" class="form-control" />
                </div>
            </div>*@
            <div class="form-group">
                <label asp-for="Fname" class="col-md-2 control-label" translate>First Name </label>
                <div class="col-md-10">
                    <input type="text" name="Fname" class="form-control" value="@Model.Fname" class="required"/>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Lname" class="col-md-2 control-label" translate>Last Name</label>
                <div class="col-md-10">
                    <input type="text" name="Lname" class="form-control" value="@Model.Lname" class="required"/>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Telophone" class="col-md-2 control-label" translate>Telophone</label>
                <div class="col-md-10">
                    <input type="text" name="Telophone" class="form-control" value="@Model.Telophone"/>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="City" class="col-md-2 control-label" translate>City</label>
                <div class="col-md-10">
                    <input type="text" name="City" class="form-control" value="@Model.City"/>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="col-md-2 control-label" translate>Country</label>
                <div class="col-md-10">
                    <input type="text" name="Country" class="form-control" value="@Model.Country" class="required"/>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="col-md-2 control-label" translate>Description</label>
                <div class="col-md-10">
                    <textarea name="Description" cols="40" rows="5" class="form-control" text="@Model.Description"></textarea>
                </div>
            </div>
            <button class="btn btn-primary" text="Save Changes">Save Changes</button>
        </div>
    </div>
</form>