﻿@model UserRoleLanguageViewModel
@{
    Layout = "~/Areas/Admin/views/shared/_LayoutUser";
}
<form method="POST" action="/Account/AddLanguageToUser">

    <div class="col-md-9">
        <div class="alert alert-info fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
            <strong>Hi! @User.Identity.Name</strong> Please Select Preferable Languages

        </div>

        <div class="form-horizontal">
            @Html.AntiForgeryToken()
            @foreach (var Globalization in Model.Globalization)
            {
                <div class="form-group">
                    <div class="col-md-1">

                        <input type="checkbox" id="@Globalization.Culture.Title" name="@Globalization.Culture.Title" class="form-control"/>
                    </div>
                    <div class="col-md-11">
                        <span class="form-control"> @Globalization.Value</span>
                    </div>
                </div>
            }
            <br/>
            <button class="btn btn-primary" text="Save Changes">Save Changes</button>
        </div>
    </div>
</form>