﻿<div  translate-attr-title="@ViewBag.CartSummary"><a class="cart" asp-controller="ShoppingCart" asp-action="Index"><i class="fa fa-shopping-cart"></i><span class="count" translate>@ViewBag.CartCount</span></a></div>