﻿@using System.Threading.Tasks
@using Microsoft.Data.Entity.Metadata.Internal
@model IEnumerable<MandirDarsan.Areas.Admin.Models.Library>

@Html.Partial("_BreadCrumb")
@if (Model != null && (Model.Any())) 
{
    <section class="block block-light">
        <div class="container">
            @foreach (var item in Model)
            {
                <article class="article-post">
                    <div class="post-content clearfix row">
                        <div class="col-sm-4">
                            <figure class="post-thumb ">
                                <a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Library/Details/@ViewContext.RouteData.Values["segment"].ToString()/@item.Title.Replace(" ","_")/@item.Id">
                                    <img alt="" src="@item.ImageUrl.Replace(".jpg","_carousel.jpg")">
                                </a>
                            </figure>
                        </div>
                        <div class="col-sm-8">
                            <div class="entry">
                                <h3>
                                    <a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Library/Details/@ViewContext.RouteData.Values["segment"].ToString()/@item.Title.Replace(" ", "_")/@item.Id">@item.Title</a>
                                </h3>
                                @*<time class="timeago" datetime="@item.PublishDate.ToString()"></time>*@
                                @*<time class="timeago" datetime="2008-09-17T09:24:17Z">July 17, 2008</time>*@

                                <h5>@item.CreatedDate.ToString()</h5>
                                <p>
                                    @item.Summary
                                </p>
                            <a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Library/Details/@ViewContext.RouteData.Values["segment"].ToString()/@item.Title.Replace(" ","_")/@item.Id" class="btn btn-primary"><span translate>View Details</span></a>
                            </div>
                        </div>
                    </div>
                </article>
            }
        </div>
    </section>
}
else
{
    <section class="block block-light">
        <div class="container" translate>
       Nothing Found
         </div>
    </section>
}
<script>
    jQuery(document).ready(function () {
        jQuery("time.timeago").timeago();
    });
</script>