﻿@model MandirDarsan.ViewModels.Mandir.LibraryViewModel
@using Microsoft.AspNet.Http.Extensions
@section Tags {
    <meta name="description" content="@Model.Library.Description" />
    <meta name="keywords" content="@Model.Library.Segment" />
    @*<meta name="author" content="@Model" />*@
    <meta name="copyright" content="mandirdarsan.com" />
    <meta name="application-name" content="mandirdarsan" />
    <meta property="og:title" content="@Model.Library.Title" />
    <meta property="og:type" content="article" />
    @try
    {
        <meta property="og:image" content="@Model.Library.ImageUrl.Replace("~/","http://www.mandirdarsan.com/")" />
    }
    catch (Exception)
    {

        <meta property="og:image" content="@Model.Library.ImageUrl" />
    }
    
    
    <meta property="og:url" content="@this.Context.Request.GetDisplayUrl()" />
    <meta property="og:description" content="@Model.Library.Summary" />
    <meta name="twitter:card" content="@Model.Library.Summary" />
    <meta name="twitter:title" content="Virtual Tour of @Model.Library.Title" />
    <meta name="twitter:description" content="@Model.Library.Description" />
    <meta name="twitter:image" content="@Model.Library.ImageUrl" />
}
<section class="block block-light">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                @if (Model.Library.Verified == false)
                {
                    @Html.Partial("_VerificationMessage")
                }
@if ((Model.Library.Verified == true || User.IsInRole("Admin")) || (User.Identity.Name == Model.Library.CreatedBy || User.Identity.Name == Model.Library.ModifiedBy))
{
    <div class="add-margin-30">
        <ul class="service-slider clearfix">
            @foreach (var items in @Model.Images)
            {
                <li><img src="@items.ImageUrl" alt=""/></li>
            }
        </ul>
    </div>
    @Html.Partial("_Sharer")
    <h2>@Model.Library.Title</h2>
    <div class="package-info">
        <p>@Html.Raw(Model.Library.Description)</p>
    </div>
    <div class="package-info">
        <a href="~/Admin/Home/@Model.Library.CreatedBy">@Model.Library.CreatedBy</a>
    </div>
}
            </div>
            <div class="col-md-4">
                <div class="sidebar">
                    <div class="widget">
                        <h3>Recent @ViewContext.RouteData.Values["segment"].ToString()</h3>
                        @foreach (var items in Model.RecentPost)
                        {
                            <div class="article-list clearfix">
                                <a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Library/Details/@ViewContext.RouteData.Values["segment"].ToString()/@items.Title.Replace(" ","_")/@items.Id">
                                    <figure class="image-holder align-left"><img src="@items.ImageUrl.Replace(".jpg", "_productthumb.jpg")" alt="" width="100%"/></figure>
                                </a>
                                    <div class="entry">
                                        <a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Library/Details/@ViewContext.RouteData.Values["segment"].ToString()/@items.Title.Replace(" ","_")/@items.Id">
                                            <h6>@items.Title</h6>
                                        </a>
                                        <p>
                                            {{'@items.Summary' | limitTo:105}}
                                            <a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Library/Details/@ViewContext.RouteData.Values["segment"].ToString()/@items.Title.Replace(" ","_")/@items.Id" translate>Read More</a>
                                        </p>
                                    </div>
</div>
                        }
                    </div>
                    @if (Model.RecentArticle != null && Model.RelatedArticle.Count > 0)
                    {
                        <div class="widget">
                            <h3>Other Contents</h3>
                            @foreach (var items in Model.RecentArticle)
                            {
                                <div class="article-list clearfix">
                                    <figure class="image-holder align-left"><img src="@items.ImageUrl.Replace(".jpg", "_productthumb.jpg")" alt="" width="100%" /></figure>
                                    <div class="entry">
                                        <a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Library/Details/@items.Segment/@items.Title.Replace(" ", "_")/@items.Id">
                                            <h6>@items.Title</h6>
                                        </a>
                                            <p>
                                                {{'@items.Summary' | limitTo:105}}
                                                <a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Library/Details/@items.Segment/@items.Title.Replace(" ", "_")/@items.Id" translate>Read More</a>
                                            </p>
</div>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
@Html.Partial("_BlockArticle",Model.RelatedArticle)