﻿@model MandirDarsan.Areas.Admin.Models.Temple
@{
    ViewBag.Title = "Create";
}
@*<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>*@
<style type="text/css">
    #map_canvas {
        width: 700px;
        height: 500px;
    }
</style>
@*<script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>*@
@*<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>*@
@*<script src="/js/angular-leaflet-directive.min.js"></script>*@
@*<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css">*@
<div @Html.Partial("_CultureHelper")>
    <form action="/Admin/Temples/Create/" enctype="multipart/form-data" method="post" name="TempleCreate">

        @Html.AntiForgeryToken()

        <div class="col-md-9">
                @Html.Partial("_CreateEditCulture")
            <br />
            <div id="my-tab-content" class="tab-content">
                <div ng-repeat="culturecode in subCulture" class="tab-pane" id="s{{culturecode}}">
                    <div class="form-horizontal col-md-10">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group" ng-if="culturecode == ''">
                            <div id="map_canvas" ng-if="culturecode == ''"></div>
                        </div>
                            <input type="text" value="" name="Latitude" hidden ng-if="culturecode == ''">
                            <input type="text" value="" name="Longitude" hidden ng-if="culturecode == ''">
                            <div class="form-group" ng-if="culturecode == ''">
                                <label class="control-label col-md-2" ng-if="culturecode == ''">Address</label>
                                <div class="col-md-10">
                                    <input type="text" name="address" value="" class="form-control text-box single-line required" ng-if="culturecode == ''">
                                </div>
                            </div>
                            <div class="form-group" ng-if="culturecode == ''">
                                <label class="control-label col-md-2" ng-if="culturecode == ''">Area</label>
                                <div class="col-md-10">
                                    <input type="text" name="area" value="" class="form-control text-box single-line required" ng-if="culturecode == ''">
                                </div>
                            </div>
                            <div class="form-group" ng-if="culturecode == ''">
                                <label class="control-label col-md-2" ng-if="culturecode == ''">Address 2</label>
                                <div class="col-md-10">
                                    <input type="text" name="address2" value="" class="form-control text-box single-line required" ng-if="culturecode == ''">
                                </div>
                            </div>
                            <div class="form-group" ng-if="culturecode == ''">
                                <label class="control-label col-md-2" ng-if="culturecode == ''">Disctrict</label>
                                <div class="col-md-10">
                                    <input type="text" name="district" value="" class="form-control text-box single-line required" ng-if="culturecode == ''">
                                </div>
                            </div>
                            <div class="form-group" ng-if="culturecode == ''">
                                <label class="control-label col-md-2" ng-if="culturecode == ''">Country</label>
                                
                                <div class="col-md-10">
                                    <input type="text" name="country" value="" class="form-control text-box single-line required" ng-if="culturecode == ''">
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2", @translate = "" })
                                <div class="col-md-10">
                                    <input class="form-control text-box single-line required" id="Title{{culturecode}}" name="Title{{culturecode}}" type="text" value="">
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ImageUrl, htmlAttributes: new { @class = "control-label col-md-2", @translate = "" })
                                <div class="col-md-10">
                                    <input name="ImageUrl" id="ImageUrl" class="form-control" type="file" />


                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2", @translate = "" })
                                <div class="col-md-10">
                                    <textarea class="form-control" id="Description{{culturecode}}" name="Description{{culturecode}}"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Summary, htmlAttributes: new { @class = "control-label col-md-2", @translate = "" })
                                <div class="col-md-10">
                                    <input class="form-control text-box single-line required" id="Summary{{culturecode}}" name="Summary{{culturecode}}" type="text"  maxlength="304" minlength="300" value="">
                                </div>
                            </div>
                        </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create New Temple" class="btn btn-success" translate />
                        <a href="/admin/Temples/index"> <input type="button" value="Back To List" class="btn btn-danger" translate /></a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


	  

        @section Scripts {
            @{    await Html.RenderPartialAsync("_CreateEdit");
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
                <script>
                                function initialize() {
                                    var myOptions = {
                                        zoom: 16,
                                        mapTypeId: google.maps.MapTypeId.ROADMAP
                                    };
                                    var map = new google.maps.Map(document.getElementById("map_canvas"),
                                            myOptions);
                                    var latlng = new google.maps.LatLng(27.70319422718826, 85.31365342309573);
                                    map.setCenter(latlng);


                                    //make marker
                                    var marker = new google.maps.Marker({
                                        position: map.getCenter(),
                                        map: map,
                                        draggable: true,
                                        title: "drag this marker to delivery address."
                                    });
                                    //check for gps
                                    if (navigator.geolocation) {
                                        navigator.geolocation.getCurrentPosition(function (position) {

                                            latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                                            map.setCenter(latlng);
                                            marker.setPosition(latlng);
                                            formManager(position.coords.latitude, position.coords.longitude);
                                        });
                                    }

                                    google.maps.event.addListener(map, 'click', function (event) {
                                        var myLatLng = event.latLng;
                                        var lat = myLatLng.lat();
                                        var lng = myLatLng.lng();
                                        marker.setPosition(myLatLng);
                                        formManager(lat, lng);
                                    });



                                    //Dragged marker
                                    google.maps.event.addListener(marker, "dragend", function (event) {
                                        var myLatLng = event.latLng;
                                        var lat = myLatLng.lat();
                                        var lng = myLatLng.lng();
                                        formManager(lat, lng);
                                    });



                                    function formManager(lat, lng) {
                                        document.TempleCreate.latitude.value = lat;
                                        document.TempleCreate.longitude.value = lng;
                                        var ilatlng = new google.maps.LatLng(lat, lng);
                                        geocoder = new google.maps.Geocoder();
                                        geocoder.geocode({ "latLng": ilatlng }, function (results, status) {
                                            if (status == google.maps.GeocoderStatus.OK) {

                                                document.TempleCreate.address.value = "";
                                                document.TempleCreate.address2.value = "";
                                                document.TempleCreate.district.value = "";
                                                document.TempleCreate.area.value = '';

                                                for (i = 0; i < results[0].address_components.length; i++) {
                                                    for (j = 0; j < results[0].address_components[i].types.length; j++) {
                                                        if (results[0].address_components[i].types[j] == "route") {
                                                            document.TempleCreate.address.value = results[0].address_components[i].long_name;
                                                        }
                                                        if (results[0].address_components[i].types[j] == "neighborhood") {
                                                            document.TempleCreate.address2.value = results[0].address_components[i].long_name;
                                                        }
                                                        if (results[0].address_components[i].types[j] == "sublocality") {
                                                            document.TempleCreate.area.value = results[0].address_components[i].long_name;
                                                        }
                                                        if (results[0].address_components[i].types[j] == "locality") {
                                                            document.TempleCreate.district.value = results[0].address_components[i].long_name;
                                                        }
                                                        if (results[0].address_components[i].types[j] == "country") {
                                                            document.TempleCreate.country.value = results[0].address_components[i].long_name;
                                                        }
                                                    }
                                                }


                                            }





                                        });
                                    }
                                }



                                google.maps.event.addDomListener(window, "load", initialize);
                </script>
            }
        }