﻿@model MandirDarsan.Areas.Admin.Models.Temple

@{
    ViewBag.Title = "Details";
}

@*<h2>Details</h2>*@

 @*The Upper Part*@         
    
        <div class="row">
                <div class="mail-apps-wrap">
                    <div class="the-box bg-success no-border no-margin heading col-sm-12">
                        <div class="col-sm-6">
                            <h1><i class="fa fa-envelope icon-lg icon-circle icon-bordered"></i> Temple Details </h1>
                        </div>
                        <div class="col-sm-6 text-right">
                            <div class="btn-group">
                                <button class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-cog"></i>
                                </button>
                                <ul class="dropdown-menu success pull-right square margin-list text-left" role="menu">
                                    <li>@Html.ActionLink("Edit This", "Edit", new { /* id = Model.PrimaryKey */ })</li> |
									<li><a href="~/admin/Temples/create/">Create New Temple</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
<div>
    @*<h4>Temple</h4>
    <hr />
    <dl class="dl-horizontal">*@
        <dt>
            @Html.DisplayNameFor(model => model.MultiLingual)
        </dt>

        <dd>
        			@Html.DisplayFor(model => model.MultiLingual)
				</dd>
        <dt>
            @Html.DisplayNameFor(model => model.MultiLingualFiles)
        </dt>

        <dd>
        			@Html.DisplayFor(model => model.MultiLingualFiles)
				</dd>
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
        			@Html.DisplayFor(model => model.Id)
				</dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
        			@Html.DisplayFor(model => model.Name)
				</dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
        			@if (Model.ImageUrl != null)
			  {
                    <div class="magnific-popup-wrap col-xs-6 col-md-3">
						<a class="zooming" href="@Model.ImageUrl" title="@item.Title">
							<img src="@Model.ImageUrl.Replace(".jpg","_thumb.jpg")" alt="Image" class="mfp-fade item-gallery img-responsive">
						</a>
					</div>
					<br>
              }
				</dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
           
		    @Html.Raw(Model.Description)
        		</dd>
        <dt>
            @Html.DisplayNameFor(model => model.CountryId)
        </dt>

        <dd>
        			@Html.DisplayFor(model => model.CountryId)
				</dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dis)
        </dt>

        <dd>
        			@Html.DisplayFor(model => model.Dis)
				</dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
        			@Html.DisplayFor(model => model.City)
				</dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
        			@Html.DisplayFor(model => model.Location)
				</dd>
        <dt>
            @Html.DisplayNameFor(model => model.InFooter)
        </dt>

        <dd>
        			@Html.DisplayFor(model => model.InFooter)
				</dd>
        <dt>
            @Html.DisplayNameFor(model => model.GeoLocation)
        </dt>

        <dd>
        			@Html.DisplayFor(model => model.GeoLocation)
				</dd>
        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>

        <dd>
        			@Html.DisplayFor(model => model.Summary)
				</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LanguageId }) |
    <a href="/admin/Temples/index"> <input type="button" value="Back To List" class="btn btn-danger" /><a>
</p>
