﻿@*@model IEnumerable<MandirDarsan.Areas.Admin.Models.Temple>*@
@model PagedList.IPagedList<MandirDarsan.Areas.Admin.Models.Temple>
@using MandirDarsan;
@using System.Threading.Tasks
@using Microsoft.Data.Entity.Metadata.Internal
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
}
<div class="col-md-9">
 <div class="clearfix alert alert-grey">
            @if (Model.Any())
                {
			        @Html.Partial("_IndexSearch")
                }
            <div class="pull-right">
                <a href="~/Admin/Temples/Create/" class="btn btn-primary btn-sm" translate>Create New</a>
                <a href="~/Admin/Temples/Trash/" class="btn btn-primary btn-sm" translate>Trash</a><br/>
            </div>
 </div>

<div class="table-responsive clearfix">
 @if (Model.Any())
        {
        <table class="table table-striped table-common">
			<thead>    
				<tr>
       
        <th>
            @Html.DisplayNameFor(model => model.First().Title)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.First().ImageUrl)
        </th>
				    <th>
				        Status
				    </th>
				    <th>Options</th>
    </tr>
 </thead>
   <tbody>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @if (item.ImageUrl != null)
            {
                <div class="magnific-popup-wrap">
                    <a class="gallery-popup" href="@item.ImageUrl" title="@item.Title">
                        <img src="@item.ImageUrl.Replace(".jpg", "_thumb.jpg")" alt="Image" class="mfp-fade item-gallery">
                    </a>
                </div>
            }
        </td>
        <td>
            @RockmanduBase.VerificationStatus(item.Verified.ToString())
        </td>
        <td>
            <form method="post" class="form-horizontal" role="form" action="/Admin/Temples/Delete?id=@item.Id" asp-anti-forgery="true">
                @Html.ActionLink("", "Edit", new { id = item.Id }, new { @class = "fa fa-edit btn btn-success", @title = "Edit", @style = "text-decoration:none;" })
                <a href="~/English/Temples/Details/@item.Title.Replace(" ","_")/@item.Id" class="fa fa-copy btn btn-primary" title="Details"></a>
                @Html.AntiForgeryToken()
                <input type="submit" value="Delete" id="delete" name="delete" class="btn btn-danger fa fa-trash"/>
                <a href="#" onclick="GetAuditHistory('@item.Id')()" translate>Changes</a>
                <a href="~/Admin/Galleries/Index/Temples/@item.Id">Add Images</a>
            </form>
        </td>
    </tr>
}
  </tbody>
        </table>
		<text>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</text>
		}		
		else
		{<BR/><BR/><BR/>
    <div class="text-center">
                <p translate> No @ViewBag.Segment Found! If you want to contribute</p>
                <a href="~/Admin/Temples/Create/" class="btn btn-primary btn-sm" translate>Create New Temple</a>
                <a href="~/Admin/Temples/Trash/@ViewBag.Segment" class="btn btn-primary btn-sm" translate>Check Your Trash</a>
            </div>
	}
	</div>
</div>

@section Scripts{
    @Html.Partial("_AuditJs")
}