﻿@using System.Threading.Tasks
@using MandirDarsan.ViewModels.Manage
@model MandirDarsan.ViewModels.Manage.AddPhoneNumberViewModel
@{
    ViewData["Title"] = "Add Phone Number";
    Layout = "~/Areas/Admin/views/shared/_LayoutUser";
}
<section class="block block-light">
    <div class="container">
        <div class="row">
            <div class="col-md-9 ">
                <form asp-controller="Manage" asp-action="AddPhoneNumber" method="post" class="form-horizontal" role="form">
                    <h4 translate>Add Phone Number</h4>
                    <hr />
                    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="col-md-2 control-label" translate></label>
                        <div class="col-md-10">
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger" translate></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-default" translate>Send verification code</button>
                        </div>
                    </div>
                </form>

                @section Scripts {
                    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
                }
                </div>
            </div>

    </div>
    </div>
</section>