﻿@using System.Threading.Tasks
@using MandirDarsan.ViewModels.Manage
@model MandirDarsan.ViewModels.Manage.ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Areas/Admin/views/shared/_LayoutUser";
}


<section class="block block-light">
    <div class="container">
        <div class="row">
            <div class="col-md-9 ">
                <form asp-controller="Manage" asp-action="ChangePassword" method="post" class="form-horizontal" role="form">
                    <h4 translate>Change Password</h4>
                    <hr />
                    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="OldPassword" class="col-md-2 control-label" translate></label>
                        <div class="col-md-10">
                            <input asp-for="OldPassword" class="form-control" />
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewPassword" class="col-md-2 control-label" translate></label>
                        <div class="col-md-10">
                            <input asp-for="NewPassword" class="form-control" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="col-md-2 control-label" translate></label>
                        <div class="col-md-10">
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-default" translate>Change Password</button>
                        </div>
                    </div>
                </form>

                @section Scripts {
                    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
                }

            </div>

        </div>
    </div>
</section>