﻿@using System.Threading.Tasks
@using MandirDarsan.ViewModels.Manage
@model MandirDarsan.ViewModels.Manage.IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
    Layout = "~/Areas/Admin/views/shared/_LayoutUser";
}
<section class="block block-light">
<div class="container">
    <div class="row">
        <div class="col-md-9 ">
            <h2>@ViewData["Title"].</h2>
            <p class="text-success">@ViewData["StatusMessage"]</p>
            <div>
                <h4 translate>Change your account settings</h4>
                <hr/>
                <dl class="dl-horizontal">
                    <dt>Password:</dt>
                    <dd>
                        [
                        @if (Model.HasPassword)
                        {
                            <a asp-controller="Manage" asp-action="ChangePassword">Change</a>
                        }
                        else
                        {
                            <a asp-controller="Manage" asp-action="SetPassword">Create</a>
                        }
                        ]
                    </dd>
                    <dt translate>External Logins:</dt>
                    <dd>

                        @Model.Logins.Count [<a asp-controller="Manage" asp-action="ManageLogins">Manage</a>]
                    </dd>


                    <dt translate>Phone Number:</dt>
                    <dd>
                        <p translate>
                            Phone Numbers can used as a second factor of verification in two-factor authentication.
                            See <a href="http://go.microsoft.com/fwlink/?LinkID=532713">this article</a>
                            for details on setting up this ASP.NET application to support two-factor authentication using SMS.
                        </p>
                        @*@(Model.PhoneNumber ?? "None") [
                                @if (Model.PhoneNumber != null)
                                {
                                    <a asp-controller="Manage" asp-action="AddPhoneNumber">Change</a>
                                        @: &nbsp;|&nbsp;
                                        <a asp-controller="Manage" asp-action="RemovePhoneNumber">Remove</a>
                                }
                                else
                                {
                                    <a asp-controller="Manage" asp-action="AddPhoneNumber">Add</a>
                                }
                                ]*@
                    </dd>

                    <dt translate>Two-Factor Authentication:</dt>
                    <dd>
                        <p translate>
                            There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkID=532713">this article</a>
                            for setting up this application to support two-factor authentication.
                        </p>
                        @*@if (Model.TwoFactor)
                                {
                                    <form asp-controller="Manage" asp-action="DisableTwoFactorAuthentication" method="post" class="form-horizontal" role="form">
                                        <text>
                                            Enabled
                                            <button type="submit" class="btn btn-link">Disable</button>
                                        </text>
                                    </form>
                                }
                                else
                                {
                                    <form asp-controller="Manage" asp-action="EnableTwoFactorAuthentication" method="post" class="form-horizontal" role="form">
                                        <text>
                                            Disabled
                                            <button type="submit" class="btn btn-link">Enable</button>
                                        </text>
                                    </form>
                                }*@
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
    </section>
