﻿@model MandirDarsan.ViewModels.Manage.ManageLoginsViewModel
@using System.Threading.Tasks
@using MandirDarsan.ViewModels.Manage
@using Microsoft.AspNet.Http.Authentication
@{
    ViewData["Title"] = "Manage your external logins";
    Layout = "~/Areas/Admin/views/shared/_LayoutUser";
}
<section class="block block-light">
    <div class="container">
        <div class="row">
            <div class="col-md-9 ">
                @*<h2>@ViewData["Title"].</h2>*@
                <p class="text-success">@ViewData["StatusMessage"]</p>
                @if (Model.CurrentLogins.Count > 0)
                {
                    <h4 translate>Registered Logins</h4>
                    <table class="table">
                        <tbody>
                        @foreach (var account in Model.CurrentLogins)
                        {
                            <tr>
                                <td>@account.LoginProvider</td>
                                <td>
                                    @if ((bool) ViewData["ShowRemoveButton"])
                                    {
                                        <form asp-controller="Manage" asp-action="RemoveLogin" method="post" class="form-horizontal" role="form">
                                            <div>
                                                <input asp-for="@account.LoginProvider" type="hidden"/>
                                                <input asp-for="@account.ProviderKey" type="hidden"/>
                                                <input type="submit" class="btn btn-default" value="Remove" title="Remove this @account.LoginProvider login from your account"/>
                                            </div>
                                        </form>
                                    }
                                    else
                                    {
                                        @: &nbsp;
                                    }
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                }
                @if (Model.OtherLogins.Count > 0)
                {
                    <h4 translate>Add another service to log in.</h4>
                    <hr/>
                    <form asp-controller="Manage" asp-action="LinkLogin" method="post" class="form-horizontal" role="form">
                        <div id="socialLoginList">
                            <p>
                                @foreach (var provider in Model.OtherLogins)
                                {
                                    <button type="submit" class="btn btn-default" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account">@provider.AuthenticationScheme</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</section>