﻿@using System.Threading.Tasks
@using MandirDarsan.ViewModels.Manage
@model MandirDarsan.ViewModels.Manage.SetPasswordViewModel
@{
    ViewData["Title"] = "Set Password";
    Layout = "~/Areas/Admin/views/shared/_LayoutUser";
}
<section class="block block-light">
    <div class="container">
        <div class="row">
            <div class="col-md-9 ">

                <p class="text-info" translate>
                    You do not have a local username/password for this site. Add a local
                    account so you can log in without an external login.
                </p>

                <form asp-controller="Manage" asp-action="SetPassword" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                    <h4 translate>Set your password</h4>
                    <hr/>
                    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="NewPassword" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="NewPassword" class="form-control"/>
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="ConfirmPassword" class="form-control"/>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-default" translate>Set password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


                @section Scripts {
                    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
                }
