﻿@model MandirDarsan.Areas.Admin.Models.Package

@{
    ViewBag.Title = "Create";
}
<div @Html.Partial("_CultureHelper")>
        <form action="/Admin/Packages/Create/" enctype="multipart/form-data" method="post" >
    @Html.AntiForgeryToken()
    <div class="col-md-9">
@Html.Partial("_CreateEditCulture")
			<br />
            <div id="my-tab-content" class="tab-content">
                <div ng-repeat="culturecode in subCulture" class="tab-pane" id="s{{culturecode}}">
	   
	   <div class="form-horizontal col-md-10">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2", @translate=""})
            <div class="col-md-10">
                                 <input class="form-control text-box single-line required" id="Title{{culturecode}}" name="Title{{culturecode}}" type="text" value="" >
								

            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.Destination, htmlAttributes: new { @class = "control-label col-md-2", @translate=""})
            <div class="col-md-10">
                                 <input class="form-control text-box single-line required" id="Destination{{culturecode}}" name="Destination{{culturecode}}" type="text" value="" >
								

            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.Duration, htmlAttributes: new { @class = "control-label col-md-2", @translate=""})
            <div class="col-md-10">
                                 <input class="form-control text-box single-line required" id="Duration{{culturecode}}" name="Duration{{culturecode}}" type="text" value="" >
								

            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2", @translate=""})
            <div class="col-md-10">
                                 <input class="form-control text-box single-line required" id="Price{{culturecode}}" name="Price{{culturecode}}" type="text" value="" >
								

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Activity, htmlAttributes: new { @class = "control-label col-md-2", @translate=""})
            <div class="col-md-10">
                                 <input class="form-control text-box single-line required" id="Activity{{culturecode}}" name="Activity{{culturecode}}" type="text" value="" >
								

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GroupSize, htmlAttributes: new { @class = "control-label col-md-2", @translate=""})
            <div class="col-md-10">
                                 <input class="form-control text-box single-line required" id="GroupSize{{culturecode}}" name="GroupSize{{culturecode}}" type="text" value="" >
								

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2", @translate=""})
            <div class="col-md-10">
                										<textarea class="form-control" id="Description{{culturecode}}" name="Description{{culturecode}}"></textarea>

								

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImageUrl, htmlAttributes: new { @class = "control-label col-md-2", @translate=""})
            <div class="col-md-10">
                					<input name="ImageUrl" id="ImageUrl" class="form-control" type="file" />
								

            </div>
        </div>

	       @*<div class="form-group">
	           @Html.LabelFor(model => model.Map, htmlAttributes: new {@class = "control-label col-md-2", @translate = ""})
	           <div class="col-md-10">
	               <input class="form-control text-box single-line required" id="Map{{culturecode}}" name="Map{{culturecode}}" type="text" value="">


	           </div>
	       </div>*@
           <div class="form-group">
            @Html.LabelFor(model => model.Summary, htmlAttributes: new { @class = "control-label col-md-2", @translate=""})
            <div class="col-md-10">
                                 <input class="form-control text-box single-line required" id="Summary{{culturecode}}" name="Summary{{culturecode}}" type="text" maxlength="304" value="" >
								

            </div>
        </div>

       

			</div>
		</div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create New Package" class="btn btn-success" translate/>
               <a href="/admin/Packages/index"> <input type="button" value="Back To List" class="btn btn-danger" translate /></a>
            </div>
        </div>
    </div>
	 </div>

</form>
</div>


	  

        @section Scripts {
            @{
				await Html.RenderPartialAsync("_CreateEdit");
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
        }