﻿@model MandirDarsan.Areas.Admin.Models.Package

@{
    ViewBag.Title = "Edit";
}

@*<h2>Edit</h2>*@


																										<div @Html.Partial("_CultureHelper")>
	 <form action="/Admin/Packages/Edit/" enctype="multipart/form-data" method="post">

    @Html.AntiForgeryToken()
	   @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.CreatedBy)
            @Html.HiddenFor(model => model.CreatedDate)

            @Html.HiddenFor(model => model.ModifiedBy)
            @Html.HiddenFor(model => model.ModifiedDate)
            
            @Html.HiddenFor(model => model.VerifiedDate)
            @Html.HiddenFor(model => model.VerifiedBy)
            @Html.HiddenFor(model => model.Verified)
               @Html.HiddenFor(model => model.DelFlg)
	 
<div class="col-md-9">
@Html.Partial("_CreateEditCulture")
			<br />
            <div id="my-tab-content" class="tab-content">
                <div ng-repeat="culturecode in subCulture" class="tab-pane" id="s{{culturecode}}">
    <div class="form-horizontal col-md-10">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
     @*   @Html.HiddenFor(model => model.LanguageId)*@

       
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2", @translate="" })
            <div class="col-md-10">
						  
					                 <input class="form-control text-box single-line required" id="Title{{culturecode}}" name="Title{{culturecode}}" type="text" value="@Model.Title" >
				                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>
	
        @*<div class="form-group">
            @Html.LabelFor(model => model.Destination, htmlAttributes: new { @class = "control-label col-md-2", @translate="" })
            <div class="col-md-10">
						  
					                 <input class="form-control text-box single-line required" id="Destination{{culturecode}}" name="Destination{{culturecode}}" type="text" value="@Model.Destination" >
				                @Html.ValidationMessageFor(model => model.Destination, "", new { @class = "text-danger" })
            </div>
        </div>*@
	
        @*<div class="form-group">
            @Html.LabelFor(model => model.Duration, htmlAttributes: new { @class = "control-label col-md-2", @translate="" })
            <div class="col-md-10">
						  
					                 <input class="form-control text-box single-line required" id="Duration{{culturecode}}" name="Duration{{culturecode}}" type="text" value="@Model.Duration" >
				                @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
            </div>
        </div>*@
	
        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2", @translate="" })
            <div class="col-md-10">
						  
					                 <input class="form-control text-box single-line required" id="Price{{culturecode}}" name="Price{{culturecode}}" type="text" value="@Model.Price" >
				                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>
	
        <div class="form-group">
            @Html.LabelFor(model => model.Activity, htmlAttributes: new { @class = "control-label col-md-2", @translate="" })
            <div class="col-md-10">
						  
					                 <input class="form-control text-box single-line required" id="Activity{{culturecode}}" name="Activity{{culturecode}}" type="text" value="@Model.Activity" >
				                @Html.ValidationMessageFor(model => model.Activity, "", new { @class = "text-danger" })
            </div>
        </div>
	
        <div class="form-group">
            @Html.LabelFor(model => model.GroupSize, htmlAttributes: new { @class = "control-label col-md-2", @translate="" })
            <div class="col-md-10">
						  
					                 <input class="form-control text-box single-line required" id="GroupSize{{culturecode}}" name="GroupSize{{culturecode}}" type="text" value="@Model.GroupSize" >
				                @Html.ValidationMessageFor(model => model.GroupSize, "", new { @class = "text-danger" })
            </div>
        </div>
	
        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2", @translate="" })
            <div class="col-md-10">
														<textarea class="form-control" id="Description{{culturecode}}" name="Description{{culturecode}} ">@Model.Description</textarea>
				                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
	
        <div class="form-group">
            @Html.LabelFor(model => model.ImageUrl, htmlAttributes: new { @class = "control-label col-md-2", @translate="" })
            <div class="col-md-10">
									@Html.HiddenFor(model => model.ImageUrl, new { htmlAttributes = new { @class = "form-control" } })
					<input name="IImageUrl" id="ImageUrlKo" class="form-control" type="file" value="@Model.ImageUrl"/>
				                @Html.ValidationMessageFor(model => model.ImageUrl, "", new { @class = "text-danger" })
            </div>
        </div>
	
        @*<div class="form-group">
            @Html.LabelFor(model => model.Map, htmlAttributes: new { @class = "control-label col-md-2", @translate="" })
            <div class="col-md-10">
						  
					                 <input class="form-control text-box single-line required" id="Map{{culturecode}}" name="Map{{culturecode}}" type="text" value="@Model.Map" >
				                @Html.ValidationMessageFor(model => model.Map, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.InHomePage, htmlAttributes: new {@class = "control-label col-md-2", @translate = ""})
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.InHomePage)
                    @Html.ValidationMessageFor(model => model.InHomePage, "", new {@class = "text-danger"})
                </div>
            </div>
        </div>*@
        <div class="form-group">
            @Html.LabelFor(model => model.Summary, htmlAttributes: new { @class = "control-label col-md-2", @translate = "" })
            <div class="col-md-10">
                <input class="form-control text-box single-line required" id="Summary{{culturecode}}" name="Summary{{culturecode}}" type="text" maxlength="304" value="">


            </div>
        </div>
	
</div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save Package" class="btn btn-success" translate/>
				<a href="/admin/Packages/index"> <input type="button" value="Back To List" class="btn btn-danger" translate/></a>
                @*<input type="button" value="Back To List" class="btn btn-danger" />*@
            </div>
        </div>
    </div>
	</div>
	</div>
	</form>
	</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_Edit");
        await Html.RenderPartialAsync("_CreateEdit");
    }
}