﻿@*@model IEnumerable<MandirDarsan.Areas.Admin.Models.Package>*@
@model PagedList.IPagedList<MandirDarsan.Areas.Admin.Models.Package>
@using MandirDarsan;
@using System.Threading.Tasks
@using Microsoft.Data.Entity.Metadata.Internal
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}


<div class="col-md-9">
 
 <div class="clearfix alert alert-grey">
     @if (Model.Any())
     {
         @Html.Partial("_IndexSearch")
     }
            <div class="pull-right">
                <a href="~/Admin/Packages/Create/" class="btn btn-primary btn-sm">Create New</a>
                <a href="~/Admin/Packages/Trash/" class="btn btn-primary btn-sm">Trash</a><br/>
            </div>
 </div>

<div class="table-responsive clearfix">
 @if (Model.Any())
        {
        <table class="table table-striped table-common">
			<thead>    
				<tr>
        
       
        <th>
            @Html.DisplayNameFor(model => model.First().Title)
        </th>
        
        @*<th>
            @Html.DisplayNameFor(model => model.First().Destination)
        </th>*@
        
        @*<th>
            @Html.DisplayNameFor(model => model.First().Duration)
        </th>*@
        
        <th>
            @Html.DisplayNameFor(model => model.First().Price)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.First().Activity)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.First().GroupSize)
        </th>
         
        <th>
            @Html.DisplayNameFor(model => model.First().ImageUrl)
        </th>
                    <th>
                        Status
                    </th>
                   
                    <th>Options</th>

    </tr>
 </thead>
   <tbody>
@foreach (var item in Model) {
    <tr>
	  
	       
		<td>
		   				@Html.DisplayFor(modelItem => item.Title)
		           </td>
	 
	       
		@*<td>
		   				@Html.DisplayFor(modelItem => item.Destination)
		           </td>
	 
	       
		<td>
		   				@Html.DisplayFor(modelItem => item.Duration)
		           </td>*@
	 
	       
		<td>
		   				@Html.DisplayFor(modelItem => item.Price)
		           </td>
	 
	       
		<td>
		   				@Html.DisplayFor(modelItem => item.Activity)
		           </td>
	 
	       
		<td>
		   				@Html.DisplayFor(modelItem => item.GroupSize)
		           </td>
	 
	 
	       
		<td>
		   			  @if (item.ImageUrl != null)
			  {
					<div class="magnific-popup-wrap">
						<a class="gallery-popup" href="@item.ImageUrl" title="@item.Title">
							<img src="@item.ImageUrl.Replace(".jpg","_thumb.jpg")" alt="Image" class="mfp-fade item-gallery">
						</a>
					</div>
              }
		           </td>
	 
        <td>
            @RockmanduBase.VerificationStatus(item.Verified.ToString())
        </td>
	 
        <td>
            <form method="post" class="form-horizontal" role="form" action="/Admin/Packages/Delete?id=@item.Id" asp-anti-forgery="true">
                @Html.ActionLink("", "Edit", new { id = item.Id }, new { @class = "fa fa-edit btn btn-success", @title = "Edit", @style = "text-decoration:none;" })
                <a href="~/English/Services/Details/Package/@item.Title.Replace(" ","_")/@item.Id" class="fa fa-copy btn btn-primary" title="Details"></a>
                @Html.AntiForgeryToken()
                <input type="submit" value="Delete" id="delete" name="delete" class="btn btn-danger fa fa-trash" />
                <a href="#" onclick="GetAuditHistory('@item.Id')()">Changes</a>
                <a href="~/Admin/Galleries/Index/Packages/@item.Id">Add Images</a>
            </form>            
        </td>
    </tr>
}
  </tbody>
        </table>
		<text>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</text>
		}		
		else
		{<BR/><BR/><BR/>
    <div class="text-center">
                <p> No @ViewBag.Segment Found! If you want to contribute</p>
                <a href="~/Admin/Packages/Create/" class="btn btn-primary btn-sm">Create New Package</a>
                <a href="~/Admin/Packages/Trash/@ViewBag.Segment" class="btn btn-primary btn-sm">Check Your Trash</a>
            </div>
	}
	</div>
</div>



@*@Html.PagedListPager(Model,pageNo => Url.Action("Index",new { pageNo,sortOrder = ViewBag.CurrentSort,currentFiler=ViewBag.CurrentFilter,filtervalue=ViewBag.FilterValue}))*@
@section Scripts {
@Html.Partial("_AuditJs")
}