﻿@model MandirDarsan.Areas.Admin.Models.Product
@{
    ViewBag.Title = "Create";
}
@*<h2>Create</h2>*@
<div @Html.Partial("_CultureHelper")>
<form action="/Admin/Products/Create/" enctype="multipart/form-data" method="post" >
    @Html.AntiForgeryToken()
    <div class="col-md-9">
            @Html.Partial("_CreateEditCulture")
			<br />
            <div id="my-tab-content" class="tab-content">
                <div ng-repeat="culturecode in subCulture" class="tab-pane" id="s{{culturecode}}">
                	   <div class="form-horizontal col-md-10">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CategoryId, "CategoryId", htmlAttributes: new { @class = "control-label col-md-2", @translate=""})
            <div class="col-md-10">
                @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2", @translate=""})
            <div class="col-md-10">
                                 <input class="form-control text-box single-line required" id="Title{{culturecode}}" name="Title{{culturecode}}" type="text" value="" >
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2", @translate=""})
            <div class="col-md-10">
                    <textarea class="form-control" id="Description{{culturecode}}" name="Description{{culturecode}}"></textarea>
            </div>
        </div>

        <div class="form-group" ng-if="culturecode == ''">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2", @translate=""})
            <div class="col-md-10">
                <input class="form-control text-box single-line required" id="Price{{culturecode}}" name="Price{{culturecode}}" type="text" value="" >
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Summary, htmlAttributes: new { @class = "control-label col-md-2", @translate=""})
            <div class="col-md-10">
                <input class="form-control text-box single-line required" id="Summary{{culturecode}}"  maxlength="304" minlength="300" name="Summary{{culturecode}}" type="text" value="" >
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Speciality, htmlAttributes: new { @class = "control-label col-md-2", @translate=""})
            <div class="col-md-10">
                <input class="form-control text-box single-line required" id="Speciality{{culturecode}}" name="Speciality{{culturecode}}" type="text" value="" >
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ImageUrl, htmlAttributes: new { @class = "control-label col-md-2", @translate=""})
            <div class="col-md-10">
                					<input name="ImageUrl" id="ImageUrl" class="form-control" type="file" />
								

            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label col-md-2", @translate=""})
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Active)
    
                </div>
            </div>
        </div>*@

			</div>
		</div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create New Product" class="btn btn-success" />
               <a href="/admin/Products/index"> <input type="button" value="Back To List" class="btn btn-danger" /></a>
            </div>
        </div>
    </div>
	 </div>

</form>
</div>


	  

        @section Scripts {
            @{
				await Html.RenderPartialAsync("_CreateEdit");
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
        }