﻿@*@model IEnumerable<MandirDarsan.Areas.Admin.Models.Product>*@
@model PagedList.IPagedList<MandirDarsan.Areas.Admin.Models.Product>
@using PagedList.Mvc

@{
    ViewBag.Title = "Delete";
}


<div class="col-md-9">
 
 <div class="clearfix alert alert-grey">
            <div class="pull-right">
                <a href="~/Admin/Products/Create/" class="btn btn-primary btn-sm">Create New</a>
				<a href="~/Admin/Products/Index/" class="btn btn-primary btn-sm">Index</a><br/>
            </div>
 </div>
 <div class="table-responsive clearfix">
 @if (Model.Any())
        {
        <table class="table table-striped table-common">
			<thead>    
				<tr>
        
        <th>
            @Html.DisplayNameFor(model => model.First().Category.Title)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.First().Title)
        </th>
         
        <th>
            @Html.DisplayNameFor(model => model.First().Price)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.First().Summary)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.First().Speciality)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.First().ImageUrl)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.First().Active)
        </th>
        <th></th>
    </tr>
 </thead>
   <tbody>
@foreach (var item in Model) {
    <tr>
	       
		<td>
		   				@Html.DisplayFor(modelItem => item.Category.Title)
		           </td>
	 
	       
		<td>
		   				@Html.DisplayFor(modelItem => item.Title)
		           </td>
	 
	 
	       
		<td>
		   				@Html.DisplayFor(modelItem => item.Price)
		           </td>
	 
	       
		<td>
		   				@Html.DisplayFor(modelItem => item.Summary)
		           </td>
	 
	       
		<td>
		   				@Html.DisplayFor(modelItem => item.Speciality)
		           </td>
	 
	       
		<td>
		   			  @if (item.ImageUrl != null)
			  {
					<div class="magnific-popup-wrap">
						<a class="gallery-popup" href="@item.ImageUrl" title="@item.Title">
							<img src="@item.ImageUrl.Replace(".jpg","_thumb.jpg")" alt="Image" class="mfp-fade item-gallery">
						</a>
					</div>
              }
		           </td>
	 
	       
		<td>
		   				@Html.DisplayFor(modelItem => item.Active)
		           </td>
	 
        <td>
							 <table>
                                <tr>
                                    <td>
                                        <form method="post" class="form-horizontal" role="form" action="/Admin/Products/RecoverTrash?id=@item.Id" asp-anti-forgery="true">
                                            @Html.AntiForgeryToken()
                                            <input type="submit" value="Undelete" class="btn btn-primary" />
                                        </form>	
                                    </td>
                                    <td>
                                        <form id="deleteForm" method="post" class="form-horizontal" role="form" action="/Admin/Products/DeleteTrashItem?id=@item.Id" asp-anti-forgery="true">
                                            @Html.AntiForgeryToken()
                                            <input type="submit" value="Permanent Delete" class="btn btn-danger delete-btn"/>
                                        </form>
                                    </td>
                                </tr>
                            </table>
        </td>
    </tr>
}
  </tbody>
        </table>
		<text>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</text>
		}		
		else
		{<BR/><BR/><BR/>
    <div class="text-center">
                <p> Nothing Found In Trash ! If you want to contribute</p>
            <a href="~/Admin//Products/Create/" class="btn btn-primary btn-sm">Create New /Product</a>
            </div>
	}
	@if (Model.Count() >= 2)
        {
            <form method="post" class="form-horizontal" role="form" action="/Admin/Library/DeleteTrash?segment=@ViewBag.Segment" id="EmptyTrash" asp-anti-forgery="true">
                @Html.AntiForgeryToken()
                <input type="submit" value="Delete All At Once !" class="btn btn-danger btn-emptyTrash"/>
            </form>
        }
	</div>
</div>

@section Scripts {
    @{
      @Html.Partial("_Deletejs")
    }
}

@*@Html.PagedListPager(Model,pageNo => Url.Action("Index",new { pageNo,sortOrder = ViewBag.CurrentSort,currentFiler=ViewBag.CurrentFilter,filtervalue=ViewBag.FilterValue}))*@
