﻿@using System.Threading.Tasks
@using MandirDarsan.Models
@model MandirDarsan.ViewModels.Mandir.ShoppingCartViewModel
@{
    ViewBag.Title = "Address And Payment";
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
@using PayPal.Util
@Html.Partial("_Breadcrumb")
@*<form asp-antiforgery="true">
    @Html.AntiForgeryToken()*@
    <section class="block block-light">
        <div class="container">
            <div class="checkout-sec">
                @*<form role="form">*@
                    <h2>Billing Details</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="first-name">First Name</label>
                                <input type="email" class="form-control" id="first-name" placeholder="Enter Full Name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="last-name">Email</label>
                                <input type="text" class="form-control" id="last-name" placeholder="Enter Email" value="@User.Identity.Name">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="billing-address">Address </label>
                        <input type="text" class="form-control" id="billing-address" placeholder="Enter Billing Address">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Additional Notes</label>
                        <textarea class="form-control" placeholder="Enter Your Message" id="message" name="message"></textarea>
                    </div>

                    <h2>Your Order</h2>
                    <div id="order_review">
                        <table class="table table-common checkout-review-order-table">
                            <thead>
                            <tr>
                                <th class="product-name">Product</th>
                                <th class="product-total">Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model.CartItems)
                            {
                                <tr class="cart_item_@item.CartId">
                                    <td class="product-name">
                                        @item.Product.Title<strong class="product-quantity"> × @item.Count</strong>
                                    </td>
                                    <td class="product-total">
                                        <span class="subscription-price"><span class="amount">$&nbsp;{{@item.Product.Price * @item.Count}}</span></span>
                                    </td>
                                </tr>
                            }
                            </tbody>
                            <tfoot>
                            <tr class="cart-subtotal">
                                <th>Subtotal</th>
                                <td><span class="amount">$&nbsp;@Model.CartTotal</span></td>
                            </tr>
                            <tr class="order-total">
                                <th>Total</th>
                                <td><strong><span class="amount">$&nbsp;@Model.CartTotal</span></strong> </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="checkout-payment" id="payment">
                        <ul class="payment_methods methods">
                            <li class="payment_method_paypal clearfix">
                                <input type="radio" data-order_button_text="Proceed to PayPal" checked="checked" value="paypal" name="payment_method" class="input-radio" id="payment_method_paypal">
                                <label for="payment_method_paypal">
                                    PayPal <img alt="PayPal Acceptance Mark" src="https://www.paypalobjects.com/webstatic/mktg/Logo/AM_mc_vs_ms_ae_UK.png">
                                </label>
                                <div class="payment_box payment_method_paypal">
                                    <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p>
                                </div>
                            </li>
                            <li>
                                <input type="radio" value="cashondelivary" name="payment_method" class="input-radio" id="cashondelivary">
                                <label for="cashondelivary">Cash On Delivary</label>
                                <div class="payment_box">
                                    <p>
                                        We do support cash on delivery Inside Terrotory of Nepal
                                    </p>
                                </div>
                            </li>
                            <li>
                                <input type="radio" value="cashondelivary" name="payment_method" class="input-radio" id="cashondelivary">
                                <label for="cashondelivary">Manual Bank Transaction</label>
                                <div class="payment_box">
                                    <p>
                                        You can even deposit the total amount of @Model.CartTotal in Nepal Investment Bank Limited Account and upload the Bank Cash / Cheque Deposit slip
                                    </p>
                                </div>
                            </li>
                        </ul>

                        <div class="form-row place-order">
                            <input type="submit" data-value="Place Order" value="Proceed The Payment" id="place_order" name="woocommerce_checkout_place_order" class="btn btn-primary">
                        </div>

                    </div>

                @*</form>*@
            </div>
        </div>
    </section>
@*</form>*@

    @*<h2>Address And Payment</h2>
    <hr />
    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
    <fieldset>
        <legend>Shipping Information</legend>
        @Html.EditorForModel()
    </fieldset>
    <fieldset>
        <legend>Payment</legend>
        <div class="editor-label">
            <label title="Promo Code">Promo Code</label>
        </div>
        <div class="editor-field">
            @Html.TextBox("PromoCode")
        </div>
    </fieldset>
    <input type="submit" value="Submit Order" />*@
