﻿@using System.Threading.Tasks
@using MandirDarsan.Areas.Admin.Models
@using MandirDarsan.Models;
@if (ViewData["Banners"] != null)
{
    <section id="billboard">
        <ul id="banner-slider" class="clearfix">
            @foreach (var items in ViewData["banners"] as List<Gallery>)
            {
                <li>
                    <div class="item" style="background: url('@items.ImageUrl') center top; background-size: cover;">
                        <div class="carousel-caption">
                            @try
                            {
                                @items.Description.Substring(0, 167)<text>...Read More</text>
                                <a href = "@items.Url">Read More</a>
                            }
                            catch (Exception)
                            {
                                if (items.Url.Any())
                                {
                                    @items.Description
                                    <a href="@items.Url">Read More</a>
                                }
                            }
                        </div>
                    </div>
                </li>
            }
        </ul>

    </section>
}