﻿@*@model IEnumerable<MandirDarsan.Areas.Admin.Models.God>*@
@model PagedList.IPagedList<MandirDarsan.Areas.Admin.Models.God>
@using MandirDarsan;
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}


<div class="col-md-9">
 
 <div class="clearfix alert alert-grey">
     @if (Model.Any())
     {
         @Html.Partial("_IndexSearch")
     }
            <div class="pull-right">
                <a href="~/Admin/Gods/Create/" class="btn btn-primary btn-sm" translate>Create New</a>
                <a href="~/Admin/Gods/Trash/" class="btn btn-primary btn-sm" translate>Trash</a><br/>
            </div>
 </div>

<div class="table-responsive clearfix">
 @if (Model.Any())
        {
        <table class="table table-striped table-common">
			<thead>    
				<tr>
        
       <th translate>
            @Html.DisplayNameFor(model => model.First().Title)
        </th>
         
        <th translate>
            @Html.DisplayNameFor(model => model.First().ImageUrl)
        </th>
        
                    <th>
                        Status
                    </th>

                    <th>Options</th>
    </tr>
 </thead>
   <tbody>
@foreach (var item in Model) {
    <tr>
	       
		<td>
		   				@Html.DisplayFor(modelItem => item.Title)
		           </td>
	 
	 
	       
		<td>
		   			  @if (item.ImageUrl != null)
			  {
					<div class="magnific-popup-wrap">
						<a class="gallery-popup" href="@item.ImageUrl" title="@item.Title">
							<img src="@item.ImageUrl.Replace(".jpg","_thumb.jpg")" alt="Image" class="mfp-fade item-gallery">
						</a>
					</div>
              }
		           </td>
	 
	       
		@*<td>
		   				@Html.DisplayFor(modelItem => item.Display)
		           </td>
	 
	       
		<td>
		   				@Html.DisplayFor(modelItem => item.Summary)
		           </td>*@
        <td>
            @RockmanduBase.VerificationStatus(item.Verified.ToString())
        </td>
        <td>
							<form method="post" class="form-horizontal" role="form" action="/Admin/Gods/Delete?id=@item.Id" asp-anti-forgery="true">
                                @Html.ActionLink("", "Edit", new {id = item.Id}, new {@class = "fa fa-edit btn btn-success", @title = "Edit", @style = "text-decoration:none;"})
                                <a href="/Admin/Gods/Details?id=@item.Id" class="fa fa-copy btn btn-primary" title="Details"></a>
                                @Html.AntiForgeryToken()
                                <input type="submit" value="Delete" id="delete" name="delete" class="btn btn-danger fa fa-trash"/>
                                <a href="#" onclick="GetAuditHistory('@item.Id')()" translate>Changes</a>
                                <a href="~/Admin/Galleries/Index/Gods/@item.Id">Add Images</a>
								                            </form>            
        </td>
    </tr>
}
  </tbody>
        </table>
		<text>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</text>
		}		
		else
		{<BR/><BR/><BR/>
    <div class="text-center">
                <p> No @ViewBag.Segment Found! If you want to contribute</p>
                <a href="~/Admin/Gods/Create/" class="btn btn-primary btn-sm" translate>Create New God</a>
                <a href="~/Admin/Gods/Trash/@ViewBag.Segment" class="btn btn-primary btn-sm" translate>Check Your Trash</a>
            </div>
	}
	</div>
</div>
@*@Html.PagedListPager(Model,pageNo => Url.Action("Index",new { pageNo,sortOrder = ViewBag.CurrentSort,currentFiler=ViewBag.CurrentFilter,filtervalue=ViewBag.FilterValue}))*@
@section Scripts {
@Html.Partial("_AuditJs")
}