﻿@model MandirDarsan.Models.ProfileViewModel
<link href="~/lib/fancybox/source/jquery.fancybox.css" rel="stylesheet" />
<script src="~/lib/fancybox/source/jquery.fancybox.js"></script>
<script>
    $(document).ready(function() {
        $('.fancybox').fancybox();
    });
</script>
<section class="block block-light">
    <div class="container">
        <div class="col-md-9">
            <div class="profile-info-name text-center add-margin-30">
                @try
                {
                    if (String.IsNullOrEmpty(Model.ApplicationUser.Image))
                    {
                        <img alt="profile-image" class="thumb-lg img-circle img-thumbnail" src="~/Images/NoImage.png">
                        <form method="POST" action="~/User/Home/ChangePicture" enctype="multipart/form-data">
                            @Html.AntiForgeryToken()
                            <div align="center">
                                <input type="file" name="profilepic" id="profilepic" onchange="javascript:this.form.submit();" />
                            </div>
                        </form>
                    }
                    else
                    {
                        @*<img alt="profile-image" class="thumb-lg img-circle img-thumbnail" src="@Model.ApplicationUser.Image.Replace(".jpg","_thumb.jpg")">*@
                        <a href="@Model.ApplicationUser.Image" class="fancybox" rel="gallery"><img src="@Model.ApplicationUser.Image.Replace(".jpg","_thumb.jpg")" class="thumb-lg img-circle img-thumbnail" alt="@User.Identity.Name" /></a>
                    }
                }
                catch (Exception)
                {
                    @*<script>
                            document.getElementById("file").onchange = function () {
                                document.getElementById("form").submit();
                            };
                        </script>
                        <form method="POST" action="User/ChangePicture">
                            @Html.AntiForgeryToken()
                            <input type="file" name="profilepic_@User.Identity.Name"/>
                            <img alt="profile-image" class="thumb-lg img-circle img-thumbnail" src="~/Images/NoImage.png">
                        </form>*@
                }
                <h4 class="m-b-5"><b></b></h4>
                <p class="text-muted"><i class="fa fa-map-marker"></i>  </p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card-box">
                        <h4 class="header-title">
                            <b>Personal Information</b>

                        </h4>
                        <div class="p-20">
                            <div class="about-info-p">
                                <strong>Full Name</strong>
                                <br>
                                <p class="text-muted">
                                    @try
                                    {
                                        if (!string.IsNullOrEmpty(Model.ApplicationUser.FName))
                                        {
                                            @Model.ApplicationUser.FName
                                        }
                                        else
                                        {
                                            //if(User.Identity.Name ==) { }
                                            <a href="~/User/Home/EditUserDetails">Edit Details</a>
                                            
                                        }

                                    }
                                    catch (Exception)
                                    {
                                    }
                                    @try
                                    {
                                        if (!string.IsNullOrEmpty(Model.ApplicationUser.LName))
                                        {
                                            @Model.ApplicationUser.LName
                                        }
                                        else
                                        {
                                            <a href="~/User/Home/EditUserDetails">Edit Details</a>
                                        }

                                    }
                                    catch (Exception)
                                    {
                                        <a href="~/User/Home/EditUserDetails">Edit Details</a>
                                    }

                                </p>
                            </div>
                            @*<div class="about-info-p">
                                    <strong>Mobile</strong>
                                    <br>
                                    <p class="text-muted"> @Model.ApplicationUser.PhoneNumber  </p>
                                </div>*@
                            <div class="about-info-p">
                                <strong>Email</strong>
                                <br>
                                <p class="text-muted">
                                    @try
                                    {
                                        @Model.ApplicationUser.Email
                                    }
                                    catch (Exception)
                                    {

                                    }
                                </p>
                            </div>
                            <div class="about-info-p m-b-0">
                                <strong>Location</strong>
                                <br>
                                <p class="text-muted">
                                    @try
                                    {
                                        @Model.ApplicationUser.Country
                                    }
                                    catch (Exception)
                                    {
                                        <a href="~/User/Home/EditUserDetails">Edit Details</a>
                                    }
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-box">
                        <h4 class=" header-title"><b>Biography</b></h4>
                        @try
                        {
                            if (!string.IsNullOrEmpty(Model.ApplicationUser.Description))
                            {
                                @Model.ApplicationUser.Description
                            }
                        }
                        catch (Exception)
                        {
                            <a href="~/User/Home/EditUserDetails">Edit Details</a>
                        }
                    </div>
                </div>
            </div>
            @*<div class="card-box">
                    <h4 class="header-title"><b>Activity</b></h4>
                    <div class="timeline-2">
                        @for (int i = 0; i < 10; i++)
                        {
                            <div class="time-item">
                                <div class="item-info">
                                    <div class="text-muted">5 minutes ago</div>
                                    <p>
                                        <strong><a class="text-info" href="#">test</a></strong> Uploaded a photo <strong>"DSC000586.jpg"</strong>
                                    </p>
                                </div>
                            </div>
                        }
                    </div>
                </div>*@
        </div>
    </div>
    @*        </div>*@
</section>
@*<script>
                                document.getElementById("profilepic_@User.Identity.Name").onchange = function () {
                                    document.getElementById("formpicture").submit();
                            };
    </script>*@

