body{
    font-family: 'Lato', sans-serif;
    font-size:15px;
    line-height: 1.4;
    margin:0 auto;
    padding: 0px;
    color: #636363;

}
form {
    margin-bottom: 0;
}
ul{
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    color: #27acd5;
    font: italic 900 15px/15px "Lato",sans-serif;
    margin-bottom: 20px;
    margin-top: 0;
    text-transform: capitalize;
}
h1{
    font: italic 900 35px/1.4 "Lato",sans-serif;
}
h2 {
    font: italic 900 28px/1.4 "Lato",sans-serif;
}
h3 {
    font: 900 25px/1.4 "Lato",sans-serif;
}
h4 {
    font: 900 20px/1.4 "Lato",sans-serif;
}
h5 {
    font: 700 18px/1.4 "Lato",sans-serif;
}
h6 {
    font:  900 16px/1.4 "Lato",sans-serif;

}
a,a:hover,a:focus{
    outline: 0;
    
}
h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
}

  /* This only works with JavaScript,
           if it's not present, don't show loader */
        .no-js .loading {
            display: block;
            /*cursor: url(../lib/angular-chosen/spinner.gif),auto;*/
            background: red;
        }
        .no-js body{
            cursor: url(../lib/angular-chosen/spinner.gif),auto;        
        }
        
        .js .loading,
        .no-js .menu-overlay {

            display: none;
        }

        /* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 10em;
  width: 10em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

}

/* Transparent Overlay */
/*.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}*/

/* :not(:required) hides these rules from IE9 and below */
/*.loading:not(:required) {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}*/

/*.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}*/

/* Animation */

/*@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}*/
.top-header{
    padding: 8px 0;
    background:#009cda;
    font-size: 13px;
    color: #fff;

}

.social {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
    list-style: none;

}
.social li{
    display: inline-block;
    margin-right: 7px;
}
.social li a {
    color: #fff;
    display: block;
    position: relative;

}
.social li a i {
    display: inline-block;
    font-size: 13px;
}
.social li a:hover,.social li a:active,  .social li a:focus {
    color: #fff;
    text-decoration: none;
}
.langchose ul li a {
    cursor: pointer;
}

.header-info{
    text-align: right;
}
.header-info > div {
    display: inline-block;
    font: 700 11px/1.4 "Lato",sans-serif;
    text-transform: uppercase;
}
.header-info > div::before {
    content: "|";
    display: inline-block;
    margin: 0 10px;
}
.header-info a{
    color: #fff;
}
.header-info > div:first-child::before {
    display: none;
}
.header-info > div span {
    font-weight: bold;
    padding-right: 7px;
}
.header-info > div i {
    font-size: 13px;
    line-height: 1.4;
    margin-right: 5px;
    vertical-align: middle;
}
.header-info > div.phone span {
    color: #000;
    font-size: 10px;
}

.header-info > div.mail a {
    color: #fff;
    vertical-align: middle;
}
.search-form {
    margin: 0;
    position: relative;
    text-align: right;
}
.search-form__h a{
    color: #ccc;
}

#search-header {
    background: #009cda  none repeat scroll 0 0;
    border-radius: 0 0 5px 5px;
    display: none;
    padding: 10px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 100%;
    width: 300px;
    z-index:20;
}
#search-header .search-form_it {
    border: 1px solid #d7d7d7 !important;
    border-radius: 0;
    box-shadow: none;
    color: #644e4c;
    font-size: 14px;
    line-height: 1.3em;
    padding: 7px 10px;
    position: relative;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease 0s;
    background: #fff none repeat scroll 0 0;
    border: medium none !important;
    box-sizing: border-box;
    float: left;
    height: 30px;
    margin: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 80%;

}
#search-header .search-form_is {
    background: #004c6f none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    float: right;
    font: 900 12px/1.2em "Lato",sans-serif;
    height: 30px;
    margin: 0;
    padding: 0;
    right: 0;
    width: 20%;

}
.translator .btn {
    padding: 0;
    background: transparent;
    border-color: transparent;
    color: #fff;
}
.translator .dropdown-menu > li > a {
    text-transform: capitalize;
    font-size: 12px;
}
.translator .dropdown-menu {
    min-width: 110px;
    left: 20px;
}
.badge{
    background: red;
    font-size: 11px;
    box-shadow: none;
}

.cart a:hover{
    text-decoration: none;
}
.top-header .dropdown {
    display: inline-block;
}
.header-bottom{
    padding: 10px 0;
}
.logo img{
    max-width: 165px;
}
.primary-nav{
    margin-top:20px;
}
.navbar-nav {
    float: right;
}
.navbar-nav  > li {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    box-sizing: border-box;
    display: inline-block;
    float: none;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    transition: all 0.3s ease 0s;
    z-index: 10;
}
.navbar-nav > li > a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    box-sizing: border-box;
    display: inline-block;
    letter-spacing: 0;
    padding: 0 8px;
    position: relative;
    text-transform: none;
    transition: all 0.3s ease 0s;
    text-transform: capitalize;
    color: #6F6F5F;
}
.navbar-nav > li::before {
    content: "/";
    display: inline-block;
    margin: 0 8px 0 6px;
}
.navbar-nav > li:first-child::before {
    display: none;
}
.navbar-nav li a:hover,
.navbar-nav li a:focus,
.navbar-nav li a:active{
    color: #9f9f8f;
    background: none;
}
.primary-nav .dropdown-menu{
    background:#1ea7ec;
    top: 55px;
    padding: 0;
}
.primary-nav .dropdown-menu a{
    color:#fff;
}
.navbar-nav li .dropdown-menu > li > a{
    padding: 7px 20px;
}
.navbar-nav li .dropdown-menu > li > a:hover{
    background: #337ab7;

}
#banner-slider .item{
    min-height: 500px;
}
#banner-slider .carousel-caption{
    font-size: 15px;
    background: rgba(0,0,0,0.5);
    padding: 20px;
}
.block{
    background:#f3f3f3;
    padding:50px 0px;
}
.block-light{
    background: #fff;
}
.block h1{
    font-size:28px;
    text-transform:capitalize;
    margin-bottom:15px;
}
.welcome{
    padding-right: 50px;
}

.video-holder,.gallery-holder{
    border: 5px solid #fff;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
}
.block-dark{
    background: rgba(0, 0, 0, 0) url("../images/bg-darker.png") repeat scroll 0 0;
}
.sec-title{
    margin-bottom: 50px;
}
.post {
    margin-bottom: 30px;
    background: #fff;
    font-size: 14px;
}
.post .post-content,
.product-item {
    border: 1px solid #b5b5b5;
    overflow: hidden;
}
.post .post-content .entry ,
.product-item .product-entry{
    overflow: hidden;
    padding: 19px 13px 12px 18px;
}
.img-align-left {
    float: left;
    max-width: 50%;
}
.img-align-right {
    float: right;
    max-width: 50%;
}
.image-gallery-item{ 
    width:10%;
    float: left;
    list-style: none;
    padding: 0;
    margin: 0;}
.image-gallery-item img { 
    max-width: 100%;
    height: 100px;
    width: 100%;
    opacity:0.6; 
}
.image-gallery-item img:hover{
    opacity: 1;
}
.entry{
    overflow: hidden;
}
img{
    max-width: 100%;
    width: auto;
    height: auto;
}
.article-list .image-holder{
    border: 5px solid #fff;
}
.block-light .article-list .image-holder{
    border-color: #efefef;
}
.article-list .image-holder.align-left{
    width: 150px;
    margin-right: 10px;
    float: left;   
}
.article-list {
    font-size: 14px;
    margin-bottom: 15px;
}
.article-list h6{
    margin-bottom: 5px;
}
#map-canvas{
    height: 400px;
}
.main-content #map-canvas{
    margin-bottom: 30px;
}
.content{
    padding: 20px 0;
}
.content .links li{
    margin-bottom: 10px;
}
.box-widget{
    background: #ebeff2  ;
    padding: 20px;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgba(54, 64, 74, 0.05)
}
.add-margin-10{
    margin-bottom: 10px;
}
/*Inner pages*/
.title-sec{
    padding: 20px 0;
}
.title-sec h1{
    font-size: 25px;
    margin-bottom: 10px;
}
.breadcrumb{
    padding: 0;
    margin-bottom: 0;
    font-size: 13px;
}
.breadcrumb > li {
    display: inline-block;
    text-shadow: none;
}
.feature-thumb{
    margin-bottom: 30px;
}
.widget{
    margin-bottom: 30px;
}
.contact-info .fa{
    float: left;
    margin-right: 15px;
    margin-top: 3px;
}
.contact-details {
    margin-bottom: 50px;
}
.block-light  textarea.form-control{
    height: 150px;
}
.muted {
    color: #999999;
    font-weight: normal;
}
.button-group{
    margin-bottom: 30px;
}
.post-thumb{
    text-align: center;
}
.add-margin-30{
    margin-bottom: 30px;
}
.box-widget .top{
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 15px;
}
.box-widget .top .item-price {
    color: #181818;
    display: block;
    margin: 0 0 20px;
    font-size: 18px;
}
.item-price strong ,.price-data .price{
    color: #168ac0;
    font-size: 42px;
}
.price-data .price{
    border-bottom: 1px solid #ccc;
    display: block;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.info-lists{
    list-style: none;
    font-size: 14px;
}
.info-lists li{
    clear: both;
    margin-bottom: 10px;
}
.info-lists li span {
    display: inline-block;
    float: left;
    vertical-align: top;
    width: 150px;
}
.article-post{
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
button{
    border: none;
    background: none;
    padding: 0;
}
.product-item{
    margin-bottom: 30px;
}
.product-entry{
    text-align: center;
}
.product-entry h5{
    margin-bottom: 10px;
}
.product-entry .price{
    color: #27acd5;
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
.productgallery-holder{
    border: 1px solid #ccc;
    overflow: hidden;
}
#product-gallery-pager{
    border-top: 1px solid #ccc;
    overflow: hidden;
}
#product-gallery-pager a{
    float:left;
    width: 25%;
}
.productgallery-holder .bx-wrapper{
    margin-bottom: 0;
}
/*sam edited*/
.table-common{
    border:1px solid #ddd;
}
.table-common.table thead th{
    padding:20px;
    font-size:16px;

}
.table-common.table > tbody > tr > td,.table-common.table > tfoot > tr > th{
    vertical-align:middle;
    padding: 10px 20px;
}
.table-common tfoot,
.table-common thead,
.table-common .total,
table-common th,
table-common th {
    background: #f7f7f7 none repeat scroll 0 0;
    color: #000000;
    font-size: 18px;
    line-height: 1;
    margin-bottom: 0;
    padding: 15px;
}
a.icon-delete{
    color:red;
}
.product-title {
    font-weight:bold;
}
.table-cart .product-thumbnail{
    height:60px;
    width:60px;
}
.table-cart .product-thumbnail img{
    width:100%;
    height:auto;
}
.coupon .input-text{
    width:30%;
    margin-right:15px;
}
.cart-totals{
    float:right;
    width:50%;
    margin-top:30px;
}
.cart-totals h2{
    margin-bottom:15px;
    float:right;
    font-size:21px;
}
.payment_methods{
    list-style: none;
}
.payment_methods li{
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}
.payment_methods input[type="radio"]{
    margin-right: 10px;
}

.heading-description h6{
    margin-bottom: 0;
}

.widget-title{
    background: #2e6da4 ;
    padding: 10px 20px;
    margin-bottom: 0;
    color: #fff;
}
.nav-lists li{
    list-style: none;
}
.nav-lists li a{
    display: block;
    padding: 8px 10px;
}
.nav-lists li a:hover,
.nav-lists li a.active{
    background: #006c8f;
    color: #fff;
    text-decoration: none;
}
.nav-lists li ul{
    background: #ebebeb;
    padding: 10px;
}
.nav-lists li ul li a{
    padding: 7px 20px;
    font-size: 13px;
}
.nav-lists li ul a.active{
    background: #27acd5 ;
} 
.quantity {
    vertical-align: top;
}
div.quantity {
    display: inline-block;
    margin-right: 0.8571em;
    position: relative;
    width: 4.1429em;
}
div.quantity .qty {
    -moz-appearance: textfield;
    height: 35px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    width: 35px;
}
div.quantity .minus, div.quantity .plus {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 1.1428em;
    left: 2.8571em;
    line-height: 1;
    outline: medium none;
    padding: 0;
    position: absolute;
    width: 1.1428em;
}
div.quantity .plus {
    top: 0;
}
div.quantity .minus {
    bottom: 0;
}
.profile-info-name h4{
    margin-bottom: 10px;
    font-style: normal;
}
.profile-info-name  .img-thumbnail{
    margin-bottom: 10px;
}
.card-box{
    background: #ebeff2 ;
    border: 1px solid rgba(54, 64, 74, 0.05);
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
}

.timeline-2 {
    border-left: 2px solid #98a6ad;
    position: relative;
}
.timeline-2 .time-item::after {
    background-color: #ffffff;
    border-color: #98a6ad;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    bottom: 0;
    content: "";
    height: 14px;
    left: 0;
    margin-left: -8px;
    position: absolute;
    top: 5px;
    width: 14px;
}
.time-item {
    border-color: #dee5e7;
    padding-bottom: 1px;
    position: relative;
}
.time-item::before {
    content: " ";
    display: table;
}
.time-item::after {
    background-color: #ffffff;
    border-color: #98a6ad;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    bottom: 0;
    content: "";
    height: 14px;
    left: 0;
    margin-left: -8px;
    position: absolute;
    top: 5px;
    width: 14px;
}
.time-item-item::after {
    content: " ";
    display: table;
}
.item-info {
    margin-bottom: 15px;
    margin-left: 15px;
}
/*Footer*/
.footer-top{
    background:#27acd5;
    color: #fff;
}
.footer-top h3{
    color: #fff;
    font-size: 22px;
}
.footer-bottom {
    background: #337ab7;
    font-size:12px;
    color:#fff;
    padding: 25px 0;
}
.footer-bottom .site-author{
    text-align:right;
}
.site-author a{
    color: orange;
}
ul.links li,ul.list li{
    list-style: none;
    position: relative;
    margin-bottom: 5px;
    padding-left: 15px;
    position: relative;
}
ul.links li:before,ul.list li:before{
    font-family: FontAwesome;
    content:"\f105";
    left: 0; 
    position: absolute;
}
.footer-top ul.links li a{
    color: #fff;
}
.form-control{
    margin-bottom: 10px;
}
.forget-link{
    font-size: 12px;
    margin-left: 10px;
    color: #fff;
    text-decoration: underline;
}
.block-light .forget-link{
    color: #337ab7;
}
.third-party-login{
    margin-bottom: 10px;
}
.widget-register{
    padding-left: 60px;
}
.alert-grey {
    background:#f3f3f3;
}
.navbar-form {
    padding: 0 !important;
    margin: 0 !important;
}
ul.nav-lists li {
    margin-bottom: 5px;
}
ul.nav-lists li a{
    background: #006c8f;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
ul.nav-lists li a.active{
    background: #005875; 
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}
ul.nav-lists li li a {
    background: none;
    color: #000;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"]::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"]:-ms-input-placeholder {
  color: #999;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"]::-webkit-input-placeholder {
  color: #999;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"]::-ms-expand {
  background-color: transparent;
  border: 0;
}
@media screen and (max-width: 992px) {
    .add-margin-phone{
        margin-bottom: 20px;
    }


    .header-info{
        display: none;
    }
    .social{
        text-align: center;
    }

    .header-bottom [class*="col-md-"]{
        position: inherit;
    }

    body{
        overflow-x: hidden;
        height: auto;
        width: auto;
    }

    .menu-overlay.open{
        left: 250px;
    }
    .menu-overlay{
        -moz-transition: left 0.5s ease 0s;
        -webkit-transition:left 0.5s ease 0s;
        transition: left 0.5s ease 0s;
        left: 0;
        position: relative;
        height: 100%;
    }
    .c-mobile-menu{
        height: 20px;
        width: 20px;
        background: red;
        display: block;
    }
    .menu-overlay .c-mobile-menu {
        background: none repeat scroll 0 0 #337ab7;
        height: 3px;
        transition: background 0.3s ease 0s;
        width: 25px;
        z-index: 32;
        position: absolute;
        margin-top: 7px;
        margin-bottom: 7px;
        cursor: pointer;
        right: 20px;
        top: 70px;
    }
    .menu-overlay.open .c-mobile-menu {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    }
    .menu-overlay .c-mobile-menu:after,
    .menu-overlay .c-mobile-menu:before {
        content: "";
    }
    .menu-overlay .c-mobile-menu:after, .menu-overlay .c-mobile-menu:before {
        background: none repeat scroll 0 0 #337ab7;
    }
    .menu-overlay .c-mobile-menu::before {
        height: 3px;
        left: 0;
        position: absolute;
        top: -6px;
        transform-origin: center center;      
        -moz-transform-origin: center center;      
        -webkit-transform-origin: center center;      
        -moz-transition: transform 0.3s ease 0s, background 0.3s ease 0s;
        -webkit-transition: transform 0.3s ease 0s, background 0.3s ease 0s;
        transition: transform 0.3s ease 0s, background 0.3s ease 0s;
        width: 25px;
    }
    .menu-overlay .c-mobile-menu:after, 
    .menu-overlay .c-mobile-menu:before {
        transition: -moz-transform 0.3s ease 0s, background 0.3s ease 0s;
        transition: -webkit-transform 0.3s ease 0s, background 0.3s ease 0s;
        transition: transform 0.3s ease 0s, background 0.3s ease 0s;
    }
    .open.menu-overlay .c-mobile-menu:before {
        -moz-transform: translate(0px, 6px) rotate(-45deg);
        -webkit-transform: translate(0px, 6px) rotate(-45deg);
        transform: translate(0px, 6px) rotate(-45deg);
    }
    .menu-overlay .c-mobile-menu:after {
        bottom: -6px;
        height: 3px;
        left: 0;
        position: absolute;
        transform-origin: center center;
        transition: transform 0.3s ease 0s, background 0.3s ease 0s;
        width: 25px;
    }
    .open.menu-overlay .c-mobile-menu:after {
        -webkit-transform: translate(0px, -6px) rotate(45deg);
        -moz-transform: translate(0px, -6px) rotate(45deg);
        transform: translate(0px, -6px) rotate(45deg);
    }
    .menu-overlay .c-mobile-menu:after, 
    .menu-overlay .c-mobile-menu:before {
        background: none repeat scroll 0 0 #337ab7;
    }

    .responsive-nav{
        position: absolute;
        background: #009cda  ;
        margin-top: 0;
        top: 0;
        width: 250px;
        z-index: 99999;
        height: 100%;
        display: block;
        left: -250px;
        -moz-transition: left 0.5s ease 0s;
        -webkit-transition: left 0.5s ease 0s;
        transition: left 0.5s ease 0s;
        overflow: scroll;
        padding-top: 13px;
    }
    .responsive-nav .nav-inner{
        padding-top: 75px;
    }
    .responsive-nav .c-mobile-menu{
        top: 10px;
        left: 20px;
    }
    .menu-overlay .responsive-nav .c-mobile-menu::after, .menu-overlay .responsive-nav .c-mobile-menu::before{
        background: #fff;
        width: 20px;
    }
    .navbar-nav{
        padding: 0;
        float: none;
        margin: 0;
    }
    .navbar-nav li .dropdown-menu > li > a{
        white-space: normal;
    }


    .navbar-collapse{
        display: block;
        padding: 10px 0;
    }
    #header .dropdown-menu{
        display: block !important;
        padding: 0;
        position: relative;
        top: 0;
        left: 0;
        float: none;
        width: 100%;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        border-radius: 0;
    }
    .navbar-nav > li{
        display: block;
    }
    .navbar-nav > li::before{
        content: "";
        display: none;
    }
    .navbar-nav > li > a{
        display: block;
        color: #fff;
        padding: 10px 20px;
        text-align: left;
    }
    .navbar-nav > li > a:hover{
        background: #337ab7;
        color: #fff;
    }

    #banner-slider .item{
        min-height: 300px
    }
    #map-canvas{
        height: 250px;
    }
    .widget-register{
        padding-left: 0;
    }
    .footer-bottom,.footer-bottom .site-author{
        text-align: center;
    }
    .footer-bottom .site-author{
        margin-top: 10px;
    }
}
@media screen and (max-width: 482px) {
    .img-align-left,.img-align-right{
        float: none;
        max-width: 100%;
    }
    .img-align-left img,.img-align-right img{
        width: 100%;
    }
}
   ins {
        background-color: #cfc;
        text-decoration: inherit;
    }

    del {
        color: #999;
        background-color: #FEC8C8;
    }

    ins.mod {
        background-color: #FFE1AC;
    }