﻿@*@using MandirDarsan.Areas.Admin.Models.Library*@
@model MandirDarsan.Areas.Admin.Models.Library
@{
    ViewBag.Title = "Create New Article";
}
@Html.HiddenFor(model => model.Segment, new { htmlAttributes = new { @class = "form-control" } })
<div class="col-md-9" @Html.Partial("_CultureHelper")>
    <div id="content">
        <form action="/Admin/Library/Create/" enctype="multipart/form-data" method="post">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.Segment)
           @Html.Partial("_CreateEditCulture")
            <br />
            <div id="my-tab-content" class="tab-content">
                <div ng-repeat="culturecode in subCulture" class="tab-pane" id="s{{culturecode}}">
                    <div class="form-horizontal col-md-10">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2", @translate = "" })
                            <div class="col-md-10">
                                <input class="form-control text-box single-line required" id="Title{{culturecode}}" name="Title{{culturecode}}" type="text" value="" minlength="3">
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ImageUrl, htmlAttributes: new { @class = "control-label col-md-2", @translate = "" })
                            <div class="col-md-10">
                                <input name="ImageUrl{{culturecode}}" id="ImageUrl{{culturecode}}" class="form-control" type="file" accept="image/x-png, image/gif, image/jpeg" />
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <textarea class="form-control" id="Description{{culturecode}}" name="Description{{culturecode}}"></textarea>
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Summary, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" id="Summary{{culturecode}}" name="Summary{{culturecode}}" maxlength="360" minlength="300" type="text" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PublishDate, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" id="PublishDate{{culturecode}}" name="PublishDate{{culturecode}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create New @Model.Segment" class="btn btn-primary" />
                        <a href="/Admin/Library/index"> <input type="button" value="Back To List" class="btn btn-success" /></a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_CreateEdit");
    }
}