﻿@model MandirDarsan.Areas.Admin.Models.Library

@{
    ViewBag.Title = "Delete";
}

<div>
        <div class="row">
                <div class="mail-apps-wrap">
                    <div class="the-box bg-success no-border no-margin heading col-sm-12">
                        <div class="col-sm-6">
                            <h1><i class="fa fa-envelope icon-lg icon-circle icon-bordered"></i>Delete from Article  </h1>
                        </div>
                        <div class="col-sm-6 text-right">
                            <div class="btn-group">
                                <button class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-cog"></i>
                                </button>
                                <ul class="dropdown-menu success pull-right square margin-list text-left" role="menu">
                                    <li><a href="~/admin/Article/create/">Create New Article</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
							@Html.DisplayFor(model => model.Title)
			        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
							@if (Model.ImageUrl != null)
				  {
						<div class="magnific-popup-wrap col-xs-6 col-md-3">
							<a class="zooming" href="@Model.ImageUrl" title="@item.Title">
								<img src="@Model.ImageUrl.Replace(".jpg","_thumb.jpg")" alt="Image" class="mfp-fade item-gallery img-responsive">
							</a>
						</div>
				  }
			        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
			   
				@Html.Raw(Model.Description)
			        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
							@Html.DisplayFor(model => model.CreatedBy)
			        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
							@Html.DisplayFor(model => model.CreatedDate)
			        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublishDate)
        </dt>

        <dd>
							@Html.DisplayFor(model => model.PublishDate)
			        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
