﻿@*<div class="col-md-9">
       <div class="clearfix alert alert-grey">
            <form class="navbar-form navbar-left" role="search" action="/admin/library/index">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </form>
            <div class="pull-right">
                <a href="~/Admin/Library/Create/@ViewBag.Segment" class="btn btn-primary btn-sm">Create New</a>
                <a href="~/Admin/Library/Trash/@ViewBag.Segment" class="btn btn-primary btn-sm">Trash</a><br />
            </div>
        </div>
    <div class="table-responsive clearfix" ng-controller="heroesController">
        <table class="table table-striped table-common">
            <thead>
            <tr ng-repeat="item in Heroes | limitTo:1">
                <th ng-repeat="(key, data) in item" ng-if="$index > 0">
                    {{key}}
                </th>
                <th>
                    Actions
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in Heroes">
                <td ng-repeat="(key, data) in item" ng-if="$index > 0">
                    {{data}}
                </td>
                <td>
                    <a ng-click="GetAuditHistory(item.Id)" id="auditt">Review Changes</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
@section Scripts {
    @{
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.js"></script>
        <script src="~/Scripts/app.js"></script>
        @Html.Partial("_AuditJs")
    }
}*@

@*@{
    Layout = null;
}
<!doctype html>
 @*ng-app="MeroApp"
<html>
<head>
    @*<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/angular-1.3.8.min.js"></script>

    <script src="~/lib/angular-animate/angular-animate.js"></script>
   @* <script src="~/Scripts/multilingual.js"></script>
</head>
<body>
<form action="/Admin/Library/Create/" enctype="multipart/form-data" method="post">

   Html.AntiForgeryToken()
    <div ng-controller="MeroController">
        <div class="col-md-9">
            <div class="table-responsive clearfix">
                <table class="table table-striped table-common">
                    <thead>
                    <tr ng-repeat="item in Mero | limitTo:1">
                        <th ng-repeat="(key, data) in item">
                            {{key}}
                            @*<code>selection={{key}}_np</code>
                            <select ng-model="selection">
                                <option value="English">English</option>
                                <option value="Nepali">Nepali</option>
                            </select>
                            @*<code>selection=</code>
                            <div ng-switch on="selection">
                                <div class="animate-switch" ng-switch-when="English">Milyooo hauuuuu kura milyooooo</div>
                            </div>
                            <input class="form-control text-box single-line valid" id="{{key}}_np" name="{{key}}_np" type="text" value="" aria-invalid="false">
                            @*<input type="text" id="{{key}}_np" name="{{key}}_np" />
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in Mero">
                        <td ng-repeat="(key, data) in item">
                            @*<input type="text" id="{{key}}_np" value="{{data}}" />
                            @*{{data}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>*@
    @*<div ng-controller="MeroController">
            <div class="col-md-9">
                <div class="table-responsive clearfix">
                    <table class="table table-striped table-common">
                        <thead>
                            <tr ng-repeat="item in Mero | limitTo:1">
                                <th ng-repeat="(key, data) in item">
                                    {{key}}
                                    <input type="text" id="{{key}}_en" name="{{key}}_np"/>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in Mero">
                                <td ng-repeat="(key, data) in item">
                                    @*<input type="text" id="{{key}}_np" value="{{data}}" />
                                   {{data}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    <button id="submit"></button>
</form>
</body>
</html>*@
