﻿@using System.Threading.Tasks
@using Microsoft.Data.Entity.Metadata.Internal
@model MandirDarsan.Areas.Admin.Models.Library
@{
    ViewBag.Title = "Create New Article";
}
<div class="col-md-9" @Html.Partial("_CultureHelper")>
    <div id="content">
        <form action="/Admin/Library/Edit/" enctype="multipart/form-data" method="post">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Segment)
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.CreatedBy)
            @Html.HiddenFor(model => model.CreatedDate)

            @Html.HiddenFor(model => model.ModifiedBy)
            @Html.HiddenFor(model => model.ModifiedDate)
            
            @Html.HiddenFor(model => model.VerifiedDate)
            @Html.HiddenFor(model => model.VerifiedBy)
            @Html.HiddenFor(model => model.Verified)

            @Html.HiddenFor(model => model.DelFlg)
@Html.Partial("_CreateEditCulture")
            <br />
            <div id="my-tab-content" class="tab-content">
                <div ng-repeat="culturecode in subCulture" class="tab-pane" id="s{{culturecode}}">
                    <div class="form-horizontal col-md-10">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input class="form-control text-box single-line required" id="Title{{culturecode}}" name="Title{{culturecode}}" type="text" value="@Model.Title">
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ImageUrl, htmlAttributes: new { @class = "control-label col-md-2", @translate = "" })
                            <div class="col-md-10">
                                @*@Html.HiddenFor(model => model.ImageUrl, new { htmlAttributes = new { @class = "form-control" } })*@
                                @*<input name="IImageUrl" id="ImageUrlKo" class="form-control" value="@Model.ImageUrl" hidden="true" />
                                <input name="IImageUrl{{culturecode}}" id="IImageUrl{{culturecode}}" class="form-control" type="file" />*@
                                @Html.HiddenFor(model => model.ImageUrl, new { htmlAttributes = new { @class = "form-control" } })
                                <input name="IImageUrl" id="ImageUrlKo" class="form-control" type="file" value="@Model.ImageUrl" />
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <textarea class="form-control" type="text" id="Description{{culturecode}}" name="Description{{culturecode}}">@Model.Description</textarea>
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Summary, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input class="form-control text-box single-line" id="Summary{{culturecode}}" name="Summary{{culturecode}}" maxlength="360" minlength="300" type="text" value="@Model.Summary">
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PublishDate, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input class="form-control text-box" id="PublishDate{{culturecode}}" name="PublishDate{{culturecode}}" value="@Model.PublishDate">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save Artical" class="btn btn-primary" />
                        <a href="/Admin/Library/index/@ViewBag.Segment"> <input type="button" value="Back To List" class="btn btn-success" /></a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_Edit");
        await Html.RenderPartialAsync("_CreateEdit");
    }
}