﻿@*@model IEnumerable<TestProject.Models.Article>*@
@model PagedList.IPagedList<MandirDarsan.Areas.Admin.Models.Library>
@using MandirDarsan;
@using PagedList
@using PagedList.Mvc
@{
    // ViewBag.Title = "Index";
    ViewBag.BreadCrumbHeader = "Library";
    ViewBag.BreadCrumbFinalText = "Your Creation in Library";
}
<div class="col-md-9">
    @if (Model.Any())
    {
        <div class="clearfix alert alert-grey">

            @if (Model.Any())
                {
                @Html.Partial("_IndexSearch")
            }

            <div class="pull-right">
                <a href="~/Admin/Library/Create/@ViewBag.Segment" class="btn btn-primary btn-sm">Create New</a>
                <a href="~/Admin/Library/Trash/@ViewBag.Segment" class="btn btn-primary btn-sm">Trash</a><br/>
            </div>

        </div>
    }
    <div class="table-responsive clearfix">

        @if (Model.Any())
        {
            <table class="table table-striped table-common">
                <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().ImageUrl)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().PublishDate)
                    </th>
                    <th>
                        Status
                    </th>
                  
                    <th>Options</th>

                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @if (item.ImageUrl != null)
                            {
                                <div class="magnific-popup-wrap">
                                    <a class="gallery-popup" href="@item.ImageUrl" title="@item.Title">
                                        <img src="@item.ImageUrl.Replace(".jpg", "_thumb.jpg")" alt="Image" class="mfp-fade item-gallery">
                                    </a>
                                </div>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PublishDate)
                        </td>
                        <td>
                            @RockmanduBase.VerificationStatus(item.Verified.ToString())
                        </td>
                        <td>
                        <form method="post" class="form-horizontal" role="form" action="/Admin/Library/Delete?id=@item.Id&segment=@item.Segment" asp-anti-forgery="true">
                            @Html.ActionLink("", "Edit", new {id = item.Id}, new {@class = "fa fa-edit btn btn-success", @title = "Edit", @style = "text-decoration:none;"})
                            <a href="~/English/Library/@item.Segment/@item.Title.Replace(" ","_")/@item.Id" class="fa fa-copy btn btn-primary" title="Details"></a>
                            @Html.AntiForgeryToken()
                            <input type="submit" value="Delete" id="delete" name="delete" class="btn btn-danger fa fa-trash"/>
                            <a href="#" onclick="GetAuditHistory('@item.Id')()">Changes</a>
                            <a href="~/Admin/Galleries/Index/@item.Segment/@item.Id">Add Images</a>
                        </form>
                      </td>
</tr>
                }
                </tbody>
            </table>
            <text>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</text>
        }
        else
        {<BR/><BR/><BR/>
            <div class="text-center">
                <p> No @ViewBag.Segment Found! If you want to contribute</p>
                <a href="~/Admin/Library/Create/Article" class="btn btn-primary btn-sm">Create New Article</a>
                <a href="~/Admin/Library/Create/News" class="btn btn-primary btn-sm">Create New News</a> <BR/> or <BR/>
                <a href="~/Admin/Library/Trash/@ViewBag.Segment" class="btn btn-primary btn-sm">Check Your Trash</a>
            </div>
        }
    </div>
</div>
@*  @Html.PagedListPager(Model,pageNo => Url.Action("Index",new { pageNo,sortOrder = ViewBag.CurrentSort,currentFiler=ViewBag.CurrentFilter,filtervalue=ViewBag.FilterValue}))*@
@section Scripts {
    @{
//await Html.RenderPartialAsync("_ValidationScriptsPartial");
////await Html.RenderPartialAsync("_CreateEdit");
     @Html.Partial("_AuditJs")
    }
}