﻿@*@model IEnumerable<TestProject.Models.Article>*@
@model IEnumerable<MandirDarsan.Areas.Admin.Models.Library>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
}
<div class="col-md-9">
    <div class="clearfix alert alert-grey">
        <div class="pull-right">
          
            <a href="~/Admin/Library/Create/@ViewBag.Segment" class="btn btn-primary btn-sm">Create New</a>
            <a href="~/Admin/Library/Index/@ViewBag.Segment" class="btn btn-primary btn-sm">Index</a><br/>
        </div>
    </div>
    <div class="table-responsive ">
        
        @if (Model.Any())
        {
            <table class="table table-striped table-common">
                @ViewBag.Message
                <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().ImageUrl)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().PublishDate)
                    </th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @if (item.ImageUrl != null)
                            {
                                <div class="magnific-popup-wrap">
                                    <a class="zooming" href="@item.ImageUrl" title="@item.Title">
                                        <img src="@item.ImageUrl.Replace(".jpg", "_thumb.jpg")" alt="Image" class="mfp-fade item-gallery" width="50" height="50">
                                    </a>
                                </div>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PublishDate)
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <td>
                                        <form method="post" class="form-horizontal" role="form" action="/Admin/Library/RecoverTrash?id=@item.Id&segment=@ViewBag.Segment" asp-anti-forgery="true">


                                            @Html.AntiForgeryToken()

                                            <input type="submit" value="Undelete" class="btn btn-primary"/>
                                            @*<i class="fa fa-trash btn btn-danger"></i>*@
                                            @*<a href="" class="fa fa-archive btn btn-default" title="Undelete"></a>*@
                                        </form>
                                    </td>

                                    <td>
                                        <form id="deleteForm" method="post" class="form-horizontal" role="form" action="/Admin/Library/DeleteTrashItem?id=@item.Id&segment=@ViewBag.Segment" asp-anti-forgery="true">
                                            @Html.AntiForgeryToken()
                                            <input type="submit" value="Permanent Delete" class="btn btn-danger delete-btn"/>

                                        </form>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
        else
        {<BR/><BR/><BR/>
        <div class="text-center">
            <p> No @ViewBag.Segment Found In Trash ! If you want to contribute</p>
            <a href="~/Admin/Library/Create/Article" class="btn btn-primary btn-sm">Create New Article</a>
            <a href="~/Admin/Library/Create/News" class="btn btn-primary btn-sm">Create New News</a> 
        </div>
        }
        @if (Model.Count() >= 2)
        {
            <form method="post" class="form-horizontal" role="form" action="/Admin/Library/DeleteTrash?segment=@ViewBag.Segment" id="EmptyTrash" asp-anti-forgery="true">
                @Html.AntiForgeryToken()
                <input type="submit" value="Delete All At Once !" class="btn btn-danger btn-emptyTrash"/>
            </form>
        }
    </div>
</div>
@section Scripts {
    @{
        @Html.Partial("_Deletejs")
    }
}