﻿<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
    <li ng-repeat="culturecode in culture">
        @if (User.IsInRole("NepaliContributer") || User.IsInRole("Admin"))
        {
            <a href="#s{{culturecode}}" data-toggle="tab" ng-if="culturecode == 'Nepali'" ng-click="setLanguage('Nepali')" translate>{{culturecode}}</a>
        }
       <a href="#s" data-toggle="tab" ng-if="culturecode == 'English'" ng-click="setLanguage('English')" translate>{{culturecode}}</a>
        @if (User.IsInRole("NewariContributer") || User.IsInRole("Admin"))
        {
            <a href="#s{{culturecode}}" data-toggle="tab" ng-if="culturecode == 'Newari'" ng-click="setLanguage('Newari')" translate>{{culturecode}}</a>
        }
        @if (User.IsInRole("HindiContributer") || User.IsInRole("Admin"))
        {
            <a href="#s{{culturecode}}" data-toggle="tab" ng-if="culturecode == 'Hindi'" ng-click="setLanguage('Hindi')" translate>{{culturecode}}</a>
        }
        @if (User.IsInRole("SanskritContributer") || User.IsInRole("Admin"))
        {
            <a href="#s{{culturecode}}" data-toggle="tab" ng-if="culturecode == 'Sanskrit'" ng-click="setLanguage('Sanskrit')" translate>{{culturecode}}</a>
        }
        @if(User.IsInRole("ChineseContributer") || User.IsInRole("Admin"))
        {
            <a href="#s{{culturecode}}" data-toggle="tab" ng-if="culturecode == 'Chinese'" ng-click="setLanguage('Chinese')" translate>{{culturecode}}</a>
        }
    </li>
</ul>