﻿@using System.Security.Claims
@using System.ComponentModel
<html ng-app="MandirDarsan">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,900italic,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="~/css/jquery.bxslider.css" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/css/jquery.fancybox.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/angular-chosen/chosen.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/angular-chosen/chosen-spinner.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script src="https://cdn.rawgit.com/SlexAxton/messageformat.js/0.2.2/messageformat.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    @*<script src="~/lib/angular/angular.js"></script>*@
    <script src="~/lib/angular-animate/angular-animate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-animate.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-cookies.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-sanitize.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.7.2/angular-translate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-interpolation-messageformat/2.7.2/angular-translate-interpolation-messageformat.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-storage-cookie/2.7.2/angular-translate-storage-cookie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-storage-local/2.7.2/angular-translate-storage-local.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-loader-url/2.7.2/angular-translate-loader-url.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-loader-static-files/2.7.2/angular-translate-loader-static-files.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-handler-log/2.7.2/angular-translate-handler-log.js"></script>
    <link href="~/lib/dropzone/dist/dropzone.css" rel="stylesheet" />
    <script src="~/lib/dropzone/dist/dropzone.js"></script>
    <title translate>Mandir Darsan</title>
    <meta name="description" content="The description of my page" />
</head>
<body ng-controller="LangController">
    <div class="loading">
        <a href="~/English/Home"><img src="~/images/MandirDarsanLoader.gif" /></a>
    </div>
    <div class="menu-overlay">
        <header id="header">
            <div class="top-header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <ul class="social">
                                @*<li class="twitter"><a title="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="google-plus"><a title="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>*@
                                <li class="facebook"><a title="facebook" href="http://www.mandirdarsan.com"><i class="fa fa-facebook"></i></a></li>
                                @*<li class="pinterest"><a title="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li class="linkedin"><a title="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li class="rss"><a title="rss" href="#"><i class="fa fa-rss"></i></a></li>*@
                            </ul>
                        </div>
                        <div class="col-md-8">
                            <div class="header-info">
                                <div class="phone" translate>
                                    <span translate>24/7 Support:</span><i class="fa fa-phone"></i>+977 9841 062 442
                                </div>
                                <div class="mail">
                                    <i class="fa fa-envelope-o"></i><a href="mailto:mail@demolink.org">info@rockmandu.com</a>
                                </div>
                                <div class="search-form hidden-phone clearfix">
                                    <a href="#"><i class="fa fa-search"></i></a>
                                    @Html.Partial("_Search")
                                </div>
                                @await Component.InvokeAsync("Culture")
                                @await Component.InvokeAsync("CartSummary")
                                @if (User.IsSignedIn())
                                {
                                    <div class="dropdown translator langchose">
                                        <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" translate>
                                            My Account
                                            <i class="caret"></i>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                            <li>
                                                <a href="" translate>Profile</a>
                                            </li>
                                            <li>
                                                <form method="post" action="~/English/Account/LogOff">
                                                    @Html.AntiForgeryToken()
                                                    <button type="submit" translate>Log off</button>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                    @*<li class="dropdown">
                                        <span translate></span>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="~/Admin/Home/" translate>Profile</a>
                                            </li>
                                            <li>
                                                <form asp-controller="Account" asp-action="LogOff" method="post">
                                                    <button type="submit" translate>Log off</button>
                                                </form>
                                            </li>
                                        </ul>
                                    </li>*@
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("_Navigation")
        </header>

        @Html.Partial("_Breadcrumb")
        <section class="block block-light">
            <div class="container">
                <div class="row">
                    @Html.Partial("_UserMenu")
                    <!--end of header-->
                    @RenderBody()
                    <!--end of billboard-->
                </div>
            </div>
        </section>
    </div>
    <script type="text/javascript" src="~/js/jquery-1.10.1.min.js"></script>
    <script src="~/lib//modernizer/modernizr.js"></script>
    <script type="text/javascript" src="~/lib/moment/moment.js"></script>
    <script type="text/javascript" src="~/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="~/js/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/js/superfish.js"></script>
    <script type="text/javascript" src="~/js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="~/js/appstore.js"></script>
    <script src="~/Scripts/MandirDarsan.js"></script>
    @RenderSection("scripts", required: false)
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-27034841-5', 'auto');
  ga('send', 'pageview');
    </script>
</body>
</html>