﻿@model MandirDarsan.Areas.Admin.Models.Categories

@{
    ViewBag.Title = "Edit";
}

@*<h2>Edit</h2>*@


																			<div @Html.Partial("_CultureHelper")>
	 <form action="/Admin/Categories/Edit/" method="post">

    @Html.AntiForgeryToken()
	   @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.CreatedBy)
            @Html.HiddenFor(model => model.CreatedDate)

            @Html.HiddenFor(model => model.ModifiedBy)
            @Html.HiddenFor(model => model.ModifiedDate)
            
            @Html.HiddenFor(model => model.VerifiedDate)
            @Html.HiddenFor(model => model.VerifiedBy)
            @Html.HiddenFor(model => model.Verified)
        @Html.HiddenFor(model => model.DelFlg)
	 
<div class="col-md-9">
@Html.Partial("_CreateEditCulture")
			<br />
            <div id="my-tab-content" class="tab-content">
                <div ng-repeat="culturecode in subCulture" class="tab-pane" id="s{{culturecode}}">
    <div class="form-horizontal col-md-10">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
     @*   @Html.HiddenFor(model => model.LanguageId)*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.MultiLingual, htmlAttributes: new { @class = "control-label col-md-2", @translate="" })
            <div class="col-md-10">
						  
					                 <input class="form-control text-box single-line required" id="MultiLingual{{culturecode}}" name="MultiLingual{{culturecode}}" type="text" value="@Model.MultiLingual" >
				                @Html.ValidationMessageFor(model => model.MultiLingual, "", new { @class = "text-danger" })
            </div>
        </div>
	
        <div class="form-group">
            @Html.LabelFor(model => model.MultiLingualFiles, htmlAttributes: new { @class = "control-label col-md-2", @translate="" })
            <div class="col-md-10">
						  
					                 <input class="form-control text-box single-line required" id="MultiLingualFiles{{culturecode}}" name="MultiLingualFiles{{culturecode}}" type="text" value="@Model.MultiLingualFiles" >
				                @Html.ValidationMessageFor(model => model.MultiLingualFiles, "", new { @class = "text-danger" })
            </div>
        </div>
	
        <div class="form-group">
            @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2", @translate="" })
            <div class="col-md-10">
						  
					                 <input class="form-control text-box single-line required" id="Id{{culturecode}}" name="Id{{culturecode}}" type="text" value="@Model.Id" >
				                @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
            </div>
        </div>*@
	
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2", @translate="" })
            <div class="col-md-10">
						  
					                 <input class="form-control text-box single-line required" id="Title{{culturecode}}" name="Title{{culturecode}}" type="text" value="@Model.Title" >
				                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>
	
        @*<div class="form-group">
            @Html.LabelFor(model => model.HasSubCategory, htmlAttributes: new { @class = "control-label col-md-2", @translate="" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.HasSubCategory)
                    @Html.ValidationMessageFor(model => model.HasSubCategory, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>*@
	
        @*<div class="form-group">
            @Html.LabelFor(model => model.Categoryof, htmlAttributes: new { @class = "control-label col-md-2", @translate="" })
            <div class="col-md-10">
						  
					                 <input class="form-control text-box single-line required" id="Categoryof{{culturecode}}" name="Categoryof{{culturecode}}" type="text" value="@Model.Categoryof" >
				                @Html.ValidationMessageFor(model => model.Categoryof, "", new { @class = "text-danger" })
            </div>
        </div>*@
	
        @*<div class="form-group">
            @Html.LabelFor(model => model.DisplayOrder, htmlAttributes: new { @class = "control-label col-md-2", @translate="" })
            <div class="col-md-10">
						  
					                 <input class="form-control text-box single-line required" id="DisplayOrder{{culturecode}}" name="DisplayOrder{{culturecode}}" type="text" value="@Model.DisplayOrder" >
				                @Html.ValidationMessageFor(model => model.DisplayOrder, "", new { @class = "text-danger" })
            </div>
        </div>*@
	
        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2", @translate="" })
            <div class="col-md-10">
														<textarea class="form-control" id="Description{{culturecode}}" name="Description{{culturecode}} ">@Model.Description</textarea>
				                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
</div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save Categories" class="btn btn-success" translate/>
				<a href="/admin/Categories/index"> <input type="button" value="Back To List" class="btn btn-danger" translate/></a>
                @*<input type="button" value="Back To List" class="btn btn-danger" />*@
            </div>
        </div>
    </div>
	</div>
	</div>
	</form>
	</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_Edit");
        await Html.RenderPartialAsync("_CreateEdit");
    }
}