﻿@model MandirDarsan.Areas.Admin.Models.Product
@if (Model != null)
{
    <li>
        <br />
        <small><i><label title="New Arrivals!" style="color:red" translate>New Arrivals!</label></i></small>
        <i><a id="NewArrivalsPanel" asp-controller="Store" asp-action="Details" asp-route-id="@Model.ProductId">@Model.Name</a></i>
    </li>
}