﻿@model MandirDarsan.Areas.Admin.Models.Globalization
@{
    ViewBag.Title = "Create";
}
<form action="/Admin/Globalizations/Create/" method="post">
    @Html.AntiForgeryToken()
    <div class="col-md-9">
        <div class="form-horizontal col-md-10">

            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            <div class="form-group">
                @Html.LabelFor(model => model.LanguageTitleId, "LanguageTitleId", htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.DropDownList("LanguageTitleId", null, htmlAttributes: new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.LanguageTitleId, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Value, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Value, new {htmlAttributes = new {@class = "form-control"}})


                    @Html.ValidationMessageFor(model => model.Value, "", new {@class = "text-danger"})
                </div>
            </div>
            @Html.DropDownList("CultureId", null, htmlAttributes: new { @class = "form-control hidden" })
            @*<div class="form-group">
                @Html.LabelFor(model => model.Active, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Active)
                        @Html.ValidationMessageFor(model => model.Active, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>*@
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create New Globalization" class="btn btn-success"/>
                    <a href="/admin/Globalizations/index/@ViewBag.Segment"> <input type="button" value="Back To List" class="btn btn-danger"/></a>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts {
        @{
            await Html.RenderPartialAsync("_CreateEdit");
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }