﻿@model MandirDarsan.Areas.Admin.Models.Globalization

@{
    ViewBag.Title = "Edit";
}

@*<h2>Edit</h2>*@


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <input type="hidden" name="CreatedBy" value="@Model.CreatedBy" />
    <input type="hidden" name="CreatedDate" value="@Model.CreatedDate" />


                <div class="col-md-9">
                    <div class="form-horizontal col-md-10">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.DelFlg)
                            @*@Html.HiddenFor(model => model.Id)*@
                        <div class="form-group">
                            @Html.LabelFor(model => model.LanguageTitleId, "LanguageTitleId", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("LanguageTitleId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.LanguageTitleId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Value, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">

                                @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CultureId, "CultureId", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("CultureId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CultureId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.Active)
                                    @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>*@
                        @Html.HiddenFor(model => model.Active)


                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save Globalization" class="btn btn-success" />
                                <a href="/Admin/Globalizations/Index/@ViewBag.Segment"> <input type="button" value="Back To List" class="btn btn-danger" /></a>
                                @*<input type="button" value="Back To List" class="btn btn-danger" />*@
                            </div>
                        </div>
                    </div>
                </div>



}



@section Scripts {
    @{
        await Html.RenderPartialAsync("_CreateEdit");
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}