﻿@*@model IEnumerable<MandirDarsan.Areas.Admin.Models.Globalization>*@
@model PagedList.IPagedList<MandirDarsan.Areas.Admin.Models.Globalization>
@using MandirDarsan.Areas.Admin.Models
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}
<div class="col-md-9">
    <div class="clearfix alert alert-grey">
        @if (Model.Any())
        {
            <form class="navbar-form navbar-left" role="search" action="/admin/Globalizations/index">
                @if (Model.Any())
                {
                    @Html.Partial("_IndexSearch")
                }
            </form>}
        <div class="pull-right">
            <a href="~/Admin/Globalizations/Create/@ViewBag.Segment" class="btn btn-primary btn-sm" translate>Create New</a>
            <a href="~/Admin/Globalizations/Trash/@ViewBag.Segment" class="btn btn-primary btn-sm" translate>Trash</a><br />
        </div>
    </div>
    <div class="table-responsive clearfix">
        @if (Model.Any())
        {
            <table class="table table-striped table-common">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Culture.Title)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.First().LanguageTitle.Title)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.First().Value)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.First().Active)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.Culture.Title)
                            </td>


                            <td>
                                @Html.DisplayFor(modelItem => item.LanguageTitle.Title)
                            </td>


                            <td>
                                @Html.DisplayFor(modelItem => item.Value)
                            </td>


                            <td>
                                @Html.DisplayFor(modelItem => item.Active)
                            </td>

                            <td>
                                <form method="post" class="form-horizontal" role="form" action="/Admin/Globalizations/Delete?id=@item.Id" asp-anti-forgery="true">
                                    @Html.ActionLink("", "Edit", new { id = item.Id }, new { @class = "fa fa-edit btn btn-success", @title = "Edit", @style = "text-decoration:none;" })
                                    <a href="/Admin/Globalizations/Details?id=@item.Id" class="fa fa-copy btn btn-primary" title="Details"></a>
                                    @Html.AntiForgeryToken()
                                    <input type="submit" value="Delete" id="delete" name="delete" class="btn btn-danger fa fa-trash" />
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <text>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</text>}
        else
        {<BR /><BR /><BR />
        <div class="text-center">
            @*<p translate> No Globalizations found for this language If you want to contribute</p>*@

            @*@foreach (var items in ViewBag.Culture as List<Culture>)
            {
                if (User.IsInRole(items.Title + "Contributer") || User.IsInRole("Admin"))
                {
                    <a href="~/Admin/Globalizations/Create/@items.Title" class="btn btn-primary btn-sm" translate>Create New @items.Title Globalization</a>
                }
            }*@


            @if (User.IsInRole("NepaliContributer") || User.IsInRole("Admin"))
            {
                <a href="~/Admin/Globalizations/Create/Nepali" class="btn btn-primary btn-sm" translate>Create New Nepali Globalization</a>
                <Br />
            }
            @if (User.IsInRole("HindiContributer") || User.IsInRole("Admin"))
            {
                <a href="~/Admin/Globalizations/Create/Hindi" class="btn btn-primary btn-sm" translate>Create New Hindi Globalization</a>
                <Br />
            }
            @if (User.IsInRole("SanskritContributer") || User.IsInRole("Admin"))
            {
                <a href="~/Admin/Globalizations/Create/Sanskrit" class="btn btn-primary btn-sm" translate>Create New Sanskrit Globalization</a>
                <Br />
            }
            @if (User.IsInRole("ChineseContributer") || User.IsInRole("Admin"))
            {
                <a href="~/Admin/Globalizations/Create/Chinese" class="btn btn-primary btn-sm" translate>Create New Chinese Globalization</a>
                <Br />
            }
            @if (User.IsInRole("NewariContributer") || User.IsInRole("Admin"))
            {
                <a href="~/Admin/Globalizations/Create/Newari" class="btn btn-primary btn-sm" translate>Create New Newari Globalization</a>
                <Br />
            }
        </div>
        }
    </div>
</div>
@*@Html.PagedListPager(Model,pageNo => Url.Action("Index",new { pageNo,sortOrder = ViewBag.CurrentSort,currentFiler=ViewBag.CurrentFilter,filtervalue=ViewBag.FilterValue}))*@
