﻿@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Index";
}
@Html.ActionLink("Create Role", "Create", "Role")<BR/><BR/>
<table id="tbrole">
    @foreach (var item in Model)
    {
        <li>@item.Name</li>
    }   
</table>