﻿<table class="t1">
    <tr>
        <td class="t1">
            @Html.ActionLink("Create Role", "Create")
        </td>
        <td class="t1">
            @Html.ActionLink("Set Role To User", "SetRoleToUser")
        </td>
    </tr>
</table>
<form action="~/Account/AddToRoleUser" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <p>
        UserName: @Html.DropDownList("UName", (
                      IEnumerable<SelectListItem>) ViewBag.Users, "Select User")
        Role Name: @Html.DropDownList("RoleName", (
                       IEnumerable<SelectListItem>) ViewBag.Roles, "Select Role")
    </p>
    <input type="submit" value="Save"/>
</form>