﻿@model MandirDarsan.ViewModels.Mandir.BoxProductViewModel
@{
    
}
<div class="post-list">
    <article class="post ">
        <div class="post-content">
            <figure class="poast-thumb img-align-left">
                <a href="#">
                    <img alt="" src="@Model.Image">
                </a>
            </figure>
            <div class="entry">
                <h4><a href="#">@Model.Title</a></h4>
                <p>@Model.Description</p>
                <a href="@Model.URL" class="btn btn-primary"><span translate>View Details</span></a>
            </div>
        </div>
    </article>
</div>