@model MandirDarsan.Models.Categories

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Categories</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AuthorUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AuthorUserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Categoryof)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Categoryof)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DelFlg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DelFlg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DisplayOrder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DisplayOrder)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HasSubCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HasSubCategory)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VerifiedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VerifiedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VerifiedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VerifiedDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
