﻿@model MandirDarsan.Areas.Admin.Models.Temple
@using MandirDarsan.Areas.Admin.Models
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Extensions
@Html.Partial("_Breadcrumb")
@section Tags {
<meta name="description" content="Virtual Tour : @Model.Summary" />
<meta name="keywords" content="Virtual Tour" />
<meta name="author" content="mandirdarsan.com" />
<meta name="copyright" content="mandirdarsan.com" />
<meta name="application-name" content="mandirdarsan" />
    <meta property="og:title" content="Virtual Tour of @Model.Title" />
    <meta property="og:type" content="article"/>
    @try
    {
        <meta property="og:image" content="@Model.ImageUrl.Replace("~/","http://www.mandirdarsan.com/")" />
    }
    catch (Exception)
    {
        <meta property="og:image" content="@Model.ImageUrl" />
    }
    <meta property="og:url" content="@this.Context.Request.GetDisplayUrl()" />
    <meta property="og:description" content="@Model.Summary"/>
    <meta name="twitter:card" content="@Model.Summary" />
    <meta name="twitter:title" content="Virtual Tour of @Model.Title" />
    <meta name="twitter:description" content="@Model.Description"/>
    @try
    {
        <meta name="twitter:image" content="@Model.ImageUrl" />
    }
    catch (Exception)
    {
        <meta name="twitter:image" content="@Model.ImageUrl"/>
    }
}
<section class="block block-light">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                @if (Model.Verified == false)
                {
                    @Html.Partial("_VerificationMessage")
                }
@if ((Model.Verified == true || User.IsInRole("Admin")) || (User.Identity.Name == Model.CreatedBy || User.Identity.Name == Model.ModifiedBy))
{
    <div class="add-margin-30">


        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
            <li>
                <a href="#image" data-toggle="tab">Images</a>
            </li>
            <li>
                <a href="#vtour" data-toggle="tab" class="active">Virtual tour</a>
            </li>
        </ul>
        <div id="my-tab-content" class="tab-content">
            <div class="tab-pane" id="image">
                <ul class="service-slider clearfix">
                    @foreach (var items in ViewData["Images"] as List<Gallery>)
                    {
                        <li>
                            <img src="@items.ImageUrl" alt="@items.Title"/>
                        </li>
                    }
                </ul>
            </div>
            <div class="tab-pane active" id="vtour">
                <iframe src="http://mandirdarsan.com/Virtualtours/@Model.Id/@Model.Id virtualtour.html" style="height: 70%; width: 100%;"></iframe>
            </div>
        </div>

    </div>

                @Html.Partial("_Sharer")
                <h4>@Model.Title</h4>
    <div class="package-info">
        @Html.Raw(Model.Description)
    </div>
}
            </div>
            <div class="col-md-4">
                <div class="sidebar">
                    @Html.Partial("_WidgetTemple")
                    @Html.Partial("_WidgetProduct")
                </div>
            </div>
        </div>
    </div>
</section>
@Html.Partial("_BlockGod")