﻿@using System.Threading.Tasks
@using Microsoft.Data.Entity.Metadata.Internal
@model IEnumerable<MandirDarsan.Areas.Admin.Models.Temple>
@Html.Partial("_Breadcrumb")
<section class="block block-light">
    <div class="container">
        <div class="row">
            @if (Model.Any() && Model != null)
            {
                foreach (var Item in Model)
                 {
                     <div class="col-md-3 col-sm-6">
                         <div class="post-list">
                             <article class="post ">
                                 <div class="post-content">
                                     <figure class="post-thumb">
                                         <a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Temples/Details/@Item.Title.Replace(" ","_")/@Item.Id">
                                             @try
                                             {
                                                <img alt="" src="@Item.ImageUrl.Replace(".jpg", "_carousel.jpg")" style="height: 195px">
                                             }
                                             catch (Exception)
                                             {
                                                <img alt="" src="@Item.ImageUrl" style="height: 195px">
                                             }
                                         </a>
                                     </figure>
                                     <div class="entry">
                                         <h4>
                                             @try
                                             {
                                                 <a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Temples/Details/@Item.Title.Replace(" ","_")/@Item.Id">@Item.Title.Substring(0, 18)</a>

                                             }
                                             catch (Exception)
                                             {
                                                 <a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Temples/Details/@Item.Title.Replace(" ","_")/@Item.Id">@Item.Title</a>
                                             }
                                         </h4>
                                         <p>@Html.Raw(Item.Summary)</p>
                                         <a href="~/@ViewContext.RouteData.Values["culture"].ToString()/Temples/Details/@Item.Title.Replace(" ","_")/@Item.Id" class="btn btn-primary"><span translate>View Details</span></a>
                                     </div>
                                 </div>
                             </article>
                         </div>
                     </div>
                 }
            }
            else
            {
                <TEXT>No Data</TEXT>
            }
        </div>
    </div>
</section>