﻿@{
  //  Layout = "~/Areas/Admin/Views/Shared/_LayoutUser.cshtml";
    Layout = null;
}
@*<head app="MeroApp">
        @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        @*<script src="~/lib/leaflet/dist/leaflet.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.js"></script>

        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
        <script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>

        <script src="~/lib/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>

        <link rel="stylesheet" href="~/lib/leaflet/dist/leaflet.css">

        <script>

        var app = angular.module("MeroApp", ['leaflet-directive']);
            app.controller("BasicFirstController", [ "$scope", function($scope) {
                // Nothing here!
            }]);

        </script>
    </head>
    <body>
        <div>
            <div ng-controller="BasicFirstController">
                <leaflet width="100%" height="480px"></leaflet>
            </div>
        </div>
    </body>*@

@*<!DOCTYPE html>
    <html ng-app="demoapp">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
        <script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>

        <script src="~/lib/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>

        <link rel="stylesheet" href="~/lib/leaflet/dist/leaflet.css">
        <script>
            var app = angular.module("demoapp", ['leaflet-directive']);
            app.controller("MarkerController", ['$scope', function ($scope) {
                angular.extend($scope, {
                    osloCenter: {
                        lat: 59.91,
                        lng: 10.75,
                        zoom: 12
                    },
                    markers: {
                        osloMarker: {
                            lat: 59.91,
                            lng: 10.75,
                            message: "I want to travel here!",
                            focus: true,
                            draggable: false
                        }
                    },
                    defaults: {
                        scrollWheelZoom: false
                    }
                });
            }]);
        </script>
    </head>
    <div ng-controller="MarkerController">
        <leaflet markers="markers" center="osloCenter"></leaflet>
    </div>
    </html>*@
@*<!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <title>Simple markers</title>
        <style>
            html, body {
                height: 100%;
                margin: 0;
                padding: 0;
            }

            #map {
                height: 100%;
            }
        </style>
    </head>
    <body>
        <div id="map"></div>
        <script>

    function initMap() {
      var myLatLng = {lat: -25.363, lng: 131.044};

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 4,
        center: myLatLng
      });

      var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: 'Hello World!'
      });
    }

        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5wI2lrfsK1abWK-QStsSgcIX7DbLK2go&signed_in=true&callback=initMap"></script>
    </body>
    </html>*@
@*<script src='~/lib/lodash/lodash.min.js'></script>*@

@*<script src="~/lib/angular/angular.js"></script>*@

@*<script src="~/lib/angular-simple-logger/dist/angular-simple-logger.js"></script>*@

@*<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>*@
@*<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>*@


@*<script src='~/lib/angular-google-maps/dist/angular-google-maps.js'></script>*@
<style>
    
</style>
<body id='ng-app' ng-app="search-box-example" ng-controller="SearchBoxController">
<div>
    <div id="searchBoxParent"></div>
    <div>
        <ui-gmap-google-map center="map.center"
                            zoom="map.zoom"
                            dragging="map.dragging"
                            bounds="map.bounds"
                            events="map.events"
                            options="map.options"
                            pan="true"
                            control="map.control">
            <!--to add as a map control -->
            <ui-gmap-search-box options="searchbox.options" template="searchbox.template"
                                events="searchbox.events" position="searchbox.position"></ui-gmap-search-box>
            <!--to add to a parent div-->
            <!-- <ui-gmap-search-box options="searchbox.options" template="searchbox.template" events="searchbox.events" parentdiv="searchbox.parentdiv"></ui-gmap-search-box> -->

            <ui-gmap-markers idkey="map.idkey" models="map.markers" coords="'self'" icon="'icon'"
                             click="'onClicked'"></ui-gmap-markers>
            <ui-gmap-window coords="selected" idkey="selected.place_id" templateurl="selected.templateurl"
                            templateparameter="selected.templateparameter" options="selected.options"
                            closeClick='selected.closeClick()' ng-cloak>
            </ui-gmap-window>

        </ui-gmap-google-map>
        <button type="button" ng-click="toggleMap()">Toggle Visibility</button>
        <span ng-bind="searchbox.options.visible"></span>
    </div>
</div>

    <script src="~/lib/angular-google-maps/dist/dev_deps.js"></script>

<!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>-->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js" type="text/javascript"></script>
<script src="http://cdn.rawgit.com/nmccready/angular-simple-logger/0.0.1/dist/index.js"></script>
<script src="~/lib/angular-google-maps/dist/angular-google-maps_dev_mapped.js"></script>
@*<script src="assets/scripts/controllers/search-box.js"></script>*@
</body>
<script>
angular.module("search-box-example", ['uiGmapgoogle-maps'])

.config(['uiGmapGoogleMapApiProvider', function (GoogleMapApi) {
    GoogleMapApi.configure({
        //    key: 'your api key',
        v: '3.17',
        libraries: 'places'
    });
}])

.run(['$templateCache', function ($templateCache) {
    $templateCache.put('searchbox.tpl.html', '<input id="pac-input" class="pac-controls" type="text" placeholder="Search">');
    $templateCache.put('window.tpl.html', '<div ng-controller="WindowCtrl" ng-init="showPlaceDetails(parameter)">{{place.name}}</div>');
}])

.controller('WindowCtrl', function ($scope) {
    $scope.place = {};
    $scope.showPlaceDetails = function (param) {
        $scope.place = param;
    }
})

.controller("SearchBoxController", ['$scope', '$timeout', 'uiGmapLogger', '$http', 'uiGmapGoogleMapApi'
    , function ($scope, $timeout, $log, $http, GoogleMapApi) {
        $log.doLog = true

        $scope.toggleMap = function () {
            $scope.searchbox.options.visible = !$scope.searchbox.options.visible
        }

        GoogleMapApi.then(function (maps) {
            maps.visualRefresh = true;
            $scope.defaultBounds = new google.maps.LatLngBounds(
              new google.maps.LatLng(40.82148, -73.66450),
              new google.maps.LatLng(40.66541, -74.31715));


            $scope.map.bounds = {
                northeast: {
                    latitude: $scope.defaultBounds.getNorthEast().lat(),
                    longitude: $scope.defaultBounds.getNorthEast().lng()
                },
                southwest: {
                    latitude: $scope.defaultBounds.getSouthWest().lat(),
                    longitude: -$scope.defaultBounds.getSouthWest().lng()

                }
            }
            $scope.searchbox.options.bounds = new google.maps.LatLngBounds($scope.defaultBounds.getNorthEast(), $scope.defaultBounds.getSouthWest());
        });

        angular.extend($scope, {
            selected: {
                options: {
                    visible: false

                },
                templateurl: 'Maps',
                templateparameter: {}
            },
            map: {
                control: {},
                center: {
                    latitude: 40.74349,
                    longitude: -73.990822
                },
                zoom: 12,
                dragging: false,
                bounds: {},
                markers: [],
                idkey: 'place_id',
                events: {
                    idle: function (map) {

                    },
                    dragend: function (map) {
                        //update the search box bounds after dragging the map
                        var bounds = map.getBounds();
                        var ne = bounds.getNorthEast();
                        var sw = bounds.getSouthWest();
                        $scope.searchbox.options.bounds = new google.maps.LatLngBounds(sw, ne);
                        //$scope.searchbox.options.visible = true;
                    }
                }
            },
            searchbox: {
                template: 'searchbox.tpl.html',
                //position:'top-right',
                position: 'top-left',
                options: {
                    bounds: {},
                    visible: true
                },
                //parentdiv:'searchBoxParent',
                events: {
                    places_changed: function (searchBox) {

                        places = searchBox.getPlaces()

                        if (places.length == 0) {
                            return;
                        }
                        // For each place, get the icon, place name, and location.
                        newMarkers = [];
                        var bounds = new google.maps.LatLngBounds();
                        for (var i = 0, place; place = places[i]; i++) {
                            // Create a marker for each place.
                            var marker = {
                                id: i,
                                place_id: place.place_id,
                                name: place.name,
                                latitude: place.geometry.location.lat(),
                                longitude: place.geometry.location.lng(),
                                options: {
                                    visible: false
                                },
                                templateurl: 'window.tpl.html',
                                templateparameter: place
                            };
                            newMarkers.push(marker);

                            bounds.extend(place.geometry.location);
                        }

                        $scope.map.bounds = {
                            northeast: {
                                latitude: bounds.getNorthEast().lat(),
                                longitude: bounds.getNorthEast().lng()
                            },
                            southwest: {
                                latitude: bounds.getSouthWest().lat(),
                                longitude: bounds.getSouthWest().lng()
                            }
                        }

                        _.each(newMarkers, function (marker) {
                            marker.closeClick = function () {
                                $scope.selected.options.visible = false;
                                marker.options.visble = false;
                                return $scope.$apply();
                            };
                            marker.onClicked = function () {
                                $scope.selected.options.visible = false;
                                $scope.selected = marker;
                                $scope.selected.options.visible = true;
                            };
                        });

                        $scope.map.markers = newMarkers;
                    }
                }
            }
        });
    }]);

</script>