﻿@using System.Threading.Tasks
@using MandirDarsan.Areas.Admin.Models
@using Microsoft.Data.Entity.Metadata.Internal
@model IEnumerable<Culture>
@*//@ViewBag.Culture = model;*@
<div class="dropdown translator langchose">
    <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" translate>
        Languages
        <i class="caret"></i>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        @foreach (var items in Model)
        {
            @*<li><a ng-click="setLanguage('@items.Title')">@items.Title <img src="~/images/sitesets/@string.Concat(items.Title, ".png")"/></a></li>*@
            <li><a ng-click="setLanguage('@items.Title')" translate>@items.Title</a></li>
        }
    </ul>
</div>