﻿@*<section class="block title-sec">
<div class="container">
    <h1 class="page-toitle">Checkout</h1>
    <ul class="breadcrumb">
        <li><a href="index">Home</a></li>
        <li>Checkout</li>
    </ul>
</div>
            </section>*@
@Html.Partial("_Breadcrumb")
<section class="block block-light">
    <div class="container">
        <div class="">
            <div class="page-header">
                <div class="heading-description">
                    <h6 translate>Review Your cart</h6>
                </div>
            </div>
            <div class="">
                <table class="table table-hover table-common table-cart">
                    <thead>
                        <tr>
                            <th translate>
                                Images
                            </th>
                            <th translate>
                                Product Name
                            </th>
                            <th translate>
                                Unit Price
                            </th>
                            <th translate>
                                Quantity
                            </th>
                            <th translate>
                                Total
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="row-item.RecordId">
                            <td>
                                <div class="product-thumbnail">
                                    <img width="90" height="90" src="http://www.sampression.com/wp-content/uploads/sampression-pro-thumbnail-90x90.png">
                                </div>
                            </td>
                            <td>
                                Product
                            </td>
                            <td>
                                1000
                            </td>
                            <td id="item-count-item.RecordId">
                                2
                            </td>
                            <td id="item-count-item.RecordId">
                                2000
                            </td>
                            <td>

                                <a href="RemoveFromCart" class="fa fa-times icon-delete" data-id="asd">

                                </a>
                            </td>
                        </tr>
                        <!--    <tr>
                            <td>
                                Total
                            </td>
                            <td>
                                @Html.ActionLink("Empty Cart",
                            "EmptyCart", "Store", null)
                            </td>
                            <td>
                                <a href="~/checkout/shipping">Checkout</a>
                            </td>
                            <td id="cart-total">
                                Model.GetTotal
                            </td>
                        </tr>* -->
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6" class="actions">

                                <div class="coupon">
                                    <input type="text" name="coupon_code" class="input-text form-control col-xs-5" id="coupon_code" value="" translate translate-attr-placeholder="Coupon code">
                                    <input type="submit" class="btn  button" name="apply_coupon" value="Apply Coupon">
                                </div>
                            </td>
                        </tr>
                    </tfoot>

                </table>


            </div>
            <div class="cart-totals">


                <h2>Cart Totals</h2>

                <table cellspacing="0" class="table table-common">

                    <tbody>
                        <tr class="cart-subtotal">
                            <th translate>Subtotal</th>
                            <td><span class="amount">$&nbsp;49.00</span> / year</td>
                        </tr>

                        <tr class="order-total">
                            <th translate>Total</th>
                            <td><strong><span class="amount">$&nbsp;49.00</span> / year</strong> </td>
                        </tr>


                    </tbody>
                </table>


                <div class="wc-proceed-to-checkout pull-right">

                    <a href="~/cart/checkout" class="btn btn-primary" translate>Proceed to Checkout</a>

                </div>


            </div>
        </div>

    </div>
</section>
    
  