﻿@using ImageResizer.ExtensionMethods
@model MandirDarsan.ViewModels.Mandir.ShoppingCartViewModel
@inject Microsoft.AspNet.Antiforgery.IAntiforgery Xsrf
@{
    ViewBag.Title = "Shopping Cart";
}
@functions
{
    public string GetAntiXsrfToken()
    {
        var tokens = Xsrf.GetTokens(Context);
        return tokens.CookieToken + ":" + tokens.FormToken;
    }
}
@section Scripts {
    <script type="text/javascript">
        $(function () {
            // Document.ready -> link up remove event handler
            $(".RemoveLink").click(function () {
               // alert("asdas");
                // Get the id from the link
                var recordToDelete = $(this).attr("data-id");
                var PostToUrl = $(this).attr("data-url");
               // a//lert(PostToUrl);
                if (recordToDelete != '') {
                   // alert(recordToDelete);
                    // Perform the ajax post
                    $.ajax(PostToUrl, {
                        type: "post",
                        data: { "id": recordToDelete },
                        dataType: "json",
                        headers: {
                            "RequestVerificationToken": '@GetAntiXsrfToken()'
                        }
                    }).done(function (data) {
                        //alert(data.DeleteId);
                        location.reload();
                        if (data.ItemCount == 0) {
                            $('#row-' + data.DeleteId).fadeOut('slow');
                        } else {
                            $('#item-count-' + data.DeleteId).text(data.ItemCount);
                        }

                        $('#cart-total').text(data.CartTotal);
                        $('#update-message').text(data.Message);
                        $('#cart-status').text('Cart (' + data.CartCount + ')');
                    });
                }
            });

        });
    </script>
}
<section class="block title-sec">
    <div class="container">
        <h1 class="page-toitle" translate>Checkout</h1>
        <ul class="breadcrumb" translate>
            <li><a href="index" translate>Home</a></li>
            <li translate>Checkout</li>
        </ul>
    </div>
</section>
<section class="block block-light">
    <div class="container">
        <div class="">
            <div class="page-header">
                <div class="heading-description">
                    <h6 translate>Review Your cart</h6>
                </div>
            </div>
            <div class="">
                <table class="table table-hover table-common table-cart">
                    <thead>
                        <tr>
                            <th translate>
                                Image
                            </th>
                            <th translate>
                                Product
                            </th>
                            <th translate>
                                Unit Price
                            </th>
                            <th translate>
                                Quantity
                            </th>
                            <th translate>
                                Total
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.CartItems)
                    {
                        <tr id="row-@item.CartId">
                            <td>
                                <div class="product-thumbnail">
                                    <img width="90" height="90" src="@item.Product.ImageUrl">
                                </div>
                            </td>
                            <td>
                               @item.Product.Title
                            </td>
                            <td>
                                    @item.Product.Price
                            </td>
                            <td id="item-count-item.RecordId">
                                    @item.Count
                                </td>
                            <td id="item-count-item.RecordId">
                                    {{@item.Count * @item.Product.Price}}
                            </td>
                            <td>
                                <a href="#" class="RemoveLink" data-id="@item.ProductId"
                                   data-url='@Url.Content("~/English/ShoppingCart/RemoveFromCart")' translate>
                                    Remove from cart
                                </a>
                             </td>
                        </tr>
                    }
                    <!-- <tr>
                        <td>
                            Total
                        </td>
                        <td>
                            @Html.ActionLink("Empty Cart",
                                "EmptyCart", "Store", null)
                        </td>
                        <td>
                            <a href="~/checkout/shipping">Checkout</a>
                        </td>
                        <td id="cart-total">
                            Model.GetTotal
                        </td>
                    </tr>* -->
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6" class="actions">
                                <div class="coupon">
                                    <input type="text" name="coupon_code" class="input-text form-control col-xs-5" id="coupon_code" value="" translate translate-attr-placeholder="Coupon code">
                                    <input type="submit" class="btn  button" name="apply_coupon" value="Apply Coupon">
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="cart-totals">
                <h2 translate>Cart Totals</h2>
                <table cellspacing="0" class="table table-common">

                    <tbody>
                        <tr class="cart-subtotal">
                            <th translate>Subtotal</th>
                            @try
                            {
                                <td><span class="amount">@Model.CartTotal</span></td>
                            }
                            catch (Exception)
                            {

                            }
    
                        </tr>

                        <tr class="order-total">
                            <th translate>Total</th>
                            @try
                            {
                                <td><strong><span class="amount">@Model.CartTotal</span></strong> </td>
                            }
                            catch (Exception)
                            {


                            }
                       </tr>
                    </tbody>
                </table>
                <div class="wc-proceed-to-checkout pull-right">
                        <a asp-controller="Checkout" asp-action="AddressAndPayment" class="btn btn-primary" translate>Checkout</a>
                </div>
            </div>
        </div>
    </div>
</section>