﻿@model MandirDarsan.Areas.Admin.Models.Gallery
@{
    ViewBag.Title = "Create Gallery";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="col-md-9">
        @*<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                <li ng-repeat="culturecode in culture">
                    <a href="#s{{culturecode}}" data-toggle="tab" ng-click="setLanguage(culturecode)" ng-if="culturecode != 'English'" translate>{{culturecode}}</a>
                    <a href="#s" data-toggle="tab" ng-click="setLanguage('English')" ng-if="culturecode == 'English'" translate>{{culturecode}}</a>
                </li>
            </ul>*@
        <div id="my-tab-content" class="tab-content">
            <div class="form-horizontal col-md-10">
                <div class="alert alert-success fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                    <strong>Hi! </strong> Please upload more pictures for your content on @ViewContext.RouteData.Values["ctrl"].ToString() Once it get verified it will be accessed by public
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control text-box single-line required" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @*<BR><BR>@Html.TextAreaFor(model => model.Description, new { @class = "ckeditor", @id = "Description" })*@
                        <textarea class="form-control" id="Description" name="Description"></textarea>
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">

                    @Html.LabelFor(model => model.ImageUrl, " Select Upload Files", htmlAttributes: new { @class = "control-label col-md-2" })

                    <div class="col-md-10">
                        <form action="/file-upload" class="dropzone">
                              <div class="fallback">
                                  <input name="files" id="files" class="form-control" multiple type="file"/>
                              </div>
                        </form>

                                @Html.ValidationMessageFor(model => model.ImageUrl, "", new { @class = "text-danger" })
                            </div>
                    </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Tag, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Tag, new { htmlAttributes = new { @class = "form-control text-box single-line" } })
                        @Html.ValidationMessageFor(model => model.Tag, "", new { @class = "text-danger" })
                    </div>
                </div>
                @*<div class="form-group">
                        @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.Active)
                                @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>*@
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Process Further" class="btn btn-success" />
                        @Html.Hidden("cid", @ViewContext.RouteData.Values["cid"].ToString())
                        @Html.Hidden("ctrl", @ViewContext.RouteData.Values["ctrl"].ToString())
                        @*@Html.ActionLink("Back to List", "Index", "Galleries", new { cid = @ViewContext.RouteData.Values["cid"].ToString(), ctrl = @ViewContext.RouteData.Values["ctrl"].ToString() }, new { })*@
                        <a href="~/Admin/Galleries/Index/@ViewContext.RouteData.Values["ctrl"].ToString()/@ViewContext.RouteData.Values["cid"].ToString()">Back to Image List</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
}
@section Scripts {
    @*<script>
        $(document).ready(function () {
            Dropzone.autoDiscover = false;
            //Simple Dropzonejs
            $("#dZUpload").dropzone({
                url: "hn_SimpeFileUploader.ashx",
                addRemoveLinks: true,
                success: function (file, response) {
                    var imgName = response;
                    file.previewElement.classList.add("dz-success");
                    alert("Success");
                    //console.log(“Successfully uploaded :” + imgName);
                },
                error: function (file, response) {
                    file.previewElement.classList.add("dz-error");
                }
            });
        });
    </script>*@
    @{
        await Html.RenderPartialAsync("_CreateEdit");
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
