﻿@model PagedList.IPagedList<MandirDarsan.Areas.Admin.Models.Gallery>
@using MandirDarsan;
@using System.Threading.Tasks
@using System.Web
@using System.Web.UI.WebControls
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}
<div class="col-md-9">

    <div class="clearfix alert alert-grey">
        @if (Model.Any())
        {
            @Html.Partial("_IndexSearch")
        }
        <div class="pull-right">

            @Html.ActionLink("Back To " + @ViewContext.RouteData.Values["ctrl"].ToString(), "Index", @ViewContext.RouteData.Values["ctrl"].ToString(), new { id = @ViewContext.RouteData.Values["ctrl"].ToString() }, new { @class = "btn btn-primary" })
            @*@Html.ActionLink("Add Images For " + @ViewContext.RouteData.Values["ctrl"].ToString(), "Create", "galleries", new { cid = @ViewContext.RouteData.Values["cid"].ToString(), ctrl = @ViewContext.RouteData.Values["ctrl"].ToString() }, new { @class = "btn btn-primary" })*@
            <a class="btn btn-primary" href="~/Admin/Galleries/Create/@ViewContext.RouteData.Values["ctrl"].ToString()/@ViewContext.RouteData.Values["cid"].ToString()">Add Images to @ViewContext.RouteData.Values["ctrl"].ToString()</a>
            @*@Html.ActionLink("Back To " + @ViewContext.RouteData.Values["ctrl"].ToString(), "Index", @ViewContext.RouteData.Values["ctrl"].ToString())*@
        </div>
    </div>
    <div class="table-responsive clearfix">
        @if (Model.Any())
        {
            <table class="table table-striped table-common">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.First().ImageUrl)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Title)

                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Tag)
                        </th>
                        @*<th>
                            @Html.DisplayNameFor(model => model.First().Active)
                        </th>*@
                        <th>
                            Status
                        </th>
                       
                        <th>Options</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @if (item.ImageUrl != null)
                                {
                                    <div class="magnific-popup-wrap">
                                        <a class="gallery-popup" href="@item.ImageUrl" title="@item.Title">
                                            <img src="@item.ImageUrl.Replace(".jpg","_smallthumb.jpg")" alt="Image" class="mfp-fade item-gallery" />
                                        </a>
                                    </div>

                                }
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Tag)

                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.Active)
                            </td>*@
                            <td>
                                @RockmanduBase.VerificationStatus(item.Verified.ToString())
                            </td>
                            <td>
                                <form method="post" class="form-horizontal" role="form" action="/Admin/Galleries/Delete?id=@item.Id" asp-anti-forgery="true">
                                    @Html.ActionLink("", "Edit", new { id = item.Id }, new { @class = "fa fa-edit btn btn-success", @title = "Edit", @style = "text-decoration:none;" })
                                    @*<a href="/Admin/Galleries/Details?id=@item.Id" class="fa fa-copy btn btn-primary" title="Details"></a>*@
                                    @Html.AntiForgeryToken()
                                    <input type="submit" value="Delete" id="delete" name="delete" class="btn btn-danger fa fa-trash" />
                                    <a href="#" onclick="GetAuditHistory('@item.Id')()" translate>Changes</a>
                                    @*<a href="~/Admin/Galleries/Index//@item.Id">Add Images</a>*@
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @*<text>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</text>*@}
        else
        {

        }
    </div>
</div>